<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>
    <p-confirmDialog [style]="{width: '30%'}"></p-confirmDialog>

    <!-- Toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Assets</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Asset" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="addAssetsDialog()" *ngIf="permissions?.CanManageAssets" ></button>
      </ng-template>
    </p-toolbar>
    <!-- dialog -->
    <p-dialog header="Asset" [(visible)]="dialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '60%'}" (onHide)="onClose()">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbassets">
          <div class="col-12 roles-container">
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-4">
                <label>Code: <sup class="p-error">*</sup></label>
                <input pInputText id="code" type="text" formControlName="code" class="form-control"
                  placeholder="Enter Code" alphaNumeric maxlength="20" #code
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors}" />
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                        Please Enter Code.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                        Code Min Length Is 2.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                        Code Max Length Is 20.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                        Code Should Contains Alphabets & Numbers.</div>
                    </span>
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{code.value.length}}/20</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Asset Category: <sup class="p-error">*</sup></label>
                <p-dropdown [options]="assetCategories" optionLabel="name" id="assetCategories" [filter]="true" filterBy="name"
                  [showClear]="true" placeholder="Select Asset Category" formControlName="assetCategoryId"
                  optionValue="lookupDetailId"
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetCategoryId'].touched && FormControls['assetCategoryId'].errors}">
                </p-dropdown>
                <span *ngIf="FormControls['assetCategoryId'].touched && FormControls['assetCategoryId'].invalid">
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['assetCategoryId'].errors?.['required']">
                    Please Select Asset Category.
                  </div>
                </span>
              </div>
              <div class="field col-12 md:col-4">
                <label>Asset Type: <sup class="p-error">*</sup></label>
                <p-dropdown [options]="assetTypes" optionLabel="name" id="assetTypes" [filter]="true" filterBy="name" [showClear]="true"
                  placeholder="Select Asset Type" formControlName="assetTypeId" optionValue="lookupDetailId"
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetTypeId'].touched && FormControls['assetTypeId'].errors}">
                </p-dropdown>
                <span *ngIf="FormControls['assetTypeId'].touched && FormControls['assetTypeId'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['assetTypeId'].errors?.['required']">
                    Please Select Asset Type.
                  </div>
                </span>
              </div>
              <div class="field col-12 md:col-4">
                <label>Asset Name: <sup class="p-error">*</sup></label>
                <input pInputText id="assetname" type="text" formControlName="name"  placeholder="Enter Asset Name"
                  alphaNumeric class="form-control" maxlength="50" #name
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors}" />
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                        Please Enter Asset Name.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                        Name
                        Should Contains Alphabets.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['minlength']">
                        Name Min Characters Is 2.</div>
                    </span>
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{name.value.length}}/50</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Purchased Date: <sup class="p-error">*</sup></label>
                <p-calendar inputId="purchasedDate" id="purchasedDate" placeholder="Select Purchased Date"
                  formControlName="purchasedDate"
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['purchasedDate'].touched && FormControls['purchasedDate'].errors}">
                </p-calendar>
                <span *ngIf="FormControls['purchasedDate'].touched && FormControls['purchasedDate'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['purchasedDate'].errors?.['required']">
                    Please Select Purchased Date.
                  </div>
                </span>
              </div>
              <div class="field col-12 md:col-4">
                <label>Model Number:</label>
                <input pInputText id="modelnumber" formControlName="modelNumber" maxlength="50" #modelNumber
                  placeholder="Enter Model Number" />
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['modelNumber'].touched && FormControls['modelNumber'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['modelNumber'].errors?.['maxlength']">
                        Model Number Min Characters Is 50.</div>
                    </span>
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{modelNumber.value.length}}/50</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Manufacturer: </label>
                <input pInputText id="manufacturer" type="text" formControlName="manufacturer"
                  placeholder="Enter Manufacturer" alphaOnly maxlength="20" #manufacturer
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['manufacturer'].touched && FormControls['manufacturer'].errors}" />
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['manufacturer'].touched && FormControls['manufacturer'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['manufacturer'].errors?.['required']">
                        Please Enter Manufacturer.
                      </div>
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['manufacturer'].errors?.['minlength']">
                        Manufacturer Min Characters Is 2.</div>
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['manufacturer'].errors?.['maxlength']">
                        Manufacturer Max Characters Is 20.</div>
                    </span>
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{manufacturer.value.length}}/50</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Serial Number:</label>
                <input pInputText id="serialnumber" type="text" formControlName="serialNumber"
                  placeholder="Enter Serial Number " maxlength="20" alphaNumeric #serialNumber />
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['serialNumber'].touched && FormControls['serialNumber'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['serialNumber'].errors?.['maxlength']">
                        Serial Number Max Characters Is 20.</div>
                    </span>
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{serialNumber.value.length}}/20</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Warranty(Months):</label>
                <input pInputText id="warranty" type="text" maxlength="3" numericOnly formControlName="warranty"
                  placeholder="Enter Warranty " #warranty />
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['warranty'].touched && FormControls['warranty'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['warranty'].errors?.['maxlength']">
                        Warranty Max Characters Is 3.</div>
                    </span>
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{warranty.value.length}}/3</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Add Value:</label>
                <input pInputText id="addValue" type="text" maxlength="7" #addValue numericOnly
                  formControlName="addValue" placeholder="Enter Add Value"
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['addValue'].touched && FormControls['addValue'].errors}" />
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['addValue'].touched && FormControls['addValue'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['addValue'].errors?.['required']">
                        Please Enter Add Value.
                      </div>
                    </span>
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{addValue.value.length}}/7</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Status: <sup class="p-error">*</sup></label>
                <p-dropdown [options]="assetstatus" optionLabel="name" [filter]="true" filterBy="name" id="assetstatus"
                  [showClear]="true" placeholder="Select Status" formControlName="statusId" optionValue="lookupDetailId"
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['statusId'].touched && FormControls['statusId'].errors}">
                </p-dropdown>
                <span *ngIf="FormControls['statusId'].touched && FormControls['statusId'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['statusId'].errors?.['required']">
                    Please Select Status.
                  </div>
                </span>
              </div>
              <div class="field col-12 md:col-4">
                <label htmlFor="description">Description:</label>
                <textarea inputId="description" id="description" rows="3" maxlength="256" #description cols="30"
                  pInputTextarea maxlength="256" formControlName="description"
                  placeholder="Enter Description"></textarea>
                <div class="flex">
                  <div class="align-left w-60" style="width:70%">
                  </div>
                  <div class="align-right w-40" style="width:30%; text-align:right;">
                    <small>{{description.value.length}}/256</small>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label>Is Active:
                </label>
                <br>
                <p-inputSwitch formControlName="isActive" id="isActive" ></p-inputSwitch>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
            (click)="onSubmit()" [disabled]="fbassets.invalid"></button>
        </div>
      </ng-template>
    </p-dialog>
    <!-- delete dialog -->
    <!-- <p-dialog header="Delete" [(visible)]="deletedialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '40%'}" (onHide)="deleted()">
      <h6>Are You Sure You Want To In Activate The Asset...!</h6>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float:right">
          <button pButton pRipple type="submit" label="YES" (click)="deleteassettype()"
            class="p-button-raised p-button-primary"></button>
          <button pButton pRipple type="submit" label="NO" (click)="deleted()"
            class="p-button-raised p-button-primary"></button>
        </div>
      </ng-template>
    </p-dialog> -->
    <!-- table -->
    <p-table #dtAssets [value]="assets" dataKey="assetType" [rows]="10" [rowHover]="true" [alwaysShowPaginator]="false"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      styleClass="p-datatable-gridlines  p-datatable-sm" [style]="{width: 'auto'}" [showCurrentPageReport]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dtAssets)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dtAssets, $event)"
              placeholder="Search Keyword" class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th ></th>
          <th *ngFor="let col of AssetsheaderTable" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-asset let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="asset"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td *ngFor="let col of AssetsheaderTable">
            <span>
              {{asset[col.field]}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-assest>
        <tr>
          <td colspan="10" class="p-0">
            <div class="p-0">
              <p-table [value]="assest.expandassets" [columns]="AssetsTypeTable" dataKey="assetId"
                [tableStyle]="{ width: 'max-content'}">
                <ng-template pTemplate="header">
        <tr>
          <th *ngIf="permissions?.CanManageAssets" style="width:5px;">Actions</th>
          <th *ngFor="let col of AssetsTypeTable" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-assetstypes>
        <tr>
          <td *ngIf="permissions?.CanManageAssets">
            <div class="flex" >
              <button pButton pRipple icon="pi pi-pencil" style="padding: 0px;"
                class="p-element p-ripple p-button-text p-button p-component col-6"
                (click)="editAssets(assetstypes)"></button>
              <button pButton pRipple icon="pi pi-trash"
              id="delete" *ngIf="assetstypes.isActive" (click)="Dialog(assetstypes)"
                class="p-element p-ripple p-button-text p-button p-component col-6 "></button>
            </div>
          </td>
          <td *ngFor="let col of AssetsTypeTable" [ngClass]="col?.field == 'isActive'? 'text-center' : ''">
            <span *ngIf="col?.field != 'updatedAt' && col?.field != 'createdAt' && col?.field != 'purchasedDate'&& col?.field != 'isAssigned'
              && col?.field != 'isActive'">{{assetstypes[col.field]}}</span>
            <span *ngIf="col?.field == 'createdAt' || col?.field == 'updatedAt' || col?.field == 'purchasedDate'">
              {{assetstypes[col.field] | date:mediumDate}}
            </span>
            <span *ngIf="col?.field == 'isActive'">
              <p-checkbox name="isActive" value="isActive" [binary]="true" [(ngModel)]="assetstypes[col.field]"
                [disabled]="true"></p-checkbox>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center m-5" colspan="12">No Assets Details Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="md:text-center m-5" colspan="8">No Assets Found.</td>
    </tr>
  </ng-template>
  </p-table>
</div>
</div>
