<p-dataView #dv [value]="jobOpening" [paginator]="dv.layout === 'grid' && dv.rows > 10" [rows]="10"
    filterBy="designation,natureOfJob,projectName,softSkills,technicalSkills,toBeFilled,compensationPackage"
    layout="grid">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)" />
            </span>
            <button pButton pRipple label="Add Job Opening" icon="pi pi-plus" class="p-button-primary p-mr-2"
                id="addJobOpening" (click)="openComponentDialog(jobOpeningDialogComponent, null, ActionTypes.save)"
                *ngIf="permissions?.CanManageJobOpening"></button>
        </div>
    </ng-template>
    <ng-template let-jobOpeningDetails pTemplate="gridItem">
        <div class="col-12 md:col-4 lg:col-3 sm:col-6">
            <div class="card card-header surface-border orange-200 card-height border-1 m-2 p-2 mb-0"
                (click)="openJobDialog(jobOpeningDetails)">
                <i class="pi pi-star text-primary"></i> &nbsp; {{jobOpeningDetails.title}}
            </div>
            <div class="card m-2 border-1 mt-0 surface-border card-height">
                <div class=" grid">
                    <div class="col-6">
                        <span><b class="text-primary">Designation</b>: {{ jobOpeningDetails.designation }}</span>
                        <br>
                        <div class="text-600 font-medium text-sm job-description"> {{ jobOpeningDetails.description }}
                            quwe oeuir o oiweur u fu i ouer fu hfhhou rufuih iowfd </div>
                    </div>
                    <div class="col-6">
                        <span><b class="text-primary">3</b> New Applicants</span>
                        <br />
                        <span><b class="text-primary">2</b> Applicants</span>
                        <br />
                        <span><b class="text-primary">6</b> to Recruit</span>
                    </div>
                   
                    <div class="col-12 text-right">
                        <button pButton pRipple 
                        [ngClass]="{'disabled-button': isButtonDisabled(jobOpeningDetails.id)}"
                            class="p-button-primary p-button-outlined p-mr-2" id="ProcessJobOpening" (click)="processJobOpening(jobOpeningDetails)">
                            <i class="icon-process text-primary text-900  font-2xl mr-2"></i> Do Process
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

<!-- P-dialog -->
<p-dialog [header]="selectedJob ? selectedJob.title.toString() : 'Job Opening'" [(visible)]="viewJobDesign"
    [modal]="true" showEffect="fade" [breakpoints]="{'960px': '70%', '640px': '60%'}" [style]="{width: 'auto'}">
    <div class="flex flex-column align-items-center justify-content-center">
        <div *ngIf="selectedJob">
            <div class="card">
                <div class="card-body">
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Designation</span>
                        <span class="value">: {{ selectedJob.designation }}</span>
                    </div>
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Description</span>
                        <span class="value">:{{ selectedJob.description }}quwe oeuir o oiweur u fu i ouer fu hfhhou rufuih iowfd</span>
                    </div>
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Project Name</span>
                        <span class="value">: {{ selectedJob.projectName }}</span>
                    </div>
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Nature Of Job</span>
                        <span class="value">: {{ selectedJob.natureOfJob }}</span>
                    </div>
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Required By</span>
                        <span class="value">: {{ selectedJob.requiredBy |date:mediumDate}}</span>
                    </div>
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Compensation Package</span>
                        <br>
                        <span class="value">: {{ selectedJob.compensationPackage }}</span>
                    </div>
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Technical Skills</span>
                        <br>
                        <span class="value">: {{ selectedJob.technicalSkills }}</span>
                    </div>
                    <div class="pair">
                        <span class="label text-primary font-bold text-900">Soft Skills</span>
                        <br>
                        <span class="value">: {{ selectedJob.softSkills }}</span>
                    </div>
                    <div class="col-6">
                        <span><b class="text-primary">3</b> New Applicants</span>
                        <br />
                        <span><b class="text-primary">2</b> Applicants</span>
                        <br />
                        <span><b class="text-primary">6</b> to Recruit</span>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</p-dialog>