<div class="col-12 text-right m-0 p-2 ">
    <button pButton pRipple class="mb-3" (click)="toggleTab()">Add Family Details</button>
</div>
<div class="content_scroll" id="hrms">
    <form [formGroup]="fbfamilyDetails">
        <div class="grid mt-3 fadeinup animation-duration-1000 p-0 m-0 pt-0" *ngIf="addfamilydetailsshowForm">
            <div class="col-12 roles-container m-0 p-0">
                <div class="p-fluid p-formgrid grid m-0 p-0">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText formControlName="name" #name [maxlength]="20"
                                alphaNumeric (keydown)="restrictSpaces($event)"
                                [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }" />
                            <label class="required">Name</label>
                        </span>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['name'].errors?.['required']">
                                        Please Enter Name.</div>
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['name'].errors?.['minlength']">
                                        Name Min Length Is 2.</div>
                                </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                                <small>{{name.value.length}}/{{maxLength.name}} </small>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <p-dropdown id="relationship_dropdown" [autoDisplayFirst]="false" optionLabel="name"
                                [options]="relationships" optionValue="lookupDetailId" formControlName="relationshipId"
                                [ngClass]="{'is-invalid ng-dirty': FormControls['relationshipId'].touched && FormControls['relationshipId'].errors}">
                            </p-dropdown>
                            <label class="required">Relationship</label>
                        </span>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span
                                    *ngIf="FormControls['relationshipId'].touched && FormControls['relationshipId'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['relationshipId'].errors?.['required']">
                                        Please Select Relationship.
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <p-dropdown id="address_dropdown" formControlName="addressId" [autoDisplayFirst]="false"
                                optionLabel="addressLine1" [options]="address" optionValue="addressId">
                                <ng-template let-address pTemplate="item">
                                    <!-- Customize the label to display multiple values -->
                                    {{ address.addressLine1 }}, {{ address.addressLine2 }},{{ address.landmark }} ,{{
                                    address.city }}
                                    ,{{address.state}},{{address.zipCode}},{{address.country}}
                                </ng-template>
                            </p-dropdown>
                            <label>Address</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <p-calendar [readonlyInput]="true" [showIcon]="true" id="dob" #DOB mask="99/99/9999"
                                formControlName="dob"
                                [ngClass]="{ 'is-invalid ng-dirty': FormControls['dob'].touched && FormControls['dob'].errors }">
                            </p-calendar>
                            <label class="required"> DOB</label>
                        </span>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['dob'].touched && FormControls['dob'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['dob'].errors?.['required']">
                                        Please Select DOB.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="adhaar_No" pInputText formControlName="adhaarNo" numericOnly
                                [maxLength]="12" #adhaarno
                                [ngClass]="{ 'is-invalid ng-dirty': FormControls['adhaarNo'].touched && FormControls['adhaarNo'].errors }" />
                            <label class="required">Adhaar No.</label>
                        </span>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['adhaarNo'].touched && FormControls['adhaarNo'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['adhaarNo'].errors?.['required']">
                                        Please Enter Adhaar No.</div>
                                </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                                <small>{{adhaarno.value.length}}/{{maxLength.aadhaarNo}} </small>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="pan_No" pInputText formControlName="panno" #panNo [maxLength]="10"
                                [ngClass]="{ 'is-invalid ng-dirty': FormControls['panno'].touched && FormControls['panno'].errors }" />
                            <label>Pan No.</label>
                        </span>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['panno'].touched && FormControls['panno'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['panno'].errors?.['required']">
                                        Please Enter Pan No.</div>
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['panno'].errors?.['pattern']">
                                        Invalid Pan No Eg:AAAAA1234A.</div>
                                </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                                <small>{{panNo.value.length}}/{{maxLength.panNo}} </small>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="mobile_Number" pInputText formControlName="mobileNumber" #phoneNo
                                numericOnly [maxLength]="10"
                                [ngClass]="{ 'is-invalid ng-dirty': FormControls['mobileNumber'].touched && FormControls['mobileNumber'].errors }" />
                            <label class="required">Mobile No.</label>
                        </span>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span
                                    *ngIf="FormControls['mobileNumber'].touched && FormControls['mobileNumber'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['mobileNumber'].errors?.['required']">
                                        Please Enter Mobile No.</div>
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['mobileNumber'].errors?.['pattern']">
                                        First Digit Should Be Greater Than 4 And Must Contains 10 Digits.</div>
                                </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                                <small>{{phoneNo.value.length}}/{{maxLength.phoneNo}} </small>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <label class="required" for="binary" class="ml-3">Make him/her as Nominee</label>
                            <p-checkbox [binary]="true" id="binary" class="mr-2" formControlName="isNominee">
                            </p-checkbox>
                        </span>
                    </div>
                    <div class="d-flex flex-row justify-content-center col-12 md:col-4 mt-2">
                        <div class="button-container">
                            <p-button type="button" label="Add Family Members" [disabled]="fbfamilyDetails.invalid"
                                (click)="addFamilyMembers()">
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-12 scrolling_content fadeinup animation-duration-1000 p-1 pt-0" *ngIf="showFamilyDetails">
        <p-table id="table" [value]="empFamDetails" dataKey="id" [rows]="10" [rowHover]="true"
            [alwaysShowPaginator]="false" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" [autoLayout]="true" responsiveLayout="scroll"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th class="col text-center">Actions</th>
                    <th *ngFor="let col of headers"
                        [ngClass]="col?.field == 'isNominee' || col?.field == 'dob' || col?.field == 'name'  ||col?.field == 'adhaarNo'  ||  col?.field == 'panno'  || col?.field == 'mobileNumber'||col?.field == 'relationshipId'|| col?.field == 'addressId' ? 'text-center' : ''">
                        {{col?.label}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-familyData let-educationDataIndex="rowIndex">
                <tr>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" (click)="editAddressDetails(familyData)"
                            class="p-element p-ripple p-button-text p-button p-component mr-3 p-0 ">
                        </button>
                        <button pButton pRipple icon="pi pi-trash" id="educationDetailsRemove-Btn"
                            class="p-element p-ripple p-button-text p-button p-component col-2 p-0"
                            (click)="removeRow(educationDataIndex)"></button>
                    </td>
                    <td *ngFor="let col of headers"
                        [ngClass]="col?.field == 'isNominee' || col?.field == 'name'  ||col?.field == 'adhaarNo'  ||  col?.field == 'panno'  || col?.field == 'mobileNumber'||col?.field == 'relationshipId'|| col?.field == 'addressId' ? 'text-center' : ''">
                        <span
                            *ngIf="col?.field == 'name'  ||col?.field == 'adhaarNo'  ||  col?.field == 'panNo'  || col?.field == 'mobileNumber'">
                            {{familyData[col.field]}}
                        </span>
                        <span *ngIf=" col?.field == 'relationshipId' ">
                            {{familyData.relationship?familyData.relationship:familyData[col.field]}}
                        </span>
                        <span *ngIf="col?.field == 'addressId'">
                            {{familyData.addressLine1?familyData.addressLine1:familyData[col.field]}},
                            {{familyData.addressLine2?familyData.addressLine2:familyData[col.field]}},
                            {{familyData.city?familyData.city:familyData[col.field]}},
                            {{familyData.state?familyData.state:familyData[col.field]}},
                            {{familyData.zipCode?familyData.zipCode:familyData[col.field]}},
                            {{familyData.country?familyData.country:familyData[col.field]}}
                        </span>
                        <span *ngIf="col?.field == 'dob' ">
                            {{familyData[col.field]| date: mediumDate }}
                        </span>
                        <span *ngIf=" col?.field=='isNominee'">
                            <p-checkbox name=" isNominee" value="isNominee" [binary]="true"
                                [(ngModel)]="familyData[col.field]" [disabled]="true">
                            </p-checkbox>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="grid mt-2">
    <div class="field col-4 m-0 p-1 px-3">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100 text-right"
            (click)="navigateToPrev()">Upload Documents</button>
    </div>
    <div class=" col-4 m-0 p-1 px-3">
        <button p-button class="p-element p-ripple p-button-info p-button p-component w-100"
            [disabled]="this.empFamDetails.length == 0" (click)="onSubmit()">Save as Draft</button>
    </div>
    <div class=" col-4 m-0 p-1 px-3">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100"
            (click)="navigateToNext()">Bank Details </button>
    </div>
</div>