<div class="col-12">
    <div class="card" id="main-card">
        <!-- Toolbar -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Applicant Status</h4>
            </ng-template>
        </p-toolbar>
        <div class="col-12 md:col-4 lg:col-3 sm:col-6">
            <div class="card m-2 border-1 mt-0 surface-border card-height">
                <div class=" mb-3 grid">

                </div>
            </div>
        </div>
    </div>
</div>