<div class="flex flex-column align-items-center justify-content-center">
    <form [formGroup]="fbLeave">
        <div class="grid mt-3 p-5 pt-2">
            <div class="col-12 text-center">
                <p-chip styleClass="pl-0 pr-3 mr-4">
                    <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">{{empDetails?.allottedCasualLeaves-empDetails?.usedCasualLeavesInYear}}</span>
                    <span class="ml-2 font-medium">Casual Leaves</span>
                </p-chip>
                <p-chip styleClass="pl-0 pr-3">
                    <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">{{empDetails?.allottedPrivilegeLeaves-empDetails?.usedPrivilegeLeavesInYear}}</span>
                    <span class="ml-2 font-medium">Privilege Leaves</span>
                </p-chip>
                
            </div>
            <div class="col-12 roles-container">
                
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label class="required">Employee Name:</label>
                        <p-dropdown id="employeeName_Dropdown" appendTo="body" [filter]="true" [options]="employees"
                            optionLabel="employeeName" optionValue="employeeId" placeholder="Select Employee Name"
                            formControlName="employeeId" [readonly]="this.currentRoute === '/dashboard/employee'"
                            [ngClass]="{'is-invalid ng-dirty': FormControls['employeeId'].touched && FormControls['employeeId'].errors}">
                        </p-dropdown>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['employeeId'].touched && FormControls['employeeId'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['employeeId'].errors?.['required']">
                                        Please Select Employee Name.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="required">Leave Type:</label>
                        <p-dropdown placeholder="Select Leave Type" formControlName="leaveTypeId"
                            [options]="filteredLeaveTypes" optionLabel="name" optionValue="lookupDetailId"
                            id="leaveTypes_Dropdown" (onChange)="getLeaveReasonsByLeaveTypeId($event.value)"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['leaveTypeId'].touched && FormControls['leaveTypeId'].errors }">
                        </p-dropdown>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span
                                    *ngIf="FormControls['leaveTypeId'].touched && FormControls['leaveTypeId'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['leaveTypeId'].errors?.['required']">
                                        Please Select Leave Type.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="required">Leave Purpose:</label>
                        <p-dropdown placeholder="Select Leave Purpose" formControlName="leaveReasonId"
                            [options]="leaveReasons" optionLabel="name" optionValue="lookupDetailId"
                            id="leaveTypes_Dropdown"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['leaveReasonId'].touched && FormControls['leaveReasonId'].errors }">
                        </p-dropdown>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span
                                    *ngIf="FormControls['leaveReasonId'].touched && FormControls['leaveReasonId'].invalid">
                                    <div class="ng-invalid ng-touched p-error" 
                                    *ngIf=" FormControls['leaveTypeId'].untouched && FormControls['leaveReasonId'].touched ||
                                    FormControls['leaveTypeId'].invalid && FormControls['leaveReasonId'].touched">
                                        Please Select Leave Type First.</div>
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf=" FormControls['leaveTypeId'].touched && FormControls['leaveReasonId'].errors?.['required'] &&  FormControls['leaveTypeId'].valid">
                                        Please Select Leave Purpose.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Is HalfDay Leave:</label>
                        <br>
                        <p-checkbox formControlName="isHalfDayLeave" [binary]="true" inputId="binary"
                            (onChange)="onChangeIsHalfDay()"></p-checkbox>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="required">From Date:</label>
                        <p-calendar appendTo="body" placeholder="Select From Date" [readonlyInput]="true"
                            [minDate]="minDate" [showIcon]="true" formControlName="fromDate" id="fromDateCalendar"
                            [disabledDates]="disabledDates"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['fromDate'].touched && FormControls['fromDate'].errors }">
                        </p-calendar>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['fromDate'].touched && FormControls['fromDate'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['fromDate'].errors?.['required']">
                                        Please Select From Date.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>To Date:</label>
                        <p-calendar appendTo="body" placeholder="Select To Date" [readonlyInput]="true"
                            [showIcon]="true" formControlName="toDate" id="toDateCalendar"
                            [minDate]="fbLeave.value.fromDate" [disabledDates]="disabledDates">
                        </p-calendar>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="required">Leave Narration:</label>
                        <textarea class="form-control freeze_text-area" pInputTextarea formControlName="note"
                            placeholder="Enter Leave Narration" #description [maxlength]="256" id="Description"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['note'].touched && FormControls['note'].errors }"></textarea>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['note'].touched && FormControls['note'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['note'].errors?.['required']">
                                        Please Enter Leave Narration.</div>
                                </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                                <small>{{description.value.length}}/{{maxLength.description}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class=" footer dialog-footer">
    <button pButton pRipple type="submit" label="Add Leave" class="p-button-raised p-button-primary"
        id="SubmitLeaveForm" [disabled]="fbLeave.invalid" (click)="onSubmit()"></button>
</div>