<div class="col-12">
    <div class="card">
        <!-- Toolbar -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Job Design</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <!-- <button pButton pRipple label="New Asset" icon="pi pi-plus" class="p-button-primary p-mr-2"
                    (click)="addAssetsDialog()"></button> -->
            </ng-template>
        </p-toolbar>
        <h3 style="text-align: center;" class="p-5 m-5">Page Under Construction</h3>
    </div>
</div>