<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-dataView #dv [value]="applicant" [paginator]="dv.layout === 'grid' && dv.rows > 10" [rows]="10"
                filterBy="name,email,mobileNumber" 
                [sortField]="sortField" [sortOrder]="sortOrder" 
                layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between ">
                        <h4>Applicants</h4>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search by Name or Id" />
                        </span>
                        <button pButton pRipple label="Add Applicant" id="addButton" icon="pi pi-plus"
                            class="p-button-primary p-mr-2"
                            (click)="openComponentDialog(applicantdialogComponent, null, ActionTypes.add)"></button>
                    </div>
                </ng-template>
                <ng-template let-applicant pTemplate="gridItem">
                    <div class="col-12 md:col-4 lg:col-3 sm:col-6">
                        <div class="card m-2 border-1 surface-border card-height">
                            <div class=" mb-3 grid">
                                <div class="col-12 lg:col-8 md:col-12 p-1 px-2 employee_info">
                                    <span class="text-xl font-bold">
                                        <i class="pi pi-users text-600 text-primary text-1xl  pb-2"></i> :
                                        {{applicant.name}}
                                    </span>
                                </div>
                                <div class="col-12 lg:col-8 md:col-12 p-1 px-2 employee_info">
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-calendar text-300 text-primary text-1xl  pb-1"></i> :
                                        {{applicant.email}}
                                    </span>

                                    <br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-phone text-500 text-primary text-1xl pb-1"></i> :
                                        {{applicant.mobileNumber}}
                                    </span>
                                    <br />
                                </div>
                                <div class="grid">
                                    <div class="relative col-12 p-0 mb-3"></div>
                                    <div class="grid m-0 ">
                                        <div class="mb-3 col-3 p-0">
                                            <button pbutton="" pripple="" type="button" label="Primary"
                                                (click)="viewApplicantDtls()"
                                                class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                                ng-reflect-label="Primary">
                                                <span class="p-button-label pi pi-chevron-right"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>