<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-dataView #dv [value]="applicant" [paginator]="dv.layout === 'grid' && dv.rows > 10" [rows]="10"
                filterBy="name,email,mobileNumber" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between ">
                        <h4>Applicants</h4>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search by Name or Id" />
                        </span>
                        <button pButton pRipple label="Add Applicant" id="addButton" icon="pi pi-plus"
                            class="p-button-primary p-mr-2"
                            (click)="openComponentDialog(applicantdialogComponent, null, ActionTypes.add)"></button>
                    </div>
                </ng-template>
                <ng-template let-applicant pTemplate="gridItem">
                    <div class="col-12 md:col-4 lg:col-3 sm:col-6 p-0 m-0">
                        <div class="card m-2 border-1 surface-border card-height ">
                            <div class=" mb-0 grid">
                                <div class="col-12 md:col-6 text-center">
                                    <img src="./assets/layout/images/men-emp.jpg"
                                        class="shadow-2 my-1 mx-0 applicant_profile_pic zoomable-img" /><br />
                                    <span class="text-xl font-bold">
                                        <i class="pi pi-users text-600 text-primary text-1xl  pb-2"></i> :
                                        {{applicant.name}}
                                    </span><br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="icon-expertise text-500 text-primary text-1xl pb-1"></i> :
                                        {{applicant.experienceStatus}}
                                    </span>
                                </div>
                                <div class="col-12 md:col-6 text-center">
                                    <p-knob [(ngModel)]="value" [strokeWidth]="10" [size]="60"></p-knob>
                                    <br />
                                    <div class=" grid mt-2 ">
                                        <span class="text-600 font-medium text-md">
                                            <ng-container *ngIf="applicant && applicant.pendingDetails">
                                                <ng-container *ngIf="applicant.pendingDetails.includes('ApplicantEducationDetails')">
                                                    <i class="icon-study text-primary text-1xl p-2 pb-1"></i> <!-- Education icon -->
                                                </ng-container>
                                                <ng-container *ngIf="applicant.pendingDetails.includes('ApplicantCertifications')">
                                                    <i class="icon-document-certificate text-primary text-1xl p-2 pb-1"></i> <!-- Certifications icon -->
                                                </ng-container>
                                                <ng-container *ngIf="applicant.pendingDetails.includes('ApplicantWorkExperience')">
                                                    <i class="icon-office_details text-primary text-1xl p-2 pb-1"></i> <!-- Work Experience icon -->
                                                </ng-container>
                                                <ng-container *ngIf="applicant.pendingDetails.includes('ApplicantLanguageSkills')">
                                                    <i class="icon-office_details text-primary text-1xl p-2 pb-1"></i> <!-- Work Experience icon -->
                                                </ng-container>
                                                <ng-container *ngIf="applicant.pendingDetails.includes('ApplicantSkills')">
                                                    <i class="icon-office_details text-primary text-1xl p-2 pb-1"></i> <!-- Work Experience icon -->
                                                </ng-container>
                                            </ng-container>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 lg:col-9 md:col-12 p-1 px-2 employee_info">
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-envelope text-300 text-primary text-1xl  pb-1"></i> :
                                        {{applicant.emailId}}
                                    </span>
                                    <br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-phone text-500 text-primary text-1xl pb-1"></i> :
                                        {{applicant.mobileNo}}
                                    </span>
                                    <br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-star text-300 text-primary text-1xl  pb-1"
                                            pTooltip="Skills"></i> :
                                        {{applicant.skills}}
                                    </span>
                                </div>
                                <div class="col-12 lg:col-3 md:col-12 p-1 px-2 employee_info">
                                    <button pbutton="" pripple="" type="button" label="Primary"
                                        (click)="viewApplicantDtls(applicant.applicantId)"
                                        class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                        ng-reflect-label="Primary">
                                        <span class="p-button-label pi pi-chevron-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>