<div class=" align-items-center justify-content-center">
    <form [formGroup]="fbLeaveConfiguration">
        <div class="grid  p-5 content_scroll" style="height:500px;">
            <div class="col-12 roles-container">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label class="required">Maximum Experience Eligibility For Leaves(In Months):</label>
                        <input pinput pInputText placeholder="Enter Maximum Experience Eligibility">
                        <!-- <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['title'].touched && FormControls['title'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['title'].errors?.['required']">
                                        Please Select Job Title.</div>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="required">Casual Leave:</label>
                        <input pinput pInputText placeholder="Enter Casual Leave">

                        <!-- <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['projectId'].touched && FormControls['projectId'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['projectId'].errors?.['required']">
                                        Please Select Project.</div>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="required">Previliged Leave:</label>
                        <input pinput  pInputText placeholder="Enter Previliged Leave">

                        <!-- <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['designationId'].touched && FormControls['designationId'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['designationId'].errors?.['required']">
                                        Please Select Designation.</div>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="required">Leave Accumilation Period(In Months):</label>
                        <input pinput pInputText placeholder="Enter Leave Accumilation Period">

                        <!-- <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['softSkills'].touched && FormControls['softSkills'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['softSkills'].errors?.['required']">
                                        Please Select Soft Skills.</div>
                                </span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class=" footer dialog-footer">
    <button pButton pRipple type="submit" label="Add Job Opening" class="p-button-raised p-button-primary"
        id="SubmitJobForm" [disabled]="fbLeaveConfiguration.invalid" ></button>
</div>