<div class="content_scroll" id="hrms">
    <div class="grid p-0 m-0">
        <div class="col-12 md:col-4">
            <form [formGroup]="fbUpload ">
                <div class="roles-container">
                    <div class="p-fluid p-formgrid ">
                        <div class="field col-12  ">
                            <label class="required">Title:</label>
                            <input type="text" id="Upload_title" pInputText formControlName="title" class="w-100" placeholder="Enter Title">
                            <div class="flex">
                                <div class="align-left w-60">
                                    <span *ngIf="FormControls['title'].touched && FormControls['title'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['title'].errors?.['required']">
                                            Please Enter Title.</div>
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['title'].errors?.['minlength']">
                                            Title Min Characters Is 2.</div>
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['title'].errors?.['maxlength']">
                                            Title Max Characters Is 20.</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 md:col-4 pt-5 mt-5">
            <div class="upload-btn-wrapper">
                <label for="singleFile">
                    <i class="pi pi-paperclip"></i> Attach File
                </label>
                <input id="singleFile" #fileUpload name="myFile" accept=".pdf, .jpg, .jpeg, .png, .gif" type="file"
                    hidden="true" (click)="onClick()" />
            </div>
        </div>
    </div>

    <div class="grid p-0 m-0">
        <div class="col-12 ">
            <p-table #dt2 [value]="files" dataKey="id" [rows]="10" [rowHover]="true"
                [alwaysShowPaginator]="false" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true" [autoLayout]="true" responsiveLayout="scroll"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:5px" *ngIf="permissions?.CanManageEmployee">Actions</th>
                        <th>Title</th>
                        <th>Filename</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-file let-i="rowIndex">
                    <tr>
                        <td *ngIf="permissions?.CanManageEmployee" class="flex">
                            <!-- <button pButton pRipple icon="pi pi-pencil" (click)="editForm(file)"
                                class="p-element p-ripple p-button-text p-button p-component col-2 p-0 "></button> -->
                            <button pButton pRipple icon="pi pi-trash" id="AddressDetailsRemove-Btn"
                                class="p-element p-ripple p-button-text p-button p-component col-2 p-0"
                                (click)="removeItem(file)">
                            </button>
                        </td>
                        <td>{{file.title }}</td>
                        <td>{{file.fileName}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="grid mt-2">
    <div class="field col-4 m-0 p-1 px-3">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100 text-right"
            id="Upload_navigatePrvious" (click)="navigateToPrev()">Address Details</button>
    </div>
    <div class="col-4 m-0 p-1 px-3">
        <button p-button class="p-element p-ripple p-button-info p-button p-component w-100" id="Upload_save"
            (click)="uploadFiles()">Save as Draft</button>
    </div>
    <div class="col-4 m-0 p-1 px-3">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100" id="Upload_navigateNext"
        id="Upload_navigateNext" (click)="navigateToNext()">Family Details</button>
    </div>
</div>
