<!-- <p-rating [(ngModel)]="ratings" [stars]="5" [cancel]="false" (click)="handleClick()"
  [class.half-orange-fill]="fillLevel === 0.5">
</p-rating> -->
<span *ngFor="let star of stars; let i = index" 
      (click)="!control.disabled && handleClick(i)" 
      class="star" 
      [class.full]="ratings >= star" 
      [class.half]="ratings === i + 0.5"
      [class.disabled]="control.disabled"
      [class.no-hover]="control.disabled">
  <i *ngIf="!(ratings >= star)&&!(ratings === i + 0.5)" class="pi pi-star" style="font-size: 1.5rem"></i>
  <i *ngIf="(ratings >= star)||(ratings === i + 0.5)" class="pi pi-star-fill" style="font-size: 1.5rem"></i>
  <!-- &#9734; -->
  <!-- &starf; -->
</span>