<div class="card">
  <div class="grid mb-3">
    <p-toast key="tst"></p-toast>
    <div class="col-12 lg:col-2">
      <div class="fex">
        <!-- Basic details card view -->
        <div class="col text-center">
          <img
            [src]="employeePrsDtls.photo ? employeePrsDtls.photo : '/assets/layout/images/default_icon_employee.jpg'"
            [alt]="employeePrsDtls.employeeName"
            class="shadow-2 my-1 mx-0 employee_profile_pic employee_profile_pic_view" style="width: 70%;" />
        </div>
        <div class=" align-items-center text-xl text-center font-medium text-900 mb-1">{{employeePrsDtls?.employeeName}}
        </div>
        <!-- <div class=" align-items-center text-md text-center font-medium text-500 mb-1 text-secondary">Sr Angular
            developer </div> -->
        <span class="text-900 font-medium text-primary text-center text-3xl block">{{employeePrsDtls?.code}}</span>
        <ng-container *ngIf="enRollEmployee">
            <div class="mt-5">
              <app-final-submit
                [style.pointer-events]="educationDetails.length && workExperience.length && address.length && UploadedDocuments.length ? 'auto' : 'none'"
                [style.opacity]="educationDetails.length && workExperience.length && address.length && UploadedDocuments.length ? 1 : 0.5"
                ></app-final-submit>
            </div>
          </ng-container>
      </div>
    </div>
    <div class="col-12 lg:col-6 py-3 lg:pl-2">
      <div class="grid p-3 position-relative">
        <h5 class="col-12">Basic Details </h5>
        <hr />
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Gender:</span> {{employeePrsDtls?.gender}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Blood Group:</span> {{employeePrsDtls?.bloodGroup}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Mobile Number:</span>{{employeePrsDtls?.mobileNumber}}
        </div>
        <div class="col-12 lg:col-6">
          <span class="text-primary font-bold text-900">Alt Mobile Number:
          </span>{{employeePrsDtls?.alternateMobileNumber}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">DOB:</span> {{employeePrsDtls?.originalDOB | date:mediumDate }}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Certificate DOB:</span> {{employeePrsDtls?.certificateDOB |
          date:mediumDate }}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Marital Status:</span> {{employeePrsDtls?.maritalStatus}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Email ID:</span> {{employeePrsDtls?.emailId}}
        </div>
        <button pButton pRipple icon="pi pi-pencil" id="basic_details"
          class="p-element p-ripple p-button-text p-button p-component mr-2 float-button"
          (click)="openComponentDialog(basicdetailsDialogComponent, employeePrsDtls, ActionTypes.save)"></button>
      </div>
    </div>
    <!-- office details card view -->
    <div class="col-12 lg:col-4 py-3 lg:pl-6" *ngIf="showOfcAndAssetDetails">
      <div class="">
        <div class="grid p-3  position-relative">
          <h5 class="col-12"> Office Details </h5>
          <button pButton pRipple icon="pi pi-pencil" type="button" id="office_details"
            class="p-element p-ripple p-button-text p-button p-component mr-2 float-button"
            (click)="openComponentDialog(officedetailsDialogComponent,employeeofficeDtls,ActionTypes.save)"></button>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Time In:</span> {{employeeofficeDtls?.timeIn}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Time Out:</span> {{employeeofficeDtls?.timeOut}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Office Email ID:</span> {{employeeofficeDtls?.officeEmailId}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Joining Date:</span> {{employeeofficeDtls?.dateofJoin |
            date:mediumDate}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Designation:</span> {{employeeofficeDtls?.designation}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Reported To:</span> {{employeeofficeDtls?.reportingTo}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">PF Eligible:</span> {{employeeofficeDtls?.isPFEligible}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">ESI Elgible:</span> {{employeeofficeDtls?.isESIEligible}}
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- Education Details card view -->
  <p-tabView>
    <p-tabPanel header="Education Details ">
      <div class="grid"  >
        <div class="col-12 lg:col-4"  *ngFor="let education of educationDetails">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2">{{education?.stream}}</div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-3">
                <span class="font-semibold ">Institution Name:</span> {{education?.institutionName}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">College Name:</span> {{education?.authorityName}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">YOP:</span> {{education?.passedOutyear | date: mediumDate}}
              </li>
              <li class="mb-3">
                <span class="font-semibold ">Grading System:</span> {{education?.gradingMethod}}
              </li>
              <li class="mb-3">
                <span class="font-semibold ">Score/Percentage:</span> {{education?.gradingValue}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 lg:col-4">
          <div class="card text-center">
            <button pButton pRipple icon="pi pi-plus"
              class="p-element p-ripple p-button-text p-button p-component m-5 p-5" 
              (click)="openComponentDialog(educationdetailsDialogComponent,educationDetails,ActionTypes.save)">
              Add/Edit Eduction Details</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Work Experience card view -->
    <p-tabPanel header="Work Experience ">
      <div class="grid">
        <div class="col-12 lg:col-4" *ngFor="let experiance of workExperience">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2">{{experiance?.companyName}}</div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-2">
                <span class="font-semibold ">Company Location:</span>{{experiance?.companyLocation}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">From:</span> {{experiance?.dateOfJoining | date: mediumDate}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">To:</span> {{experiance?.dateOfReliving | date: mediumDate}}
              </li>
              <li class="mb-2">
                <span class="font-semibold mb-1">Designation:</span> {{experiance?.designation}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 lg:col-4">
          <div class="card text-center">
            <button pButton pRipple icon="pi pi-plus"
              class="p-element p-ripple p-button-text p-button p-component m-3 p-5"  id="add"
              (click)="openComponentDialog(experiencedetailsDialogComponent, workExperience, ActionTypes.save)">
              Add/Edit Work Experience </button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Family Details card view -->
    <p-tabPanel header="Family Details ">
      <div class="grid">
        <div class="col-12 lg:col-4" *ngFor="let familyDetails of familyDetails; let i = index">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2 position-relative">
              <button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component right-float-button" (click)="openComponentDialog(FamilydetailsDialogComponent, familyDetails, ActionTypes.edit)"></button>{{familyDetails.name}}
            </div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-3">
                <span class="font-semibold">Date Of Birth:</span> {{familyDetails.dob | date: mediumDate}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Adhaar No:</span> {{familyDetails.adhaarNo}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Relationship Status:</span> {{familyDetails.relationship}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Mobile No:</span> {{familyDetails.mobileNumber}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Address:</span> {{familyDetails.addressLine1}},{{familyDetails.city}},{{familyDetails.state}},{{familyDetails.zipCode}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">State:</span> {{familyDetails.state}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 lg:col-4">
          <div class="card text-center">
            <button pButton pRipple icon="pi pi-plus"
              class="p-element p-ripple p-button-text p-button p-component p-5 m-5"(click)="openComponentDialog(FamilydetailsDialogComponent, null, ActionTypes.add)"> Add
              Family Member</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Address Details card view -->
    <p-tabPanel header="Address Details">
      <div class="grid">
        <div class="col-12 lg:col-4" *ngFor="let newadredss of address; let i = index">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2 position-relative">
              <button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component right-float-button" (click)="openComponentDialog(AddressDialogComponent, newadredss, ActionTypes.edit)"></button> {{ newadredss.addressType }}
            </div>
            {{ newadredss.employeeName }}, {{ newadredss.addressLine1 }}, {{ newadredss.city }},{{ newadredss.landmark
            }}, {{ newadredss.state }}
            {{ newadredss.zipCode }},{{ newadredss.country }}
          </div>
        </div>
        <div class="col-12 lg:col-4">
          <div class="card text-center">
            <button pButton pRipple icon="pi pi-plus"
              class="p-element p-ripple p-button-text p-button p-component m-5 p-5" (click)="openComponentDialog(AddressDialogComponent, null, ActionTypes.add)"> Add
              Address</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Upload Documents card view -->
    <p-tabPanel header="Upload Documents">
      <div class="grid">
        <div class="col-12 text-right ">
          <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-text p-button p-component mr-2 "  (click)="openComponentDialog(uploadDocumentsDialogComponent, null, ActionTypes.add)">&nbsp; Upload Document </button>
        </div>
        <div class="col-12 ">
          <p-table [value]="UploadedDocuments" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>S.No</th>
                <th>Title</th>
                <th>FileName</th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-UploadedDocument let-rowIndex="rowIndex">
              <tr>
                <td class="pl-5">{{ rowIndex + 1 }}</td>
                <td>{{ UploadedDocument.title }}</td>
                <td class="pl-5">{{ UploadedDocument.fileName }}</td>
                <td>
                  <div class="flex">
                    <!-- <button pButton pRipple icon="pi pi-download" style="padding: 0px;"
                      class="p-element p-ripple p-button-text p-button p-component col-6"
                      (click)="downloadDocument(UploadedDocument)"></button><button pButton pRipple icon="pi pi-trash" id="delete"
                      class="p-element p-ripple p-button-text p-button p-component col-6"
                      (click)="removeDocument(UploadedDocument)"></button> -->
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>
    <!-- Assets card view -->
    <p-tabPanel header="Assets" *ngIf="showOfcAndAssetDetails">
      <div class="grid">
        <div class="col-12 lg:col-4" *ngFor="let asset of assetAllotments">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-1 mt-2">{{asset.assetName}}</div>
            <ul class="list-none p-0 m-0 text-600 mb-7 text-600">
              <li class="mb-3">
                <span class="font-semibold">Assigned On:</span>{{asset.assignedOn | date: mediumDate}}
              </li>
              <button id="unassign-asset-btn" pButton pRipple type="submit" label="Unassign"
                class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"
                (click)="openComponentDialog(unassignassetDialogComponent, asset, ActionTypes.unassign)"></button>
            </ul>
          </div>
        </div>
        <div class="col-12 lg:col-4">
          <div class="card text-center">
            <button pButton pRipple icon="pi pi-plus"
              class="p-element p-ripple p-button-text p-button p-component m-5 p-5"
              (click)="openComponentDialog(addassetallotmentDialogComponent, null, ActionTypes.add)"> Assign
              Asset</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Bank Details card view -->
    <p-tabPanel header="Bank Details">
      <div class="grid">
        <div class="col-12 lg:col-4" *ngFor="let bank of bankDetails; let i = index">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2 position-relative">
              <button pButton pRipple icon="pi pi-pencil"
                class="p-element p-ripple p-button-text p-button p-component right-float-button"
                (click)="openComponentDialog(BankdetailsDialogComponent, bank, ActionTypes.edit)"></button>{{bank.bankName}}
            </div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-2">
                <span class="font-semibold "> Name :</span> {{bank.employeeName}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">AccountNo :</span> {{bank.accountNumber}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">IFSCCode :</span> {{bank.ifsc}}
              </li>
              <li class="mb-2">
                <span class="font-semibold mb-1">BranchName :</span> {{bank.branchName}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 lg:col-4">
          <div class="card text-center">
            <button pButton pRipple icon="pi pi-plus"
              class="p-element p-ripple p-button-text p-button p-component m-5 p-5"
              (click)="openComponentDialog(BankdetailsDialogComponent, null, ActionTypes.add)"> Add Bank
              Details</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

