<div class="card">
  <div class="grid mb-3">
    <div class="col-12 lg:col-2">
      <div class="fex">
        <!-- Basic details card view -->
        <div class="col text-center">
          <img [src]="employeePrsDtls.photo ? employeePrsDtls.photo : defaultPhoto" [alt]="employeePrsDtls.employeeName"
            class="shadow-2 my-1 mx-0 employee_profile_pic employee_profile_pic_view" width="100px" />
        </div>
        <div class=" align-items-center text-xl text-center font-medium text-900 mb-1">{{employeePrsDtls?.employeeName}}
        </div>
        <span class="text-900 font-medium text-primary text-center text-3xl block">{{employeePrsDtls?.code}}</span>
        <div class="text-center" *ngIf="enRollEmployee">
          <button pButton pRipple class="p-element p-ripple p-button-outline p-button p-component "
            (click)="onEmployeeEnroll()">
            Enroll Employee </button>
        </div>
      </div>
    </div>
    <!-- Confirmation Dialog -->
    <p-dialog [(visible)]="dialog" header="Confirmation Message" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width:'40%'}">
      <div class="flex flex-column justify-content-center">
        <div class="grid">
          <app-final-submit
            [style.pointer-events]="educationDetails.length && workExperience.length && address.length && UploadedDocuments.length ? 'auto' : 'none'"
            [style.opacity]="educationDetails.length && workExperience.length && address.length && UploadedDocuments.length ? 1 : 0.5">
          </app-final-submit>
        </div>
      </div>
    </p-dialog>
    <div class="col-12 lg:col-6 py-3 lg:pl-2">
      <div class="grid p-3 position-relative">
        <h5 class="col-12">Personal Details </h5>
        <hr />
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Gender:</span> {{employeePrsDtls?.gender}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Blood Group:</span> {{employeePrsDtls?.bloodGroup}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Mobile Number:</span>{{employeePrsDtls?.mobileNumber}}
        </div>
        <div class="col-12 lg:col-6">
          <span class="text-primary font-bold text-900">Alt Mobile Number:
          </span>{{employeePrsDtls?.alternateMobileNumber}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">DOB:</span> {{employeePrsDtls?.originalDOB | date:mediumDate }}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Certificate DOB:</span> {{employeePrsDtls?.certificateDOB |
          date:mediumDate }}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Marital Status:</span> {{employeePrsDtls?.maritalStatus}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Is A Fresher:</span> {{employeePrsDtls?.isAFresher}}
        </div>
        <div class="col-12 lg:col-6 ">
          <span class="text-primary font-bold text-900">Email ID:</span> {{employeePrsDtls?.emailId}}
        </div>
        <button pButton pRipple icon="pi pi-pencil" id="basic_details"
          class="p-element p-ripple p-button-text p-button p-component mr-2 float-button"
          *ngIf="permissions?.CanManageEmployee"
          (click)="openComponentDialog(basicdetailsDialogComponent, employeePrsDtls, ActionTypes.save)"></button>
      </div>
    </div>
    <!-- office details card view -->
    <div class="col-12 lg:col-4 py-3 lg:pl-6" *ngIf="showOfcAndAssetDetails">
      <div class="">
        <div class="grid p-3  position-relative">
          <h5 class="col-12"> Office Details </h5>
          <button pButton pRipple icon="pi pi-pencil" type="button" id="office_details"
            class="p-element p-ripple p-button-text p-button p-component mr-2 float-button"
            *ngIf="permissions?.CanManageEmployee"
            (click)="openComponentDialog(officedetailsDialogComponent,employeeofficeDtls,ActionTypes.save)"></button>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Time In:</span> {{employeeofficeDtls?.timeIn}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Time Out:</span> {{employeeofficeDtls?.timeOut}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Office Email ID:</span> {{employeeofficeDtls?.officeEmailId}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Joining Date:</span> {{employeeofficeDtls?.dateofJoin |
            date:mediumDate}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Designation:</span> {{employeeofficeDtls?.designation}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">Reported To:</span> {{employeeofficeDtls?.reportingTo}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">PF Eligible:</span> {{employeeofficeDtls?.isPFEligible}}
          </div>
          <div class="col-12">
            <span class="text-primary font-bold text-900">ESI Elgible:</span> {{employeeofficeDtls?.isESIEligible}}
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- Education Details card view -->
  <p-tabView>
    <p-tabPanel header="Education Details ">
      <div class="grid">
        <div class="col-12 lg:col-12 m-0 p-3 pb-1">
          <div class="card text-right m-0 p-3">
            <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-outline p-button p-component "
              *ngIf="permissions?.CanManageEmployee"
              (click)="openComponentDialog(educationdetailsDialogComponent,educationDetails,ActionTypes.save)">
              &nbsp; Add / Edit </button>
          </div>
        </div>
        <div class="col-12 lg:col-4" *ngFor="let education of educationDetails">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2">{{education?.stream}}</div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-3">
                <span class="font-semibold ">Board/University Name:</span> {{education?.authorityName}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">School/College Name:</span> {{education?.institutionName}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">YOP:</span> {{education?.passedOutyear | date: mediumDate}}
              </li>
              <li class="mb-3">
                <span class="font-semibold ">Grading System:</span> {{education?.gradingMethod}}
              </li>
              <li class="mb-3">
                <span class="font-semibold ">Score/Percentage:</span> {{education?.gradingValue}}
              </li>
            </ul>
          </div>
        </div>

      </div>
    </p-tabPanel>
    <!-- Work Experience card view -->
    <p-tabPanel header="Work Experience " *ngIf="this.selectedOption === false">
      <div class="grid">
        <div class="col-12 lg:col-12 m-0 p-3 pb-1">
          <div class="card text-right m-0 p-3">
            <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-outline p-button p-component "
              id="add" *ngIf="permissions?.CanManageEmployee"
              (click)="openComponentDialog(experiencedetailsDialogComponent, workExperience, ActionTypes.save)">
              &nbsp; Add / Edit </button>
          </div>
        </div>
        <div class="col-12 lg:col-4" *ngFor="let experience of workExperience">
          <div class="card" *ngIf="!experience.isAFresher">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2">{{experience?.companyName}}</div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-2">
                <span class="font-semibold ">Company Location:</span>{{experience?.companyLocation}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">From:</span> {{experience?.dateOfJoining | date: mediumDate}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">To:</span> {{experience?.dateOfReliving | date: mediumDate}}
              </li>
              <li class="mb-2">
                <span class="font-semibold mb-1">Designation:</span> {{experience?.designation}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <!-- Upload Documents card view -->
    <p-tabPanel header="Upload Documents">
      <div class="grid">
        <div class="col-12 lg:col-12 m-0 p-3 pb-1">
          <div class="card text-right m-0 p-3">
            <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-outline p-button p-component"
              *ngIf="permissions?.CanManageEmployee"
              (click)="openComponentDialog(uploadDocumentsDialogComponent, null, ActionTypes.add)">&nbsp; Upload
              Document
            </button>
          </div>
        </div>
        <div class="col-12 ">
          <p-table [value]="UploadedDocuments" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr *ngIf="UploadedDocuments.length > 0">
                <th>S.No</th>
                <th>Actions</th>
                <th>Title</th>
                <th>FileName</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-UploadedDocument let-rowIndex="rowIndex">
              <tr>
                <td class="pl-5">{{ rowIndex + 1 }}</td>
                <td *ngIf="permissions?.CanManageEmployee ">

                  <button pButton pRipple icon="pi pi-trash" id="Remove-Btn" *ngIf="UploadedDocument.uploadedDocumentId"
                    class="p-element p-ripple p-button-text p-button p-component col-2 p-0"
                    (click)="removeItem(UploadedDocument)">
                  </button>
                  <button pButton pRipple icon="pi pi-download" id="download-Btn"
                    *ngIf="UploadedDocument.uploadedDocumentId"
                    class="p-element p-ripple p-button-text p-button p-component col-2 p-0"
                    (click)="downloadItem(UploadedDocument)">
                  </button>

                  <button pButton pRipple icon="fa fa-eye" id="download-Btn" *ngIf="UploadedDocument.uploadedDocumentId"
                    class="p-element p-ripple p-button-text p-button p-component col-2 p-0"
                    (click)="downloadItem(UploadedDocument)">
                  </button>


                </td>
                <td>{{ UploadedDocument?.title }}</td>
                <td class="pl-5">{{ UploadedDocument?.fileName }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!-- Address Details card view -->
    <p-tabPanel header="Address Details">
      <div class="grid">
        <div class="card  m-0 p-3 w-100">
          <div class="grid p-0 ">
            <div class="col-12 lg:col-6 text-left m-0 p-3 pb-1">
              <label>{{ isAddressChecked ? 'Show All Addresses' : 'Show Active Addresses' }}</label>
              <br />&nbsp;
              <p-inputSwitch [(ngModel)]="isAddressChecked" (onChange)="onChangeAddressChecked()"
                id="Employee_addressUnActive"></p-inputSwitch>
            </div>
            <div class="col-12 lg:col-6 text-right m-0 p-3 pb-1" *ngIf="!isAddressChecked">
              <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-outline p-button p-component"
                *ngIf="permissions?.CanManageEmployee"
                (click)="openComponentDialog(AddressDialogComponent, null, ActionTypes.add)">
                &nbsp; Add Address Details </button>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-4  p-0" *ngFor="let newadredss of address; let i = index">
          <div class="col-12 lg-4 p-2 pl-0 pr-3" *ngIf="isAddressChecked || newadredss.isActive">
            <div class="card ">
              <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2 position-relative">
                <div *ngIf="permissions?.CanManageEmployee">
                  <button pButton pRipple icon="pi pi-pencil"
                    class="p-element p-ripple p-button-text p-button p-component right-float-button"
                    (click)="openComponentDialog(AddressDialogComponent, newadredss, ActionTypes.edit)"
                    *ngIf="newadredss.isActive"></button>
                </div>
                {{ newadredss.addressType }}
              </div>
              {{ newadredss.employeeName }}, {{ newadredss.addressLine1 }}, {{ newadredss.landmark }},{{ newadredss.city
              }},
              {{ newadredss.state }},
              {{ newadredss.zipCode }},{{ newadredss.country }}
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <!-- Family Details card view -->
    <p-tabPanel header="Family Details ">
      <div class="grid">
        <div class="col-12 lg:col-12 m-0 p-3 pb-1">
          <div class="card text-right m-0 p-3">
            <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-outline p-button p-component"
              *ngIf="permissions?.CanManageEmployee"
              (click)="openComponentDialog(FamilydetailsDialogComponent, null, ActionTypes.add)">
              &nbsp; Add Family Details</button>
          </div>
        </div>
        <div class="col-12 lg:col-4" *ngFor="let familyDetails of familyDetails; let i = index">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2 position-relative">
              <button pButton pRipple icon="pi pi-pencil" *ngIf="permissions?.CanManageEmployee"
                class="p-element p-ripple p-button-text p-button p-component right-float-button"
                (click)="openComponentDialog(FamilydetailsDialogComponent, familyDetails, ActionTypes.edit)"></button>{{familyDetails.name}}
            </div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-3">
                <span class="font-semibold">Date Of Birth:</span> {{familyDetails.dob | date: mediumDate}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Adhaar No:</span> {{familyDetails.adhaarNo}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Relationship Status:</span> {{familyDetails.relationship}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Mobile No:</span> {{familyDetails.mobileNumber}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">Address:</span>
                {{familyDetails.addressLine1}},{{familyDetails.city}},{{familyDetails.state}},{{familyDetails.zipCode}}
              </li>
              <li class="mb-3">
                <span class="font-semibold">State:</span> {{familyDetails.state}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <!-- Assets card view -->
    <p-tabPanel header="Assets" *ngIf="showOfcAndAssetDetails">
      <div class="grid">
        <div class="col-12 lg:col-12 m-0 p-3 pb-1">
          <div class="card text-right m-0 p-3">
            <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-outline p-button p-component"
              *ngIf="permissions?.CanManageEmployee"
              (click)="openComponentDialog(addassetallotmentDialogComponent, null, ActionTypes.add)">
              &nbsp; Assign </button>
          </div>
        </div>
        <div class="col-12 lg:col-4" *ngFor="let asset of assetAllotments">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-1 mt-2">{{asset.assetName}}</div>
            <ul class="list-none p-0 m-0 text-600  text-600">
              <li class="mb-3">
                <span class="font-semibold">Assigned On:</span>{{asset.assignedOn | date: mediumDate}}
              </li>
              <button id="unassign-asset-btn" pButton pRipple type="submit" label="Unassign"
                class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"
                (click)="openComponentDialog(unassignassetDialogComponent, asset, ActionTypes.unassign)"></button>
            </ul>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Bank Details card view -->
    <p-tabPanel header="Bank Details">
      <div class="grid">
        <div class="col-12 lg:col-12 m-0 p-3 pb-1">
          <div class="card text-right m-0 p-3">
            <button pButton pRipple icon="pi pi-plus" class="p-element p-ripple p-button-outline p-button p-component"
              *ngIf="permissions?.CanManageEmployee"
              (click)="openComponentDialog(BankdetailsDialogComponent, null, ActionTypes.add)">
              &nbsp; Add Bank Details </button>
          </div>
        </div>
        <div class="col-12 lg:col-4" *ngFor="let bank of bankDetails; let i = index">
          <div class="card">
            <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2 position-relative">
              <button pButton pRipple icon="pi pi-pencil" *ngIf="permissions?.CanManageEmployee"
                class="p-element p-ripple p-button-text p-button p-component right-float-button"
                (click)="openComponentDialog(BankdetailsDialogComponent, bank, ActionTypes.edit)"></button>{{bank.bankName}}
            </div>
            <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
              <li class="mb-2">
                <span class="font-semibold "> Name :</span> {{bank.employeeName}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">Account No. :</span> {{bank.accountNumber}}
              </li>
              <li class="mb-2">
                <span class="font-semibold ">IFSC Code :</span> {{bank.ifsc}}
              </li>
              <li class="mb-2">
                <span class="font-semibold mb-1">Branch Name :</span> {{bank.branchName}}
              </li>
            </ul>
          </div>
        </div>

      </div>
    </p-tabPanel>
  </p-tabView>