<div>
  <!-- Education Details -->
  <div *ngIf="this.header==='Education Details'">
    <form [formGroup]="fbeducationdetails">
      <!-- <div p-overlayPanel class="fadeinup animation-duration-1000 grid  m-0 mt-3 p-0"> -->
      <div class="col-12 roles-container">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4">
            <label  class="required">Curriculum: </label>
            <p-dropdown id="circulum_dropdown" [autoDisplayFirst]="false" placeholder="Select Curriculum"
              [options]="curriculum" optionLabel="name" optionValue="lookupDetailId" formControlName="curriculumId"
              appendTo="body" (onChange)="getStreamByCurriculumId($event.value)">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label  class="required">Stream: </label>
            <p-dropdown id="stream_Dropdown" [autoDisplayFirst]="false" placeholder="Select Stream" optionLabel="name"
              [options]="stream" optionValue="lookupDetailId" formControlName="StreamId" appendTo="body">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label  class="required">Country: </label>
            <p-dropdown id="country_dropdown" [autoDisplayFirst]="false" placeholder="Select Country" optionLabel="name"
              [options]="country" optionValue="lookupDetailId" formControlName="countryId" appendTo="body"
              (onChange)="getStatesByCountryId($event.value)">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label  class="required">State: </label>
            <p-dropdown id="states_dropdown" [autoDisplayFirst]="false" placeholder="Select State" optionLabel="name"
              [options]="states" optionValue="lookupDetailId" formControlName="stateId" appendTo="body">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label>School/College Name: </label> <br>
            <input pInputText id="institution" type="text" formControlName="authorityName" class="form-control"
              placeholder="Enter Institution Name" />
          </div>
          <div class="field col-12 md:col-4">
            <label  class="required">Board/University Name: </label>
            <input pInputText id="Degree" type="text" formControlName="institutionName" class="form-control"
              placeholder="Enter Institution Name" />
          </div>
          <div class="field col-12 md:col-4">
            <label  class="required">year Of Completion: </label>
            <p-calendar [showIcon]="true" formControlName="yearOfCompletion" id="passed_Out_year" appendTo="body"
              [readonlyInput]="true" placeholder="Select Year of Completion"></p-calendar>
          </div>
          <div class="field col-12 md:col-4">
            <label  class="required">Grading System: </label>
            <p-dropdown id="gradingStystem_Dropdown" [autoDisplayFirst]="false" placeholder="Select Grading System"
              [options]="gradingMethod" optionLabel="name" optionValue="lookupDetailId"
              formControlName="gradingMethodId" appendTo="body">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label  class="required">CGPA/Percentage System: </label> <br>
            <input pInputText id="CGPA/PercentageSystem" type="text" formControlName="gradingValue" class="form-control"
              placeholder="EnterCGPA/Percentage System" />
          </div>
        </div>
      </div>
      <!-- </div> -->
    </form>
  </div>

  <!--Experience Details -->
  <div *ngIf="this.header==='Experience Details'">
    <form [formGroup]="fbexperience">
      <!-- <div p-overlayPanel class="fadeinup animation-duration-1000 grid  m-0 mt-3 p-0"> -->
      <div class="col-12 roles-container">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12  m-0 md:col-4">
            <label class="required">Company Name:</label>&nbsp;
            <input pInputText id="Experience_companyname" type="text" #company alphaNumeric
              formControlName="companyName" (keydown)="restrictSpaces($event)"
              [ngClass]="{ 'is-invalid ng-dirty': FormControls['companyName'].touched && FormControls['companyName'].errors }"
              placeholder="Enter Company Name" [maxlength]="maxLength.name" />
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['companyName'].touched && FormControls['companyName'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['companyName'].errors?.['required']">
                    Please Enter Company Name.</div>
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['companyName'].errors?.['minlength']">
                    companyName Min Characters Is 2.</div>
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['companyName'].errors?.['maxlength']">
                    companyName Max Characters Is 50.</div>
                </span>
              </div>
              <div class="align-right w-40" style="width:30%; text-align:right;">
                <small>{{company.value.length}}/50</small>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label class="required">Location:</label>&nbsp;
            <input pInputText id="Experience_Location" type="text" #location formControlName="companyLocation" alphaOnly
              (keydown)="restrictSpaces($event)" 
              [ngClass]="{ 'is-invalid ng-dirty': FormControls['companyLocation'].touched && FormControls['companyLocation'].errors }"
              placeholder="Enter Location" [maxlength]="maxLength.name" />
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['companyLocation'].touched && FormControls['companyLocation'].invalid">
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['companyLocation'].errors?.['required']">
                    Please Enter Location.</div>
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['companyLocation'].errors?.['minlength']">
                    CompanyLocation Min Characters Is 2.</div>
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['companyLocation'].errors?.['maxlength']">
                    CompanyLocation Max Characters Is 50.</div>
                </span>
              </div>
              <div class="align-right w-40" style="width:30%; text-align:right;">
                <small>{{location.value.length}}/50</small>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label>Company Employee Id:</label>&nbsp;
            <input pInputText id="Experience_EmpId" type="text" #empId alphaNumeric (keydown)="restrictSpaces($event)"
              formControlName="companyEmployeeId" placeholder="Enter Company Employee Id"
              [maxlength]="maxLength.code" />
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['companyEmployeeId'].touched && FormControls['companyEmployeeId'].invalid">
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['companyEmployeeId'].errors?.['minlength']">
                    CompanyEmpId Min Characters Is 2.</div>
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['companyEmployeeId'].errors?.['maxlength']">
                    CompanyEmpId Max Characters Is 20.</div>
                </span>
              </div>
              <div class="align-right w-40" style="width:30%; text-align:right;">
                <small>{{empId.value.length}}/20</small>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label class="required">Country:</label>&nbsp;
            <p-dropdown id="country_dropdown" [autoDisplayFirst]="false" placeholder="Select Country" optionLabel="name"
              [options]="country" optionValue="lookupDetailId" formControlName="countryId" appendTo="body"
              (onChange)="getStatesByCountryId($event.value)">
            </p-dropdown>
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['countryId'].touched && FormControls['countryId'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['countryId'].errors?.['required']">
                    Please Select Country.</div>
                </span>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label class="required">State:</label>&nbsp;
            <p-dropdown id="states_dropdown" [autoDisplayFirst]="false" placeholder="Select State" optionLabel="name"
              [options]="states" optionValue="lookupDetailId" formControlName="stateId" appendTo="body">
            </p-dropdown>
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['stateId'].touched && FormControls['stateId'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['countryId'].untouched && FormControls['stateId'].touched ||
                                       FormControls['countryId'].invalid&& FormControls['stateId'].touched">
                    Please Select Country First.</div>
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['countryId'].touched &&FormControls['stateId'].errors?.['required']&&FormControls['countryId'].valid">
                    Please Select State.</div>
                </span>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label class="required">Designation:</label>&nbsp;
            <p-dropdown id="designation" appendTo="body" optionLabel="name" placeholder="Select Designation"
              [options]="designation" optionValue="lookupDetailId" formControlName="designationId"></p-dropdown>
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['designationId'].touched && FormControls['designationId'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['designationId'].errors?.['required']">
                    Please Select Designation.</div>
                </span>
              </div>
            </div>
          </div>
          <div class="field col-12  m-0 md:col-4">
            <label class="required">Nature Of Work:</label>&nbsp;
            <input pInputText id="Experience_companyname" type="text" #company alphaNumeric
              formControlName="natureOfWork" (keydown)="restrictSpaces($event)"
              [ngClass]="{ 'is-invalid ng-dirty': FormControls['natureOfWork'].touched && FormControls['natureOfWork'].errors }"
              placeholder="Enter Nature Of Work" [maxlength]="maxLength.name" />
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['natureOfWork'].touched && FormControls['natureOfWork'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['natureOfWork'].errors?.['required']">
                    Please Enter Company Name.</div>
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['natureOfWork'].errors?.['minlength']">
                    companyName Min Characters Is 2.</div>
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['natureOfWork'].errors?.['maxlength']">
                    companyName Max Characters Is 50.</div>
                </span>
              </div>
              <div class="align-right w-40" style="width:30%; text-align:right;">
                <small>{{company.value.length}}/50</small>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label class="required">Worked On Projects:</label>&nbsp;
            <input pInputText id="Experience_Location" type="text" #location formControlName="workedOnProjects"
              alphaOnly (keydown)="restrictSpaces($event)"
              [ngClass]="{ 'is-invalid ng-dirty': FormControls['workedOnProjects'].touched && FormControls['workedOnProjects'].errors }"
              placeholder="Enter Worked On Projects" [maxlength]="maxLength.name" />
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['workedOnProjects'].touched && FormControls['workedOnProjects'].invalid">
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['workedOnProjects'].errors?.['required']">
                    Please Enter Location.</div>
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['workedOnProjects'].errors?.['minlength']">
                    CompanyLocation Min Characters Is 2.</div>
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['workedOnProjects'].errors?.['maxlength']">
                    CompanyLocation Max Characters Is 50.</div>
                </span>
              </div>
              <div class="align-right w-40" style="width:30%; text-align:right;">
                <small>{{location.value.length}}/50</small>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label class="required">Date of Joining:</label>&nbsp;
            <p-calendar [showIcon]="true" formControlName="dateOfJoining" [readonlyInput]="true"
              id="Experience_dateOfJoining" appendTo="body" (keydown)="restrictSpaces($event)"
              [ngClass]="{ 'is-invalid ng-dirty': FormControls['dateOfJoining'].touched && FormControls['dateOfJoining'].errors }"
              placeholder="Select Date Of Joining">
            </p-calendar>
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['dateOfJoining'].touched && FormControls['dateOfJoining'].invalid">
                  <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['dateOfJoining'].errors?.['required']">
                    Please Select Date Of Joining.</div>
                </span>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label class="required">Date of Reliving:</label>&nbsp;
            <p-calendar [showIcon]="true" formControlName="dateOfReliving" id="Experience_dateOfReliving"
              appendTo="body" [readonlyInput]="true"
              [ngClass]="{ 'is-invalid ng-dirty': FormControls['dateOfReliving'].touched && FormControls['dateOfReliving'].errors }"
              placeholder="Select Date of Reliving">
            </p-calendar>
            <div class="flex">
              <div class="align-left w-60" style="width:70%">
                <span *ngIf="FormControls['dateOfReliving'].touched && FormControls['dateOfReliving'].invalid">
                  <div class="ng-invalid ng-touched p-error"
                    *ngIf="FormControls['dateOfReliving'].errors?.['required']">
                    Please Select Date Of Reliving.</div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </form>
  </div>

  <!-- Certificate Details -->
  <div *ngIf="this.header==='Certificate Details'">
    <form [formGroup]="fbcertificatedetails">
      <!-- <div p-overlayPanel class="fadeinup animation-duration-1000 grid  m-0 mt-3 p-0"> -->
      <div class="col-12 roles-container">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4">
            <label>Certification Name: </label>
            <p-dropdown inputId="dropdown" id="CertificationName" [autoDisplayFirst]="false"
              formControlName="CertificationName" appendTo="body" optionLabel="name"
              placeholder="Select CertificationName">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label>Franchise Name: </label>
            <input pInputText id="franchiseName" type="text" formControlName="franchiseName" class="form-control"
              placeholder="Enter Franchise Name" />
          </div>
          <div class="field col-12 md:col-4">
            <label>Year Of Completion: </label>
            <p-calendar [showIcon]="true" formControlName="yearOfCompletion" id="passed_Out_year" appendTo="body"
              [readonlyInput]="true" placeholder="Select Year of Completion"></p-calendar>
          </div>
          <div class="field col-12 md:col-4">
            <label>Result: </label>
            <input pInputText id="result" type="text" formControlName="result" class="form-control"
              placeholder="Enter Result" />
          </div>
        </div>
      </div>
      <!-- </div> -->
    </form>
  </div>

  <!-- Technical Skills -->
  <div *ngIf="this.header==='Technical Skills'">
    <form [formGroup]="fbtechnicalSkills">
      <!-- <div p-overlayPanel class="fadeinup animation-duration-1000 grid  m-0 mt-3 p-0"> -->
      <div class="col-12 roles-container">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label>Technical Skills: </label>
            <p-dropdown inputId="dropdown" id="technicalSkills" [autoDisplayFirst]="false"
              formControlName="technicalSkills" appendTo="body" optionLabel="name"
              placeholder="Select Technical Skills">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label>Expertise(Give Your Assesment): </label>
            <app-star-rating></app-star-rating>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </form>
  </div>

  <!-- Language Skills -->
  <div *ngIf="this.header==='Language Skills'">
    <form [formGroup]="fblanguageSkills">
      <!-- <div p-overlayPanel class="fadeinup animation-duration-1000 grid  m-0 mt-3 p-0"> -->
      <div class="col-12 roles-container">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label>Language Skills: </label>
            <p-dropdown inputId="dropdown" id="languageSkills" [autoDisplayFirst]="false"
              formControlName="languageSkills" appendTo="body" optionLabel="name" placeholder="Select Language Skills">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-2">
            <label>CanRead: </label><br>
            <p-checkbox [binary]="true" class="mt-2" formControlName="canRead"></p-checkbox>
          </div>
          <div class="field col-12 md:col-2">
            <label>CanWrite: </label><br>
            <p-checkbox [binary]="true" class="mt-2" formControlName="canWrite"></p-checkbox>
          </div>
          <div class="field col-12 md:col-2">
            <label>CanSpeak: </label><br>
            <p-checkbox [binary]="true" class="mt-2" formControlName="canSpeak"></p-checkbox>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </form>
  </div>


  <div class=" footer dialog-footer">
    <button pButton pRipple class="p-button-raised p-button-primary" type="submit"
    [disabled]="isSaveButtonDisabled()" (click)="onSubmit()">Save</button>
    <!-- <button pButton pRipple  class="p-button-raised p-button-primary" type="submit" (click)="onCancel()">Cancel</button> -->
  </div>
  <!-- </form> -->
</div>