<div class="grid">
    <div class="col-12 lg:col-12 md:col-12 sm:col-12">
        <div class="grid" style="margin: -1rem">
            <div class="col-12 sm:col">
                <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-500">Total Employees</h6>
                        <h1 class="m-0 text-500">{{admindashboardDtls?.activeEmployees}}</h1>
                    </div>
                    <div (click)="navigateEmpDtls()" class="att-pointer" pTooltip="Navigate Employees"
                        tooltipPosition="top">
                        <i class="pi pi-users text-3xl"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card text-0 flex justify-content-between pt-4 h-full"
                    style="background-color: var(--primary-color); min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-0">On Leave</h6>
                        <h1 class="m-0 text-0"
                            [ngClass]="{'text-white': admindashboardDtls?.calculatedLeaveCount, 'text-14': !admindashboardDtls?.calculatedLeaveCount}">
                            {{ admindashboardDtls?.calculatedLeaveCount ? admindashboardDtls?.calculatedLeaveCount :
                            (chartFilled ? 'Today, there is no employee leaves.' : 'Please update today attendance.') }}
                        </h1>
                    </div>
                    <div class="att-pointer" (click)="navigateAttendence()" pTooltip="Navigate Attendence"
                        tooltipPosition="top">
                        <i class="pi pi-user-minus text-3xl"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card bg-gray-400 text-white flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-white">Total Projects</h6>
                        <h1 class="m-0 text-white">
                            {{ admindashboardDtls?.totalprojectsCount }}
                        </h1>
                    </div>
                    <div (click)="navigateProjects()" class="att-pointer" pTooltip="Navigate Projects"
                        tooltipPosition="top">
                        <i class="pi pi-clone text-3xl"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card bg-gray-600 text-white flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-white">Suspended Projects</h6>
                        <h1 class="m-0 text-white">{{admindashboardDtls?.savedsupsendedProjects[0]?.projectStatusCount}}
                        </h1>
                    </div>
                    <div (click)="navigateProjects()" class="att-pointer" pTooltip="Navigate Projects"
                        tooltipPosition="top">
                        <i class="pi pi-stop text-3xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card-headr chart_head gap-2 ">
            <div class="card-title text-center">
                <h6 class="m-0">Chart by </h6>
            </div>
        </div>
        <div class="card">
           
            <div class="grid m-0">
                <div class="col-12 lg:col-5 md:col-6 sm:col-12 pt-0">
                    <div class=" pb-5 pt-0 chart_card employee_card_dashboard">
                        <div class="card-headr gap-2 pb-2">
                            <div class="card-title">
                                <h6 class="mb-4">Attendance </h6>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="grid p-3">
                                <div class="col-12">
                                    <div class="grid p-0">
                                        <div class="col p-0">
                                            <div class="flex align-items-center">
                                                <p-radioButton [(ngModel)]="chart" value="Date" id="charts1"
                                                    (click)="getAttendanceCountsBasedOnType()"></p-radioButton>
                                                <label for="charts1" class="mx-2" id="charts-label">Date</label>
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <div class="flex align-items-center">
                                                <p-radioButton [(ngModel)]="chart" value="Month" id="charts2"
                                                    (click)="getAttendanceCountsBasedOnType()"></p-radioButton>
                                                <label for="charts2" class="mx-2" id="charts-label">Month</label>
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <div class="flex align-items-center">
                                                <p-radioButton [(ngModel)]="chart" value="Year" id="charts3"
                                                    (click)="getAttendanceCountsBasedOnType()"></p-radioButton>
                                                <label for="charts3" class="mx-2" id="charts-label">Year</label>
                                            </div>
                                        </div>
                                        <div class="col p-0" *ngIf="!hideElements">
                                            <div class="align-items-center">
                                                <p-checkbox [binary]="true"></p-checkbox>
                                                <label for="charts3" class="" id="charts-label">By Projects</label><br />
                                                <p-dropdown appendTo="body" [filter]="true" placeholder="Select Project"
                                                    class="w-100">
                                                </p-dropdown>
                                            </div>
                                        </div>
                                        <!-- For attendance section -->
                                        <div class="col p-0 text-center">
                                            <span *ngIf="chart === 'Date'; else attendanceMonthContent">
                                                <i class="pi pi-angle-left d-leave-font" (click)="gotoPreviousDay()"></i>
                                                <p-calendar class="charts_date_picker" styleClass="only-icon" [showIcon]="true"
                                                    id="Attendance_date_picker" [yearNavigator]="true" yearRange="2000:2030"
                                                    [readonlyInput]="true" (onSelect)="onDaySelect($event)">
                                                </p-calendar>
                                                <i class="pi pi-angle-right d-leave-font" (click)="gotoNextDay()"></i>
                                                <p class="text-xs">{{ getCurrentDay() }}</p>
                                            </span>
                                            <ng-template #attendanceMonthContent>
                                                <span *ngIf="chart === 'Month'; else attendanceYearContent">
                                                    <i class="pi pi-angle-left d-leave-font" (click)="gotoPreviousMonth()"></i>
                                                    <p-calendar class="charts_date_picker" styleClass="only-icon" [showIcon]="true"
                                                        id="Attendance_month_picker" view="month" [yearNavigator]="true"
                                                        yearRange="2000:2030" [readonlyInput]="true"
                                                        (onSelect)="onMonthSelect($event)">
                                                    </p-calendar>
                                                    <i class="pi pi-angle-right d-leave-font" (click)="gotoNextMonth()"></i>
                                                    <p class="text-xs">{{formatMonth(this.month)}}/{{this.year}}</p>
                                                </span>
                                                <ng-template #attendanceYearContent>
                                                    <i class="pi pi-angle-left d-leave-font" (click)="gotoPreviousYear()"></i>
                                                    <p-calendar class="charts_date_picker" styleClass="only-icon" [showIcon]="true"
                                                        id="Attendance_year_picker" view="year" [yearNavigator]="true"
                                                        yearRange="2000:2030" [readonlyInput]="true"
                                                        (onSelect)="onYearSelect($event)">
                                                    </p-calendar>
                                                    <i class="pi pi-angle-right d-leave-font" (click)="gotoNextYear()"></i>
                                                    <p class="text-xs">{{this.year}}</p>
                                                </ng-template>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <!-- <li *ngIf="this.attendanceCount?.length > 0; else noDataMessage">
                                <p-chart type="doughnut" [data]="pieDataforAttendance" [options]="pieOptionsforAttendance"
                                    height="200px" width="100%"></p-chart>
                            </li> -->
                            <div *ngIf="this.attendanceCount?.length > 0; else noDataMessage">
                                <p-chart type="bar" [data]="pieDataforAttendance" [options]="pieOptionsforAttendance" height="250px"
                                    width="100%" (onDataSelect)="onChartClick($event)"></p-chart>
                            </div>
                            <ng-template #noDataMessage>
                                <div class="text-center mt-5">
                                    <div class="border-round-lg pt-5 px-5 pb-5 mb-3"
                                        style="background-color: var(--primary-lighter-color)">
                                        <p>Please update today attendance.</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            
                <div class="col-12 lg:col-7 md:col-6 sm:col-12 pt-0 pb-0 employee_dash_view">
                    <div class=" pb-5 pt-0 chart_card employee_card_dashboard">
                        <div class="card-headr gap-2 pb-2">
                            <div class="card-title">
                                <h6 class="mb-2">Employee </h6>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="p-5 pt-0 pb-0 ">
                                <ul class="list-none p-0 overflow-auto" style="margin: 0 -1.5rem -1rem;">
                                    <ng-container *ngIf="employeeCount.length>0; else noDataTemplate">
                                        <p-table #employeeTable [value]="employeeCount" [paginator]="true" [rows]="5"
                                        [rowHover]="true" styleClass="p-datatable-striped p-datatable-gridlines top_note_bar" responsiveLayout="scroll">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Employee Name</th>
                                                    <th>Day Work Status</th>
                                                </tr>
                                            </ng-template> <ng-template pTemplate="body" let-employee>
                                                <tr>
                                                    <td>
                                                        <span *ngIf="employee?.code">
                                                            <p-tag
                                                                class="inline-block" value="{{employee?.code}}">
                                                        </p-tag>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                            {{employee?.employeeName}}
                                                        </h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                            {{employee?.dayWorkStatus}}
                                                        </h6>
                                                    </td>
                                                    <!-- Add more columns if needed -->
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </ng-container>
                                    <ng-template #noDataTemplate>
                                        <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                            style="background-color: var(--primary-lighter-color)">
                                            <div class="text-center">
                                                <p class="m-3">Select any Vertical Bar to Display Employees Belonging to that Working Type.</p>
                                            </div>
                                        </li>
                                    </ng-template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
    

    <div class="col-12 lg:col-5 md:col-6 sm:col-12">      
        <div class="card-headr chart_head gap-2 ">
            <div class="card-title text-center">
                <h6 class="m-0">Chart by Projects </h6>
            </div>
        </div>
        <div class="card pb-5 pt-5  chart_card employee_card_dashboard">
            
            <div class="mb-0">
                <!-- <div class="grid">
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-primary-300 m-1"></i><span>Initial </span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-red-300 m-1"></i><span>Dev</span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-green-300 m-1"></i><span>Com</span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-blue-300 m-1"></i><span>AMC</span>
                    </div>
                </div> -->
                <ul class="list-none p-0 m-1">
                    <li *ngIf="this.admindashboardDtls?.savedactiveProjects?.length > 0; else noProjectsMessage">
                        <p-chart type="doughnut" [data]="pieDataforProjects" [options]="pieOptionsforProjects"
                            height="250px" width="100%">
                        </p-chart>
                    </li>
                    <ng-template #noProjectsMessage>
                        <div class="text-center mt-5">
                            <div class="border-round-lg pt-5 px-5 pb-5 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <p>No data available for the Project chart.</p>
                            </div>
                        </div>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-7 md:col-6 sm:col-12">
        <div class="card-headr chart_head gap-2 ">
            <div class="card-title text-center">
                <h6 class="m-0">Notifications </h6>
            </div>
        </div>
       
       
        <div class="card employee_card_dashboard">
            <p-fieldset legend="HR Notifications" [toggleable]="true" class="line-height-3 m-0 mb-2">
              
               
                        <!-- <ul class="list-none p-0 overflow-auto" >
                           
                            <li class="border-round-lg p-3 mb-3" style="background-color: var(--primary-lighter-color)">
                                <div class="flex justify-content-between align-items-center mb-1">
                                    <div class="flex align-items-center  w-100 gap-1"> 
                                        <span class="mt-1 text-400 block text-sm line-height-2  overflow-hidden text-overflow-ellipsis">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ad itaque voluptatum deleniti impedit! Inventore eius soluta maxime a quisquam alias, at minima ullam reiciendis blanditiis voluptate.
                                            Dolore, nisi vel.
                                        </span>                                          
                                        <span class="text-gray-300 font-semibold text-sm line-height-1 w-20" style="width:20%;">4h ago</span>
                                    </div>                                    
                                </div>
                            </li>
                        </ul> -->
                <ul class="list-none p-0 overflow-auto"
                style=" max-height: 10.745rem;" *ngIf="notifications && notifications?.length > 0 ; else noHRTemplate" 
                >
                    <li class="border-round-lg p-3 mb-1"  *ngFor="let employee of notifications" style="background-color: var(--primary-lighter-color)">
                        <div class="flex justify-content-between align-items-center mb-1">
                            <div class="flex align-items-center  w-100 gap-1"> 
                                <span class="mt-1 text-400 block text-sm line-height-2  overflow-hidden text-overflow-ellipsis" style="width:90%;">
                                    {{employee?.message}}
                                </span>                                          
                                <span class="text-gray-300 font-semibold text-sm line-height-1 w-20" style="width:10%;">4h ago</span>
                            </div>                                    
                        </div>
                    </li>
                    <!-- <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                        style="background-color: var(--primary-lighter-color)">
                        <div class="grid ga leav_list m-0 p-0">
                            <div class="col-12 p-1" *ngIf="employee.messageType =='HR'">
                                <h6 class="line-height-3 m-0 font-medium font-medium ">
                                    <b></b>
                                </h6>
                            </div>
                        </div>
                    </li> -->
                </ul>
                    
                <ng-template #noHRTemplate>
                    <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                        style="background-color: var(--primary-lighter-color)">
                        <div class="text-center m-3">
                            <p class="m-0">There is no HR Notifications.</p>
                        </div>
                    </li>
                </ng-template>
            </p-fieldset><br/>
            <p-fieldset legend="Birthday Greetings" [toggleable]="true" class="line-height-3 m-0">
                <div *ngIf="notifications && notifications?.length > 0; else noBirthdaysTemplate">
                    <div *ngFor="let employee of notifications">
                        <ul class="list-none p-0 overflow-auto"
                            style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                            <li class="border-round-lg pt-2 px-3 pb-2 mb-3" style="background-color: var(--primary-lighter-color)">
                                <div class="flex justify-content-between align-items-center mb-1">
                                    <div class="flex align-items-center gap-1">
                                        <h6 class="line-height-3 m-0 font-medium">{{employee?.employeeName}}</h6>
                                        <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-blue-300" class="inline-block" value="{{employee?.code}}"></p-tag>
                                    </div>

                                    <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-sm flex-shrink-0" ></button>
                                </div>
                                
                            </li>
                            <li *ngIf="employee.messageType =='Birthday'"
                                class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <div class="grid ga leav_list m-0 p-0">
                                    <div class="col-4 p-1">
                                        <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300 "
                                            class="inline-block" value="{{employee?.code}}"></p-tag>
                                    </div>
                                    <div class="col-4 p-1">
                                        <h6 class="line-height-3 m-0 font-medium font-medium ">
                                            <b></b>
                                        </h6>
                                    </div>
                                    <!-- {{EmployeeId}} -->
                                    <div class="col-4 p-1"  *ngIf="EmployeeId">
                                        <button pButton type="button" class="btn btn-primary"
                                            label="Send Wishes" (click)="showBirthdayDialog()"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-template #noBirthdaysTemplate>
                    <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                        style="background-color: var(--primary-lighter-color)">
                        <div class="text-center m-3">
                            <p class="m-0">Today, there is no Employee birthdays .</p>
                        </div>
                    </li>
                </ng-template>
                <ul class="list-none p-0 overflow-auto"  *ngIf="notificationReplies && notificationReplies.length > 0"
                    style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                    <div
                        *ngIf="notificationReplies && notificationReplies?.length > 0 ; else nobdTemplate">
                        <div *ngFor="let employee of notificationReplies">
                            <ul class="list-none p-0 overflow-auto"
                                style="max-height: 17.745rem">
                                <li class="border-round-lg pt-2 px-3 pb-2 mb-3" style="background-color: var(--primary-lighter-color)">
                                    <div class="flex justify-content-between align-items-center mb-1">
                                        <div class="flex align-items-center gap-1">
                                            <h6 class="line-height-3 m-0 font-medium font-medium">Birthday Wishes from <b>Judy F.</b></h6>
                                            <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300" class="inline-block" value="#05895"></p-tag>
                                        </div>                                    
                                    </div>
                                    <div class="flex justify-content-between align-items-center">
                                        <span class="mt-1 text-400 block text-sm line-height-2  overflow-hidden text-overflow-ellipsis">
                                            {{employee?.message}}
                                        </span>                                   
                                    </div>
                                </li>
                                <!-- <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                    style="background-color: var(--primary-lighter-color)">
                                    <div class="grid ga leav_list m-0 p-0">
                                        <div class="col-4 p-1">
                                            <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300 "
                                                class="inline-block" value="{{employee?.employeeName}}"></p-tag>
                                        </div>
                                        <div class="col-4 p-1">
                                            <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                <b></b>
                                            </h6>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <ng-template #nobdTemplate>
                        <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                            style="background-color: var(--primary-lighter-color)">
                            <div class="text-center m-3">
                                <p class="m-0">There is no Birthday Greetings.</p>
                            </div>
                        </li>
                    </ng-template>
                </ul>
            </p-fieldset>

           
            <!-- <p-tabView>
                <p-tabPanel header="Today Birthdays and Events" class="w-full p-2">
                    <div *ngIf="notifications && notifications?.length > 0; else noBirthdaysTemplate">
                        <div *ngFor="let employee of notifications">
                            <ul class="list-none p-0 overflow-auto"
                                style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                <li *ngIf="employee.messageType =='Birthday'"
                                    class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                    style="background-color: var(--primary-lighter-color)">
                                    <div class="grid ga leav_list m-0 p-0">
                                        <div class="col-4 p-1">
                                            <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300 "
                                                class="inline-block" value="{{employee?.code}}"></p-tag>
                                        </div>
                                        <div class="col-4 p-1">
                                            <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                <b>{{employee?.employeeName}}</b>
                                            </h6>
                                        </div>
                                        <div class="col-4 p-1">
                                            <button pButton type="button" class="btn btn-primary"
                                                label="Send Wishes" (click)="showBirthdayDialog()"></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ng-template #noBirthdaysTemplate>
                        <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                            style="background-color: var(--primary-lighter-color)">
                            <div class="text-center m-3">
                                <p class="m-0">Today, there is no employee birthdays or events.</p>
                            </div>
                        </li>
                    </ng-template>
                    <ul class="list-none p-0 overflow-auto"
                        style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                        <div
                            *ngIf="notificationReplies && notificationReplies?.length > 0 ; else nobdTemplate">
                            <div *ngFor="let employee of notificationReplies">
                                <ul class="list-none p-0 overflow-auto"
                                    style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                    <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                        style="background-color: var(--primary-lighter-color)">
                                        <div class="grid ga leav_list m-0 p-0">
                                            <div class="col-12 p-1">
                                                <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                    <b>{{employee?.message}}</b>
                                                </h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ng-template #nobdTemplate>
                            <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <div class="text-center m-3">
                                    <p class="m-0">There is no Birthday Notifications.</p>
                                </div>
                            </li>
                        </ng-template>
                    </ul>
                </p-tabPanel>
                <p-tabPanel header="HR Notifications" class="w-full p-2">
                    <div *ngIf="notifications && notifications?.length > 0 ; else noHRTemplate">
                        <div *ngFor="let employee of notifications">
                            <ul class="list-none p-0 overflow-auto"
                                style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                    style="background-color: var(--primary-lighter-color)">
                                    <div class="grid ga leav_list m-0 p-0">
                                        <div class="col-12 p-1" *ngIf="employee.messageType =='HR'">
                                            <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                <b>{{employee?.message}}</b>
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ng-template #noHRTemplate>
                        <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                            style="background-color: var(--primary-lighter-color)">
                            <div class="text-center m-3">
                                <p class="m-0">There is no HR Notifications.</p>
                            </div>
                        </li>
                    </ng-template>
                </p-tabPanel>
            </p-tabView> -->
        </div>
            
       
        <!-- <div class="col-12 xl:col-12 pt-1">
            <div class=" p-5 orange-200  applicant-p-block-home">
                <div class="card-hader flex justify-content-between gap-3 pb-2">
                    <div class="card-title">
                        <h6>Notifications </h6>
                    </div>

                </div>

                <p-tabView>

                    <p-tabPanel header="Today Birthdays and Events" class="w-full p-2">
                        <div *ngIf="notifications && notifications?.length > 0; else noBirthdaysTemplate">
                            <div *ngFor="let employee of notifications">
                                <ul class="list-none p-0 overflow-auto"
                                    style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                    <li *ngIf="employee.messageType=='Birthday'"
                                        class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                        style="background-color: var(--primary-lighter-color)">
                                        <div class="grid ga leav_list m-0 p-0">
                                            <div class="col-4 p-1">
                                                <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300 "
                                                    class="inline-block" value="{{employee?.employeeName}}">
                                                </p-tag>
                                            </div>
                                            <div class="col-4 p-1">
                                                <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                    <b>{{employee?.message}}</b>
                                                </h6>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ng-template #noBirthdaysTemplate>
                            <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <div class="text-center m-3">
                                    <p class="m-0">Today, there is no employee birthdays or events.</p>
                                </div>
                            </li>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="HR Notifications" class="w-full p-2">

                        <div
                            *ngIf="notifications && notifications?.length > 0||notificationReplies && notificationReplies?.length > 0; else noHRTemplate">
                            <div *ngFor="let employee of notificationReplies">
                                <ul class="list-none p-0 overflow-auto"
                                    style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                    <li *ngIf="employee.messageType=='HR'" class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                        style="background-color: var(--primary-lighter-color)">
                                        <div class="grid ga leav_list m-0 p-0">

                                            <div class="col-12 p-1">
                                                <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                    <b>{{employee?.message}}</b>
                                                </h6>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div *ngFor="let employee of notifications">
                                <ul class="list-none p-0 overflow-auto"
                                    style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                    <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                        style="background-color: var(--primary-lighter-color)">
                                        <div class="grid ga leav_list m-0 p-0">

                                            <div class="col-12 p-1">
                                                <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                    <b>{{employee?.message}}</b>
                                                </h6>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <ng-template #noHRTemplate>
                            <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <div class="text-center m-3">
                                    <p class="m-0">There is no HR Notifications.</p>
                                </div>
                            </li>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div> -->
    </div>
</div>

<p-dialog header="Send Wishes" [(visible)]="wishesDialog" [modal]="true" showEffect="fade"
    [breakpoints]="{'960px': '40%', '640px': '50%'}" class="confirmation_dialog">
    <textarea id="comment" #comment rows="3" placeholder="Enter Wishes" pInputTextarea
        class="freeze_text-area col-12 mb-1" [maxLength]="256">
</textarea>
    <ng-template pTemplate="footer">
        <div style="float:right" class="p-2">
            <button pButton type="button" class="btn btn-primary" label="Send Wishes" (click)="onSubmit()"></button>
        </div>
    </ng-template>
</p-dialog>
