<div class="grid">
    <div class="col-3">
        <div class="grid" style="margin: -1rem">
            <div class="col-12 sm:col">
                <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-500">Total Employees</h6>
                        <h1 class="m-0 text-500">{{admindashboardDtls?.activeEmployees}}</h1>
                    </div>
                    <div (click)="navigateEmpDtls()">
                        <i class="pi pi-users text-3xl"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card text-0 flex justify-content-between pt-4 h-full"
                    style="background-color: var(--primary-color); min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-0">On Leave</h6>
                        <h1 class="m-0 text-0"
                            [ngClass]="{'text-white': admindashboardDtls?.calculatedLeaveCount, 'text-14': !admindashboardDtls?.calculatedLeaveCount}">
                            {{ admindashboardDtls?.calculatedLeaveCount ?
                            admindashboardDtls?.calculatedLeaveCount : 'Today,there is no employees Leaves.' }}</h1>
                    </div>
                    <div (click)="navigateAttendence()">
                        <i class="pi pi-user-minus text-3xl"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card bg-gray-400 text-white flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-white">Total Projects</h6>
                        <h1 class="m-0 text-white">
                            {{ admindashboardDtls?.totalprojectsCount }}
                        </h1>
                    </div>
                    <div (click)="navigateProjects()">
                        <i class="pi pi-clone text-3xl"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card bg-gray-600 text-white flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-white">Suspended Projects</h6>
                        <h1 class="m-0 text-white">{{admindashboardDtls?.savedsupsendedProjects[0]?.projectStatusCount}}
                        </h1>
                    </div>
                    <div (click)="navigateProjects()">
                        <i class="pi pi-stop text-3xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card pb-5 pt-5 chart_card">
            <div class="card-headr gap-2 pb-2">
                <div class="card-title">
                    <h6 class="mb-4">Chart by Attendance </h6>
                </div>
            </div>
            <div class="mb-1">
                <div class="grid">
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill dashboardinoffice m-1"></i><span>In Office </span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill dashboardabsent m-1"></i><span>Absent</span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill dashboardpl m-1"></i><span>PL</span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill dashboardcl m-1"></i><span>CL</span>
                    </div>
                    <div class="col-6 flex py-0 ">
                        <i class="pi pi-circle-fill dashboardwfh m-1"></i><span>WFH</span>
                    </div>
                    <div class="col-6 flex py-0 ">
                        <i class="pi pi-circle-fill dashboardlwp m-1"></i><span>LWP</span>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li *ngIf="this.admindashboardDtls?.savedActiveEmployeesInOffice?.length > 0; else noDataMessage">
                        <p-chart type="doughnut" [data]="pieDataforAttendance" [options]="pieOptions" height="135px"
                            width="100%"></p-chart>
                    </li>
                    <ng-template #noDataMessage>
                        <div class="text-center mt-5">
                            <div class="border-round-lg pt-5 px-5 pb-5 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <p>Please update today attendance.</p>
                            </div>
                        </div>
                    </ng-template>
                </ul>
            </div>
        </div>
        <div class="card pb-5 pt-5  chart_card">
            <div class="card-headr gap-2 pb-2">
                <div class="card-title">
                    <h6 class="mb-4">Chart by Projects </h6>
                </div>
            </div>
            <div class="mb-0">
                <div class="grid">
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-primary-300 m-1"></i><span>Initial </span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-red-300 m-1"></i><span>Dev</span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-green-300 m-1"></i><span>Com</span>
                    </div>
                    <div class="col-6 flex py-0">
                        <i class="pi pi-circle-fill text-blue-300 m-1"></i><span>AMC</span>
                    </div>
                </div>
                <ul class="list-none p-0 m-1">
                    <li *ngIf="this.admindashboardDtls?.savedactiveProjects?.length > 0; else noDataMessage">
                        <p-chart type="doughnut" [data]="pieDataforProjects" [options]="pieOptions" height="135px"
                            width="100%">
                        </p-chart>
                    </li>
                    <ng-template #noDataMessage>
                        <div class="text-center mt-5">
                            <div class="border-round-lg pt-5 px-5 pb-5 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <p>No data available for the Project chart.</p>
                        </div>
                        </div>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-12 xl:col-12 pt-1">
            <div class="grid">
                <div class="col-12  xl:col-12">
                    <div class="card">
                        <div class="card-headr gap-3 pb-2">
                            <div class="">
                                <h6>Employee </h6>
                            </div>
                        </div>
                        <p-tabView>
                            <p-tabPanel header="On Leave" class="w-full p-0">
                                <ng-template pTemplate="header">
                                    <div class="pr-2" *ngIf="admindashboardDtls?.savedemployeesOnLeave?.length > 0"
                                        pBadge value="{{ admindashboardDtls?.savedemployeesOnLeave?.length }}"
                                        severity="info">
                                        <h6 class="m-0 mr-2">On Leave</h6>
                                    </div>
                                    <h6 *ngIf="admindashboardDtls?.savedemployeesOnLeave?.length === 0 || !admindashboardDtls?.savedemployeesOnLeave"
                                        class="m-0 mr-2">On Leave</h6>
                                </ng-template>

                                <ul class="list-none p-0 overflow-auto"
                                    style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                    <ng-container
                                        *ngIf="admindashboardDtls?.savedemployeesOnLeave && admindashboardDtls?.savedemployeesOnLeave?.length > 0; else noDataTemplate">
                                        <li *ngFor="let employee of admindashboardDtls?.savedemployeesOnLeave"
                                            class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                            style="background-color: var(--primary-lighter-color)">
                                            <div class="">
                                                <div class="grid ga leav_list m-0 p-0">
                                                    <div class="col-3 p-1">
                                                        <span *ngIf="employee?.employeecode">
                                                            <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300 "
                                                                class="inline-block" value="{{employee?.employeecode}}">
                                                            </p-tag>
                                                        </span>

                                                    </div>
                                                    <div class="col-3 p-1">
                                                        <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                            <b>{{employee?.employeeName}}</b>
                                                        </h6>
                                                    </div>
                                                    <div class="col-3 p-1">
                                                        <span *ngIf="employee?.designation">
                                                            <p-tag
                                                                styleClass="m-0 mr-2 px-2 text-xs bg-blue-300 leavelist_emp_designation "
                                                                class="inline-block" value="{{employee?.designation}}">
                                                            </p-tag>
                                                        </span>

                                                    </div>
                                                    <div class="col-3 p-1 text-right">
                                                        <p-tag
                                                            styleClass="m-0 mr-2 px-2 text-xs  leavelist_emp_designation "
                                                            class="inline-block" value="{{employee?.leaveType}}">
                                                        </p-tag>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ng-container>
                                    <ng-template #noDataTemplate>
                                        <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                            style="background-color: var(--primary-lighter-color)">
                                            <div class="text-center">
                                                <p class="m-3">Today,there is no employees Leaves.</p>
                                            </div>
                                        </li>
                                    </ng-template>
                                </ul>
                                <!-- <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
                            </p-tabPanel>
                          
                        </p-tabView>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 xl:col-12 pt-1">
            <div class="grid">
                <div class="col-12 md:col-6 xl:col-12">
                    <div class="card">
                        <div class="card-hader gap-3 pb-2">
                            <div class="card-title">
                                <h6>Notifications </h6>
                            </div>
                        </div>
                        <p-tabView>
                           
                            <p-tabPanel header="Messages" class="w-full p-2">
                                <ng-template pTemplate="header">
                                    <div class="pr-2" *ngIf="admindashboardDtls?.savedemployeeBirthdays?.length > 0"
                                        pBadge value="{{admindashboardDtls?.savedemployeeBirthdays?.length }}"
                                        severity="info">
                                        <h6 class="m-0 mr-2">Today Birthdays and Events</h6>
                                    </div>
                                    <h6 *ngIf="admindashboardDtls?.savedemployeeBirthdays?.length === 0 || !admindashboardDtls?.savedemployeeBirthdays"
                                        class="m-0 mr-2">Today Birthdays and Events</h6>
                                </ng-template>
                                <ul class="list-none p-0 overflow-auto"
                                    style="margin: 0 -1.5rem -1rem; max-height: 17.745rem">
                                    <ng-container
                                        *ngIf="admindashboardDtls?.savedemployeeBirthdays && admindashboardDtls?.savedemployeeBirthdays.length > 0; else noBirthdaysTemplate">

                                        <li *ngFor="let employee of admindashboardDtls?.savedemployeeBirthdays"
                                            class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                            style="background-color: var(--primary-lighter-color)">
                                            <div class="grid ga leav_list m-0 p-0">
                                                <div class="col-4 p-1">
                                                    <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300 "
                                                        class="inline-block" value="{{employee?.employeecode}}"></p-tag>
                                                </div>
                                                <div class="col-4 p-1">
                                                    <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                        <b>{{employee?.employeeName}}</b>
                                                    </h6>
                                                </div>
                                                <div class="col-4 p-1 text-right">
                                                    <p-tag
                                                        styleClass="m-0 mr-2 px-2 text-xs bg-blue-300 leavelist_emp_designation "
                                                        class="inline-block" value="{{employee?.employeeDOB}}"></p-tag>
                                                </div>
                                            </div>
                                        </li>
                                    </ng-container>
                                    <ng-template #noBirthdaysTemplate>
                                        <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                            style="background-color: var(--primary-lighter-color)">
                                            <div class="text-center m-3">
                                                <p class="m-0">Today, there is no employee birthdays or events.</p>
                                            </div>
                                        </li>
                                    </ng-template>
                                </ul>
                                <!-- <p-menu #menu2 [popup]="true" [model]="items"></p-menu> -->
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
        </div>


    </div>




</div>