<div class="grid">
    <div class="col-12 lg:col-12 md:col-12 sm:col-12">
        <div class="grid" style="margin: -1rem">
            <div class="col-12 sm:col">
                <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-500">Total Employees</h6>
                        <h1 class="m-0 text-500">{{admindashboardDtls?.activeEmployees}}</h1>
                    </div>
                    <div *ngIf="permissions?.CanViewEnrollEmployees; else disabledemployee">
                        <div (click)="navigateEmpDtls()" class="att-pointer" pTooltip="View Employees"
                            tooltipPosition="top">
                            <i class="pi pi-users text-3xl"></i>
                        </div>
                    </div>
                    <ng-template #disabledemployee>
                        <div class="att-pointer" [style.opacity]="0.5" [style.pointer-events]="'none'">
                            <i class="pi pi-users text-3xl"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card text-0 flex justify-content-between pt-4 h-full"
                    style="background-color: var(--primary-color); min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-0">On Leave</h6>
                        <h1 class="m-0 text-0"
                            [ngClass]="{'text-white': admindashboardDtls?.calculatedLeaveCount, 'text-14': !admindashboardDtls?.calculatedLeaveCount}">
                            {{ admindashboardDtls?.calculatedLeaveCount ? admindashboardDtls?.calculatedLeaveCount :
                            (chartFilled ? 'Today, there is no employee leaves.' : 'Please update today attendance.') }}
                        </h1>
                    </div>
                    <div
                        *ngIf="permissions?.CanViewAttendances && admindashboardDtls?.savedemployeesOnLeave.length > 0; else disabledattendece">
                        <div class="att-pointer" (click)="showEmployeeslist()" pTooltip="View On Leave Employees"
                            tooltipPosition="top">
                            <i class="pi pi-user-minus text-3xl"></i>
                        </div>
                    </div>
                    <ng-template #disabledattendece>
                        <div class="att-pointer" [style.opacity]="0.5" [style.pointer-events]="'none'">
                            <i class="pi pi-user-minus text-3xl"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card bg-gray-400 text-white flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-white">Ongoing Projects</h6>
                        <h1 class="m-0 text-white">
                            {{ admindashboardDtls?.totalprojectsCount }}
                        </h1>
                    </div>
                    <div *ngIf="permissions?.CanViewProjects; else disabledproject">
                        <div (click)="navigateProjects()" class="att-pointer" pTooltip="View Ongoing Projects"
                            tooltipPosition="top">
                            <i class="pi pi-clone text-3xl"></i>
                        </div>
                    </div>
                    <ng-template #disabledproject>
                        <div class="att-pointer" [style.opacity]="0.5" [style.pointer-events]="'none'">
                            <i class="pi pi-clone text-3xl"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="col-12 sm:col">
                <div class="card bg-gray-600 text-white flex justify-content-between pt-4 h-full"
                    style="min-width: 17rem">
                    <div class="overview-info">
                        <h6 class="m-0 mb-1 text-white">Amc Projects</h6>
                        <h1 class="m-0 text-white">{{admindashboardDtls?.savedAmcProjects}}
                        </h1>
                    </div>
                    <div *ngIf="permissions?.CanViewProjects; else disabledproject">
                        <div (click)="navigateamcProjects()" class="att-pointer" pTooltip="View AMC Projects"
                            tooltipPosition="top">
                            <i class="pi pi-stop text-3xl"></i>
                        </div>
                    </div>
                    <ng-template #disabledproject>
                        <div class="att-pointer" [style.opacity]="0.5" [style.pointer-events]="'none'">
                            <i class="pi pi-stop text-3xl"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card-headr chart_head gap-2 ">
            <div class="card-title text-center">
                <h6 class="m-0">Chart by </h6>
            </div>
        </div>
        <div class="card">
            <div class="grid m-0">
                <div class="col-12 lg:col-5 md:col-6 sm:col-12 pt-0">
                    <div class=" pb-5 pt-0 chart_card employee_card_dashboard">
                        <div class="card-headr gap-2 pb-2">
                            <div class="card-title">
                                <h6 class="mb-4">Attendance </h6>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="grid p-3">
                                <div class="col-12 pb-0">
                                    <div class="grid p-0">
                                        <div class="col p-0">
                                            <div class="flex align-items-center">
                                                <p-radioButton [(ngModel)]="chart" value="Date" id="charts1"
                                                    (click)="getAttendanceProjectChart()"></p-radioButton>
                                                <label for="charts1" class="mx-2" id="charts-label">Date</label>
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <div class="flex align-items-center">
                                                <p-radioButton [(ngModel)]="chart" value="Month" id="charts2"
                                                    (click)="getAttendanceProjectChart()"></p-radioButton>
                                                <label for="charts2" class="mx-2" id="charts-label">Month</label>
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <div class="flex align-items-center">
                                                <p-radioButton [(ngModel)]="chart" value="Year" id="charts3"
                                                    (click)="getAttendanceProjectChart()"></p-radioButton>
                                                <label for="charts3" class="mx-2" id="charts-label">Year</label>
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <div class="align-items-center custom-checkbox">
                                                <div class="col p-0">
                                                    <p-checkbox [(ngModel)]="isCheckboxSelected"
                                                        (click)="onCheckboxClick()" [binary]="true"></p-checkbox>
                                                    <label for="charts3" class="mx-2" id="charts-label">By
                                                        Projects</label>
                                                </div>
                                                <div class="field mt-2">
                                                    <p-multiSelect
                                                        *ngIf="this.isCheckboxSelected && (this.chart === 'Date' || this.chart === 'Month')"
                                                        selectedItemsLabel="{0} Projects Selected"
                                                        [(ngModel)]="this.selectedProjects" optionLabel="projectName"
                                                        [options]="attendanceCountByProject"
                                                        placeholder="Choose Projects" filterBy="name" appendTo="body"
                                                        class="project_select" (onChange)="projectsChart()">
                                                    </p-multiSelect>
                                                </div>
                                                <div class="field mt-2"
                                                    *ngIf="this.isCheckboxSelected && this.chart === 'Year'">
                                                    <p-multiSelect *ngIf="this.isCheckboxSelected"
                                                        selectedItemsLabel="{0} Projects Selected"
                                                        [(ngModel)]="this.selectedFillterdProjects"
                                                        optionLabel="projectName" [options]="fillterdProjects"
                                                        placeholder="Choose Projects" filterBy="name" appendTo="body"
                                                        class="project_select" (onChange)="yearlyProjectsChart()">
                                                    </p-multiSelect>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- For attendance section -->
                                        <div class="col p-0 text-center d-leave">
                                            <span *ngIf="chart === 'Date'; else attendanceMonthContent">
                                                <i class="pi pi-angle-left d-leave-font"
                                                    (click)="gotoPreviousDay()"></i>
                                                <p-calendar class="charts_date_picker" styleClass="only-icon"
                                                    [showIcon]="true" id="Attendance_date_picker" [yearNavigator]="true"
                                                    yearRange="2000:2030" [readonlyInput]="true"
                                                    (onSelect)="onDaySelect($event)">
                                                </p-calendar>
                                                <i class="pi pi-angle-right d-leave-font" (click)="gotoNextDay()"></i>
                                                <p class="text-xs">{{ this.selectedDate}}</p>
                                            </span>
                                            <ng-template #attendanceMonthContent>
                                                <span *ngIf="chart === 'Month'; else attendanceYearContent">
                                                    <i class="pi pi-angle-left d-leave-font"
                                                        (click)="gotoPreviousMonth()"></i>
                                                    <p-calendar class="charts_date_picker" styleClass="only-icon"
                                                        [showIcon]="true" id="Attendance_month_picker" view="month"
                                                        [yearNavigator]="true" yearRange="2000:2030"
                                                        [readonlyInput]="true" (onSelect)="onMonthSelect($event)">
                                                    </p-calendar>
                                                    <i class="pi pi-angle-right d-leave-font"
                                                        (click)="gotoNextMonth()"></i>
                                                    <p class="text-xs">{{formatMonth(this.month)}}/{{this.year}}</p>
                                                </span>
                                                <ng-template #attendanceYearContent>
                                                    <i class="pi pi-angle-left d-leave-font"
                                                        (click)="gotoPreviousYear()"></i>
                                                    <p-calendar class="charts_date_picker" styleClass="only-icon"
                                                        [showIcon]="true" id="Attendance_year_picker" view="year"
                                                        [yearNavigator]="true" yearRange="2000:2030"
                                                        [readonlyInput]="true" (onSelect)="onYearSelect($event)">
                                                    </p-calendar>
                                                    <i class="pi pi-angle-right d-leave-font"
                                                        (click)="gotoNextYear()"></i>
                                                    <p class="text-xs">{{this.year}}</p>
                                                </ng-template>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-leave" *ngIf="!isCheckboxSelected && this.attendanceCount?.length > 0">
                                <p-chart class="d-leave-font" type="bar" [data]="barDataforAttendance"
                                    [options]="barOptionsforAttendance" height="250px" width="100%"
                                    (onDataSelect)="onChartClick($event)"></p-chart>
                            </div>
                            <div class="card" *ngIf="isCheckboxSelected">
                                <p-chart type="bar" [data]="projectsbarDataforAttendance"
                                    [options]="projectsbarOptionsforAttendance"
                                    (onDataSelect)="onProjectChartClick($event)"></p-chart>
                            </div>

                            <div class="text-center mt-5"
                                *ngIf="(!isCheckboxSelected && attendanceCount?.length === 0)">
                                <div class="border-round-lg pt-5 px-5 pb-5 mb-3"
                                    style="background-color: var(--primary-lighter-color)">
                                    <p>Please update today's attendance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 lg:col-7 md:col-6 sm:col-12 pt-0 pb-0 employee_dash_view">
                    <div class=" pb-5 pt-0 chart_card employee_card_dashboard">
                        <div class="card-headr gap-2 pb-2">
                            <div class="card-title">
                                <h6 class="mb-2">Employee </h6>
                            </div>
                        </div>
                        <div *ngIf="employeeCount[0]?.projectName" class="text-center">
                            <h6>{{ employeeCount[0]?.projectName }}</h6>
                        </div>
                        <div class="mb-1">
                            <div class="p-5 pt-0 pb-0 dashboard_employee_list">
                                <ul class="list-none p-0 overflow-auto" style="margin: 0 -1.5rem -1rem;">
                                    <ng-container *ngIf="employeeCount.length>0; else noDataTemplate">
                                        <span *ngIf="chart == 'Date'">
                                            <p-table #employeeTable [value]="employeeCount" [paginator]="true"
                                                [rows]="6" [alwaysShowPaginator]="false"
                                                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th class="text-center">Code</th>
                                                        <th class="text-left">Employee Name</th>
                                                        <th class="text-center">Day Work Status</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-employee>
                                                    <tr>
                                                        <td class="text-center">
                                                            <span *ngIf="employee?.code">
                                                                <p-tag class="inline-block" value="{{employee?.code}}">
                                                                </p-tag>
                                                            </span>
                                                        </td>
                                                        <td class="text-left">
                                                            <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                                {{employee?.employeeName}}
                                                            </h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6 class="line-height-3 m-0 font-medium font-medium ">
                                                                {{employee?.dayWorkStatus}}
                                                            </h6>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </span>
                                        <span *ngIf="chart == 'Month'">
                                            <p-table [value]="employeeCount" sortField="value" sortMode="single"
                                                dataKey="value" rowGroupMode="subheader" groupRowsBy="value"
                                                rowExpandMode="single"
                                                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th class="text-center">Code</th>
                                                        <th class="text-center">Employee Name</th>
                                                        <th class="text-center">Day Work Status</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="groupheader" let-employee
                                                    let-rowIndex="rowIndex" let-expanded="expanded">
                                                    <tr>
                                                        <td colspan="5">
                                                            <button type="button" pButton pRipple
                                                                [pRowToggler]="employee"
                                                                class="p-button-text p-button-rounded p-button-plain mr-2"
                                                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                                                                <span
                                                                    class="font-bold ml-2 text-center">{{employee.value}}</span></button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="rowexpansion" let-employee>
                                                    <tr>
                                                        <td class="text-center">
                                                            <span *ngIf="employee?.code">
                                                                <p-tag class="inline-block" value="{{employee?.code}}">
                                                                </p-tag>
                                                            </span>
                                                        </td>
                                                        <td class="text-left">
                                                            {{employee?.employeeName}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{employee?.dayWorkStatus}}
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </span>
                                        <span *ngIf="chart == 'Year'">
                                            <p-table [value]="employeeCount" sortField="monthNames" sortMode="single"
                                                dataKey="monthNames" rowGroupMode="subheader" groupRowsBy="monthNames"
                                                rowExpandMode="single"
                                                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th class="text-center">Code</th>
                                                        <th class="text-center">Employee Name</th>
                                                        <th class="text-center">Day Work Status</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="groupheader" let-employee
                                                    let-rowIndex="rowIndex" let-expanded="expanded">
                                                    <tr>
                                                        <td colspan="5">
                                                            <button type="button" pButton pRipple
                                                                [pRowToggler]="employee"
                                                                class="p-button-text p-button-rounded p-button-plain mr-2"
                                                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                                                                <span
                                                                    class="font-bold ml-2">{{employee.monthNames}}</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="rowexpansion" let-employee>
                                                    <tr>
                                                        <td class="text-center">
                                                            <span *ngIf="employee?.code">
                                                                <p-tag class="inline-block" value="{{employee?.code}}">
                                                                </p-tag>
                                                            </span>
                                                        </td>
                                                        <td class="text-left">
                                                            {{employee?.employeeName}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{employee?.dayWorkStatus}}
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </span>
                                    </ng-container>
                                    <ng-template #noDataTemplate>
                                        <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                                            style="background-color: var(--primary-lighter-color)">
                                            <div class="text-center">
                                                <p class="m-3" *ngIf="!shouldDisplayMessage">Select any Vertical Bar to
                                                    Display Employees Belonging to
                                                    that Working Type.</p>
                                                <p *ngIf="shouldDisplayMessage">
                                                    It is the Huge Data to Display
                                                </p>
                                            </div>
                                        </li>
                                    </ng-template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 lg:col-5 md:col-6 sm:col-12">
        <div class="card-headr chart_head gap-2 ">
            <div class="card-title text-center">
                <h6 class="m-0">Chart by Projects </h6>
            </div>
        </div>
        <div class="card pb-5 pt-5  chart_card employee_card_dashboard2">
            <div class="mb-0">
                <ul class="list-none p-0 m-1">
                    <li *ngIf="this.admindashboardDtls?.savedactiveProjects?.length > 0; else noProjectsMessage">
                        <p-chart type="doughnut" [data]="pieDataforProjects" [options]="pieOptionsforProjects"
                            height="330px" width="100%">
                        </p-chart>
                    </li>
                    <ng-template #noProjectsMessage>
                        <div class="text-center mt-5">
                            <div class="border-round-lg pt-5 px-5 pb-5 mb-3"
                                style="background-color: var(--primary-lighter-color)">
                                <p>No data available for the Project chart.</p>
                            </div>
                        </div>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-7 md:col-6 sm:col-12" *ngIf="permissions?.CanViewNotifications">
        <div class="card-headr chart_head gap-2 ">
            <div class="card-title text-center">
                <h6 class="m-0">Notifications </h6>
            </div>
        </div>
        <div class="card employee_card_dashboard2">
            <p-fieldset legend="HR Notifications" [toggleable]="true" [collapsed]="!fieldset1Open"
                (onAfterToggle)="toggleFieldset('HR Notifications')" class="line-height-3 m-0 mb-2 dashboard_fieldset ">
                <ul class="list-none p-0 overflow-auto" style=" max-height: 10.745rem;"
                    *ngIf="notifications && notifications?.length > 0 && hasHRNotifications ; else noHRTemplate">
                    <div class="" *ngFor="let employee of notifications">
                        <li class="border-round-lg p-3 mb-1" *ngIf="employee.messageType !='Birthday'"
                            style="background-color: var(--primary-lighter-color)">
                            <div class="flex justify-content-between align-items-center mb-1">
                                <div class="flex align-items-center  w-100 gap-1">
                                    <span
                                        class="mt-1 text-900 block text-sm line-height-2  overflow-hidden text-overflow-ellipsis"
                                        style="width:85%;">
                                        {{employee?.message}}
                                    </span>
                                    <span class="text-gray-500 font-semibold text-sm line-height-1 w-20"
                                        style="width:15%;">{{transformDateIntoTime(employee?.createdAt)}}</span>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>

                <ng-template #noHRTemplate>
                    <li class="list-none border-round-lg pt-2 px-3 pb-2 mb-3"
                        style="background-color: var(--primary-lighter-color)">
                        <div class="text-center m-3">
                            <p class="m-0">There is no HR Notifications.</p>
                        </div>
                    </li>
                </ng-template>
            </p-fieldset><br />
            <p-fieldset legend="Today Birthdays" [toggleable]="true" [collapsed]="!fieldset2Open"
                (onAfterToggle)="toggleFieldset('Today Birthday')" class="line-height-3 m-0 dashboard_fieldset ">
                <div class="overflow-auto" style="max-height:10rem;">

                    <ul class="list-none p-0 overflow-auto"
                        *ngIf="notifications && notifications?.length > 0&& hasBirthdayNotifications; else noBirthdaysTemplate">
                        <div class="" *ngFor="let employee of notifications">
                            <li class="border-round-lg pt-2 px-3 pb-2 mb-1" *ngIf="employee.messageType =='Birthday'"
                                style="background-color: var(--primary-lighter-color)">
                                <div class="flex  align-items-center mb-0">
                                    <span class="text-primary" style="width:10%;"><i class="pi icon-cake"></i></span>
                                    <div style="width:80%;" class="flex align-items-center gap-1">
                                        <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-blue-300" *ngIf="employee.code"
                                            class="inline-block" value="{{employee?.code}}"></p-tag>
                                        <h6 class="line-height-3 m-0 font-medium">
                                            {{employee?.employeeName}}</h6>

                                    </div>
                                    <div style="width:30%;"
                                        *ngIf="EmployeeId && EmployeeId != employee?.employeeId && permissions?.CanSendBirthdayWishes">
                                        <button type="button" pButton icon="pi icon-redeem"
                                            class="p-button-rounded p-button-text p-button-sm flex-shrink-0"
                                            (click)="showBirthdayDialog(employee)">&nbsp; Send Greetings </button>
                                    </div>
                                </div>

                            </li>
                        </div>

                    </ul>

                    <ng-template #noBirthdaysTemplate>
                        <li class="list-none border-round-lg pt-2 px-3 pb-2 mb-3"
                            style="background-color: var(--primary-lighter-color)">
                            <div class="text-center m-3">
                                <p class="m-0">Today, there is no Employee birthdays .</p>
                            </div>
                        </li>
                    </ng-template>
                </div>
            </p-fieldset>
            <br />
            <p-fieldset *ngIf="notificationReplies && notificationReplies.length > 0" legend="Greetings"
                [toggleable]="true" [collapsed]="!fieldset3Open" (onAfterToggle)="toggleFieldset('Greetings')"
                class="line-height-3 m-0 mb-2 dashboard_fieldset ">
                <ul class="list-none p-0 overflow-auto" style=" max-height: 10.745rem;"
                    *ngIf="notificationReplies && notificationReplies.length > 0 ; else noHRTemplate">
                    <div class="" *ngFor="let employee of notificationReplies">
                        <li class="border-round-lg pt-2 px-3 pb-2 mb-1"
                            style="background-color: var(--primary-lighter-color)">
                            <div class="flex justify-content-between align-items-center mb-1">
                                <div class="flex align-items-center gap-1">
                                    <h6 class="line-height-3 m-0 font-medium font-medium">
                                        Birthday Wishes
                                        from <b>{{employee?.employeeName}}.</b></h6>
                                    <p-tag styleClass="m-0 mr-2 px-2 text-xs bg-orange-300" *ngIf="employee.code"
                                        class="inline-block" value="{{employee?.code}}"></p-tag>
                                </div>
                            </div>
                            <div class="flex justify-content-between align-items-center">
                                <span
                                    class="mt-1 text-400 block text-sm line-height-2  overflow-hidden text-overflow-ellipsis">
                                    {{employee?.message}}
                                </span>
                            </div>
                        </li>
                    </div>
                </ul>

                <ng-template #noHRTemplate>
                    <li class="border-round-lg pt-2 px-3 pb-2 mb-3"
                        style="background-color: var(--primary-lighter-color)">
                        <div class="text-center m-3">
                            <p class="m-0">There is no Birthday Greetings.</p>
                        </div>
                    </li>
                </ng-template>
            </p-fieldset><br />
        </div>
    </div>
</div>

<p-dialog header="Send Wishes" [(visible)]="wishesDialog" [modal]="true" showEffect="fade"
    [breakpoints]="{'960px': '40%', '640px': '50%'}" class="confirmation_dialog">
    <form [formGroup]="fbWishes">
        <div class="col-12 ">
            <textarea id="mytextarea" type="text" #Wishes rows="3" placeholder="Enter Wishes" pInputTextarea
                formControlName="message" class="freeze_text-area col-12 mb-1" [maxLength]="256"
                (keydown)="restrictSpaces($event)">
            </textarea>
            <div class="align-right w-40" style="width:100%; text-align:right;">
                <small>{{Wishes.value.length}}/256</small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div style="float:right" class="p-2">
            <button pButton type="button" class="btn btn-primary" label="Send Wishes" (click)="onSubmit()"
                [disabled]="fbWishes.invalid"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="On Leave Employees" [(visible)]="employeeslist" [modal]="true" showEffect="fade"
    [breakpoints]="{'960px': '40%', '640px': '50%'}" class="confirmation_dialog">
    <div class="content_scroll">
        <p-table #employeeTable [value]="OnLeaveEmployeeList" [paginator]="true" [rows]="6"
            [alwaysShowPaginator]="false" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm mb-1">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Employee Code</th>
                    <th class="text-left">Employee Name</th>
                    <th class="text-center">Designation</th>
                    <th class="text-center">Leave Type</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
                <tr>
                    <td class="text-center">
                        <span *ngIf="employee?.employeecode">
                            <p-tag class="inline-block" value="{{employee?.employeecode}}">
                            </p-tag>
                        </span>
                    </td>
                    <td class="text-left">
                        <h6 class="line-height-3 m-0 font-medium font-medium ">
                            {{employee?.employeeName}}
                        </h6>
                    </td>
                    <td class="text-left">
                        <h6 class="line-height-3 m-0 font-medium font-medium ">
                            {{employee?.designation}}
                        </h6>
                    </td>
                    <td class="text-center">
                        <h6 class="line-height-3 m-0 font-medium font-medium ">
                            {{employee?.leaveType}}
                        </h6>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>