<div class="grid">
    <!-- <p-messages [(value)]="msgs1" class="w-full mx-3" styleClass=" w-full border-round-3xl surface-card font-medium text-color-secondary" [enableService]="false"></p-messages> -->

    <div class="col-12">
        <div class="flex flex-column sm:flex-row align-items-center gap-3 mb-5">

            <div class="flex flex-column align-items-center sm:align-items-start">
                <h4 class="text-800 font-medium m-0 mb-1">Welcome {{ empDetails?.employeeName}}</h4>
                <!-- <p class="text-600 m-0">Your last login was on 01/02/2023 at 10:24 am</p> -->
            </div>
        </div>
        <div class="grid">
            <div class="col-12 sm:col-3">
                <div class="card p-5 orange-200 text-left applicant-p-block">
                    <div class="text-center">
                        <img [src]="empDetails?.photo ? empDetails?.photo : defaultPhoto" [alt]="empDetails?.photo"
                            class="shadow-2 my-1 mx-0" width="30%" /><br />
                        <h4 class="m-5 mt-0 text-primary">{{ empDetails?.employeeName}}</h4>
                    </div>
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-user text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">{{ empDetails?.gender}}</span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-envelope text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">{{ empDetails?.officeEmailId}}</span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-mobile text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">{{ empDetails?.mobileNumber}}</span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-calendar text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">{{ empDetails?.originalDOB | date:mediumDate}}</span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-send text-700 text-primary mr-2"></i>
                        <span class="text-700 text-left mr-2">
                            <span>{{ empDetails?.reportingTo}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-12 sm:col-9">
                <div class="grid" style="margin: -1rem">
                    <div class="col-12 sm:col-4">
                        <div class="card text-0 flex justify-content-between pt-4 h-full"
                            style="background-color: var(--primary-color); min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-0">Academic PL's</h6>
                                <h1 class="m-0 text-0">{{ empDetails?.usedPrivilegeLeavesInYear}}/{{
                                    empDetails?.allowablePrivilegeLeaves}}</h1>
                            </div>
                            <i class="icon-leave-request text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Monthly PL's </h6>
                                <h1 class="m-0 text-500">{{ empDetails?.usedPrivilegeLeavesInMonth}}</h1>
                            </div>
                            <div class="d-leave">
                                <div class="pl-3">
                                    {{this.month}}/{{this.year}}
                                </div>
                                <i class="pi pi-angle-left d-leave-font"
                                    (click)="gotoPreviousMonth()">
                                </i>
                                <p-calendar styleClass="only-icon" [(ngModel)]="selectedMonth" [showIcon]="true"
                                    view="month" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"
                                    inputId="monthpicker" (onSelect)="onMonthSelect($event)">
                                </p-calendar>
                                <i class="pi pi-angle-right d-leave-font"
                                    (click)="gotoNextMonth()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Available PL's</h6>
                                <h1 class="m-0 text-500">{{
                                    empDetails?.allowablePrivilegeLeaves-empDetails?.usedPrivilegeLeavesInYear}}</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar-plus text-3xl" style="color: var(--primary-color);"
                                label="Primary" pTooltip="Add Leaves" tooltipPosition="bottom"
                                (click)="openComponentDialog(employeeleaveDialogComponent, null, ActionTypes.save)"
                                *ngIf="permissions?.CanManageSelfEmployee"></i>
                        </div>
                    </div>

                    <div class="col-12 sm:col-4">
                        <div class="card text-0 flex justify-content-between pt-4 h-full"
                            style="background-color: var(--primary-color); min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-0">Academic CL's</h6>
                                <h1 class="m-0 text-0">{{ empDetails?.usedCasualLeavesInYear}}/{{
                                    empDetails?.allowableCasualLeaves}}</h1>
                            </div>
                            <i class="icon-leave-request text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Monthly CL's </h6>
                                <h1 class="m-0 text-500">{{ empDetails?.usedCasualLeavesInMonth}}</h1>
                            </div>
                            <div class="d-leave">
                                <div class="pl-3">
                                    {{this.month}}/{{this.year}}
                                </div>
                                <i class="pi pi-angle-left d-leave-font"
                                    (click)="gotoPreviousMonth()">
                                </i>
                                <p-calendar styleClass="only-icon" [(ngModel)]="selectedMonth" [showIcon]="true"
                                    view="month" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"
                                    inputId="monthpicker" (onSelect)="onMonthSelect($event)">
                                </p-calendar>
                                <i class="pi pi-angle-right d-leave-font"
                                    (click)="gotoNextMonth()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Available CL's</h6>
                                <h1 class="m-0 text-500">{{
                                    empDetails?.allowableCasualLeaves-empDetails?.usedCasualLeavesInYear}}</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar-plus text-3xl" style="color: var(--primary-color);"
                                label="Primary" pTooltip="Add Leaves" tooltipPosition="bottom"
                                (click)="openComponentDialog(employeeleaveDialogComponent, null, ActionTypes.save)"
                                *ngIf="permissions?.CanManageSelfEmployee"></i>
                        </div>
                    </div>


                    <div class="col-12 sm:col-4">
                        <div class="card text-0 flex justify-content-between pt-4 h-full"
                            style="background-color: #f03030; min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-0">Academic LWP</h6>
                                <h1 class="m-0 text-0">3</h1>
                            </div>
                            <i class="icon-leave-request text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">
                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Monthly LWP</h6>
                                <h1 class="m-0 text-500">2</h1>
                            </div>
                            <div class="d-leave">
                                <div class="pl-3">
                                    {{this.month}}/{{this.year}}
                                </div>
                                <i class="pi pi-angle-left d-leave-font"
                                    (click)="gotoPreviousMonth()">
                                </i>
                                <p-calendar styleClass="only-icon" [(ngModel)]="selectedMonth" [showIcon]="true"
                                    view="month" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"
                                    inputId="monthpicker" (onSelect)="onMonthSelect($event)">
                                </p-calendar>
                                <i class="pi pi-angle-right d-leave-font"
                                    (click)="gotoNextMonth()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">
                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Available LWP</h6>
                                <h1 class="m-0 text-500">0</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar-plus text-3xl" style="color: var(--primary-color);"
                                label="Primary" pTooltip="Add Leaves" tooltipPosition="bottom"
                                (click)="openComponentDialog(employeeleaveDialogComponent, null, ActionTypes.save)"
                                *ngIf="permissions?.CanManageSelfEmployee"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-3 p-5">
                <div class="grid card  orange-200 applicant-p-block2">
                    <h4 class="m-5 mt-0 ">Assigned Projects</h4>
                    <div class="col-6" *ngFor="let project of empDetails?.projects">
                        <div class="card h-full">
                            <img [src]="project.projectLogo" [alt]="project.projectLogo" class="shadow-2 my-1 mx-0"
                                width="100%" height="50%" /><br />
                            <br>
                            <span>{{project.projectName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-9" *ngIf="empDetails?.allottedAssets">
                <h4 class="m-5 mt-0 ">Alloted Assets</h4>
                <div class="grid" style="margin: -1rem">
                    <div class="col-12 sm:col-3 mr-2" *ngFor="let asset of empDetails?.allottedAssets.split(',')">
                        <div class="card text-0 flex justify-content-between pt-4 h-full"
                            style="background-color: var(--primary-color); min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-0">
                                    <ng-container>
                                        {{asset}}
                                    </ng-container>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
