<div class="grid">
    <!-- <p-messages [(value)]="msgs1" class="w-full mx-3" styleClass=" w-full border-round-3xl surface-card font-medium text-color-secondary" [enableService]="false"></p-messages> -->

    <div class="col-12">
        <div class="flex flex-column sm:flex-row align-items-center gap-3 mb-5">

            <div class="flex flex-column align-items-center sm:align-items-start">
                <h4 class="text-800 font-medium m-0 mb-1">Welcome Amy</h4>
                <p class="text-600 m-0">Your last login was on 01/02/2023 at 10:24 am</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 sm:col-3">
                <div class="card p-5 orange-200 text-left applicant-p-block">
                    <div class="text-center">
                        <img src="./assets/layout/images/men-emp.jpg" class="shadow-2 my-1 mx-0" width="30%" /><br />
                        <h4 class="m-5 mt-0 text-primary">Employee Name </h4>
                    </div>
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-user text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">Gender</span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-envelope text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2"> Email Id</span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-mobile text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">Mobile No </span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-calendar text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">DOB</span>
                    </span><br />
                    <span class="inline-flex align-items-left mb-2">
                        <i class="pi pi-send text-700 text-primary mr-2"></i>
                        <span class="text-700 text-left mr-2">
                            <span>Address Line1 </span>
                        </span>
                    </span>
                    <span class="flex align-items-center mb-2">
                        <i class="pi pi-flag text-primary text-700 mr-2"></i>
                        <span class="text-700 mr-2">
                            <span></span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-12 sm:col-9">
                <div class="grid" style="margin: -1rem">
                    <div class="col-12 sm:col-4">
                        <div class="card text-0 flex justify-content-between pt-4 h-full"
                            style="background-color: var(--primary-color); min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-0">Academic PL's</h6>
                                <h1 class="m-0 text-0">3/5</h1>
                            </div>
                            <i class="icon-leave-request text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Monthly PL's </h6>
                                <h1 class="m-0 text-500">2</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Available PL's</h6>
                                <h1 class="m-0 text-500">3</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar-plus text-3xl"></i>
                        </div>
                    </div>

                    <div class="col-12 sm:col-4">
                        <div class="card text-0 flex justify-content-between pt-4 h-full"
                            style="background-color: var(--primary-color); min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-0">Academic CL's</h6>
                                <h1 class="m-0 text-0">3/5</h1>
                            </div>
                            <i class="icon-leave-request text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Monthly CL's </h6>
                                <h1 class="m-0 text-500">2</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Available CL's</h6>
                                <h1 class="m-0 text-500">3</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar-plus text-3xl"></i>
                        </div>
                    </div>


                    <div class="col-12 sm:col-4">
                        <div class="card text-0 flex justify-content-between pt-4 h-full"
                            style="background-color: #f03030; min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-0">Academic LWP</h6>
                                <h1 class="m-0 text-0">5</h1>
                            </div>
                            <i class="icon-leave-request text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Monthly LWP</h6>
                                <h1 class="m-0 text-500">2</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar text-3xl"></i>
                        </div>
                    </div>
                    <div class="col-12 sm:col-4">

                        <div class="card surface-card text-500 flex justify-content-between pt-4 h-full"
                            style="min-width: 17rem">
                            <div class="overview-info">
                                <h6 class="m-0 mb-1 text-500">Available LWP</h6>
                                <h1 class="m-0 text-500">3</h1>
                            </div>
                            <i class="pi pi-fw pi-calendar-plus text-3xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>