<div class="grid" id="hrms">
    <div class="col-12 p-5 text-center">
        <p-button (click)="onSubmit()">Enroll Employee</p-button>
    </div>
</div>

<!-- Confirmation Dialog -->
<p-dialog header="Login Details" [(visible)]="dialog" [modal]="true" showEffect="fade"
    [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '40%'}" (onHide)="closeDialogAndNavigate()" >
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="grid">
            <div class="card">
                <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2">Use This Credentials For Employee To
                    Login The Website...!</div>
                <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
                    <li class="mb-2">
                        <span class="font-semibold ">UserName:</span> {{userData?.username}}
                    </li>
                    <li class="mb-2">
                        <span class="font-semibold ">Password:</span> {{userData?.password}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div style="float:right">
            <button pButton pRipple (click)="closeDialogAndNavigate()">OK</button>
        </div>
    </ng-template>
</p-dialog>