<form [formGroup]="fbEnroll" *ngIf="displayDialog === true">
  <div class="mt-5 pt-5" id="hrms">
    <div class="grid content_scroll roles-container">
      <div class=" col-12 md:col-4 lg:col-2"></div>
      <div class=" col-12 md:col-4 lg:col-4">
        <label class="required">Role:</label><br />
        <p-dropdown id="roles_dropdown" [autoDisplayFirst]="false" optionLabel="name" [options]="roles"
          optionValue="roleId" formControlName="roleId" appendTo="body" placeholder="Select Role"
          [ngClass]="{ 'is-invalid ng-dirty': FormControls['roleId'].touched && FormControls['roleId'].errors }"
          [style]="{'width':'100%'}">
        </p-dropdown>
        <div class="flex">
          <div class="align-left w-60" style="width:70%">
            <span *ngIf="FormControls['roleId'].touched && FormControls['roleId'].invalid">
              <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['roleId'].errors?.['required']">
                Please Select Role.</div>
            </span>
          </div>
        </div>
      </div>

      <div class=" col-12 md:col-4 lg:col-4 pt-3"><br />
        <p-button [disabled]="fbEnroll.invalid" (click)="confirmationDialog()" class="w-100">Enroll Employee</p-button>
      </div>
    </div>
  </div>
</form>

<div class="content_scroll text-center vertical-align-middle" *ngIf="displayDialog === false">
  <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2">
    Need to Fill all the Bellow Sections for Enrolling an Employee.
  </div>
  <div class="grid flex flex-wrap" *ngIf="employeeObj?.pendingDetails && employeeObj?.completedDetails">
    <div class="col-4 md-4 lg-3 sm-6" *ngFor="let detail of employeeObj.pendingDetails.split(', ')">
      <div class="card border-1 surface-border"
        [ngClass]="{'text-2xl text-yellow-500': shouldHighlight(detail), 'text-xl text-red-500': !shouldHighlight(detail)}"
        (click)="openAppropriateDialog(detail)">
        {{ detail }}
      </div>
    </div>
    <div class="col-4 md-4 lg-3 sm-6 text-xl text-green-500"
      *ngIf="employeeObj.completedDetails && employeeObj.completedDetails !== 'No Details are Completed'">
      <div class="card border-1 surface-border" *ngFor="let detail of employeeObj.completedDetails.split(', ')"
        (click)="openAppropriateDialog(detail)">
        {{ detail }}
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Dialog -->
<p-dialog [(visible)]="dialog" header="Confirmation Message" [modal]="true" showEffect="fade"
  [breakpoints]="{'960px': '70%', '640px': '80%'}">
  <div class="flex flex-column justify-content-center">
    <div class="grid">
      <div class="card" *ngIf="displayDialog == true">
        <div *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </div>
        <div *ngIf="!errorMessage">
          <div class="text-900 font-bold text-2xl text-primary mb-3 mt-2">Use This Credentials For Employee To
            Login The HRMS Website...!</div>
          <ul class="list-none p-0 m-0 text-600 mb-4">
            <li class="mb-2">
              <span class="font-semibold">UserName:</span> {{message?.username}}
            </li>
            <li class="mb-2">
              <span class="font-semibold">Password:</span> {{message?.password}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer" *ngIf="displayDialog !== true;">
    <div class="col-4" style="float:right">
      <button pButton pRipple label="Okay" id="onBoardNavigateBtn" class="p-button-primary p-mr-2"
        (click)="onClose()"></button>
    </div>
  </ng-template>
</p-dialog>