<div class="grid">
    <p-toast key="tst"></p-toast>

    <div class="col-12">
        <div class="card">
            <p-dataView #dv [value]="employeesForAllottedAssets" [paginator]="dv._layout == 'grid' ? true : false"
                [alwaysShowPaginator]="false" [rows]="12" filterBy="employeeName,code" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                        <div>
                            <span class="p-input-icon-left" *ngIf="dv._layout == 'grid'">
                                <i class="pi pi-search"></i>
                                <input id="search-name-id" type="text" pInputText placeholder="Search by Name or Id"
                                    (input)="onFilter(dv, $event)" />
                            </span>
                        </div>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        <p-button id="add-btn" class="p-element p-ripple p-button p-component p-2 pt-0 pb-0"
                            (click)="addAssetAllotment()" icon="pi pi-plus" label="Assign Asset"></p-button>
                    </div>
                </ng-template>
                <ng-template let-employee pTemplate="listItem" let-item>
                    <ng-container *ngIf="item === employeesForAllottedAssets[0]">
                        <p-table #dtEmployees [value]="employeesForAllottedAssets" dataKey="id" [rows]="10"
                            [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm pb-5"
                            [paginator]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true" [alwaysShowPaginator]="false"
                            [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
                            [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
                            <ng-template pTemplate="caption">
                                <div class="flex justify-content-between flex-column sm:flex-row">
                                    <button pButton label="Clear" class="p-button-outlined mb-2"
                                        icon="pi pi-filter-slash" (click)="clear(dtEmployees)"></button>
                                    <span class="p-input-icon-left mb-2">
                                        <i class="pi pi-search"></i>
                                        <input id="search-keyword" pInputText type="text" #filter
                                            (input)="onGlobalFilter(dtEmployees, $event)" placeholder="Search Keyword"
                                            class="w-full" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Image</th>
                                    <th *ngFor="let col of headers" [pSortableColumn]="col.header">
                                        {{col?.label}}
                                        <p-columnFilter type="text" [field]="col.header" display="menu">
                                        </p-columnFilter>
                                        <p-sortIcon [field]="col.header"></p-sortIcon>
                                    </th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-employee>
                                <tr>
                                    <td>
                                        <img [src]="employee.photo ? employee.photo : 'https://t3.ftcdn.net/jpg/02/18/21/86/360_F_218218632_jF6XAkcrlBjv1mAg9Ow0UBMLBaJrhygH.jpg'"
                                            [alt]="employee.employeeName"
                                            class="my-4 md:my-0 w-10 md:w-10rem shadow-2 mr-2" />
                                    </td>
                                    <td *ngFor="let col of headers">
                                        <span>{{employee[col.field]}}</span>
                                    </td>
                                    <td>
                                        <button id="view-btn" pbutton="" pripple="" type="button" label="Primary"
                                            (click)="viewAssetAllotments(employee.employeeId)"
                                            class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                            ng-reflect-label="Primary">
                                            <span class="p-button-label pi pi-chevron-right"></span>
                                        </button>
                                        <button id="redirect-to-add-btn" pbutton="" pripple="" type="button"
                                            label="Primary" (click)="directAddAssetAllotment(employee.employeeId)"
                                            class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                            ng-reflect-label="Primary">
                                            <span class="p-button-label pi pi-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="text-center m-5" colspan="15">No Employees Found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </ng-template>
                <ng-template let-employee pTemplate="gridItem">
                    <div class="col-12 md:col-4 lg:col-3 sm:col-6">
                        <div class="card m-2 border-1 surface-border">
                            <div class=" mb-3 grid">
                                <div class="col-4 p-1 employee_profile_pic_div">
                                    <img [src]="employee.photo ? employee.photo : 'https://t3.ftcdn.net/jpg/02/18/21/86/360_F_218218632_jF6XAkcrlBjv1mAg9Ow0UBMLBaJrhygH.jpg'"
                                        [alt]="employee.employeeName"
                                        class="shadow-2 my-1 mx-0 employee_profile_pic zoomable-img"
                                        style="width: 70%;" />
                                </div>
                                <div class="col-8 p-1 px-2 employee_info">
                                    <div class="text-xl font-bold">{{ employee?.employeeName }}</div>
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-id-card text-300 text-primary text-1xl pb-1"></i>
                                        :{{employee?.code}}
                                    </span>
                                    <br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-star text-500 text-primary text-1xl  pb-1"></i> :
                                        {{employee?.designation}}
                                    </span>
                                    <br />
                                </div>
                            </div>
                            <div class="grid">
                                <div class="relative col-8 p-0 mb-3  employee_info">
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-at text-500 text-primary text-1xl pb-1"></i> :
                                        {{employee?.officeEmailId}}
                                    </span>
                                    <br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-phone text-500 text-primary text-1xl pb-1"></i> :
                                        {{employee?.mobileNumber}}
                                    </span>
                                    <br />
                                </div>
                                <div class="mb-3 flex col-4 p-0">
                                    <button id="view-btn" pbutton="" pripple="" type="button" label="Primary"
                                        (click)="viewAssetAllotments(employee.employeeId)" pTooltip="View"
                                        tooltipPosition="top"
                                        class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                        ng-reflect-label="Primary">
                                        <span class="p-button-label pi pi-chevron-right"></span>
                                    </button>
                                    <button id="redirect-to-add-btn" pbutton="" pripple="" type="button" label="Primary"
                                        (click)="directAddAssetAllotment(employee.employeeId)" pTooltip="Add"
                                        tooltipPosition="top"
                                        class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                        ng-reflect-label="Primary">
                                        <span class="p-button-label pi pi-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>

            <!-- P-Dialog for Allotted Assets -->
            <p-dialog header="Assets Details" [(visible)]="showAssetDetails" [modal]="true" showEffect="fade"
                [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '60%'}" (onHide)="onClose()">
                <div class="col-12 text-right align-items-right">
                    <div class="gri align-items-right text-right">
                        <p-button id="redirect-to-add-btn"
                            class="p-element align-items-right text-right p-button p-component p-2 pt-0 pb-0"
                            (click)="directAddAssetAllotment(selectedEmployeeId)" icon="pi pi-plus"></p-button>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="grid">
                        <div class="col-4" *ngFor="let assetAllotment of assetAllotments">
                            <div class="m-2 card border-1 surface-border">
                                <div class="text-xl font-bold">{{assetAllotment.assetName}}</div>
                                <span class="text-600 font-medium text-sm"> Assigned On : {{assetAllotment.assignedOn |
                                    date: 'MM-dd-yyyy'}} </span>
                                <button id="unassign-asset-btn" pButton pRipple type="submit" label="Unassign"
                                    class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"
                                    (click)="unAssignedAssetDialog(assetAllotment)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-dialog>

            <!-- P-Dialog To Assign New Asset -->
            <p-dialog header="Asset Allotment" [(visible)]="showAssetAllotment" [modal]="true" showEffect="fade"
                [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '60%'}" (onHide)="onClose()">
                <div class="flex flex-column align-items-center justify-content-center">
                    <form [formGroup]="fbAssetAllotment">
                        <div class="col-12 roles-container">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-4">
                                    <label class="required">Employee:</label>
                                    <p-dropdown id="select-employee" [options]="employeesDropdown"
                                        formControlName="employeeId" optionLabel="employeeCode" [filter]="true"
                                        filterBy="employeeCode,employeeName" placeholder="Select Employee"
                                        optionValue="employeeId" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['employeeId'].touched && FormControls['employeeId'].errors }">
                                        <ng-template let-employee pTemplate="item">
                                            <div class="country-item">
                                                <div>{{ employee.employeeCode }}</div>
                                                <div>{{ employee.employeeName }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <span
                                        *ngIf="FormControls['employeeId'].touched && FormControls['employeeId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['employeeId'].errors?.['required']">
                                            Please Select Employee.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Enter Asset Category:</label>
                                    <p-dropdown id="asset-category" [options]="assetCategories" optionLabel="name"
                                        [filter]="true" filterBy="name" placeholder="Select Asset Category"
                                        formControlName="assetCategoryId" optionValue="lookupDetailId" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetCategoryId'].touched && FormControls['assetCategoryId'].errors }">
                                    </p-dropdown>
                                    <span
                                        *ngIf="FormControls['assetCategoryId'].touched && FormControls['assetCategoryId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assetCategoryId'].errors?.['required']">
                                            Please Select Asset Category.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Enter Asset Type:</label>
                                    <p-dropdown id="asset-type" [options]="assetTypes" optionLabel="name"
                                        [filter]="true" filterBy="name" placeholder="Select Asset Type"
                                        formControlName="assetTypeId" optionValue="lookupDetailId" appendTo="body"
                                        (onChange)="getAssetsByAssetType($event.value)"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetTypeId'].touched && FormControls['assetTypeId'].errors }">
                                    </p-dropdown>
                                    <span
                                        *ngIf="FormControls['assetTypeId'].touched && FormControls['assetTypeId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assetTypeId'].errors?.['required']">
                                            Please Select Asset Type.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Enter Asset Name:</label>
                                    <p-dropdown id="asset-name" [options]="assets" optionLabel="name" [filter]="true"
                                        filterBy="name" placeholder="Select Asset Name" formControlName="assetId"
                                        optionValue="assetId" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetId'].touched && FormControls['assetId'].errors }">
                                    </p-dropdown>
                                    <span *ngIf="FormControls['assetId'].touched && FormControls['assetId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assetId'].errors?.['required']">
                                            Please Select Asset.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Assigned On:</label>
                                    <p-calendar id="assigned-on" [showIcon]="true" placeholder="Select Assigned On"
                                        formControlName="assignedOn" appendTo="body" [maxDate]="maxDate"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assignedOn'].touched && FormControls['assignedOn'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="FormControls['assignedOn'].touched && FormControls['assignedOn'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assignedOn'].errors?.['required']">
                                            Please Select Assigned Date.</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <ng-template pTemplate="footer">
                    <div class="col-4" style="float:right">
                        <button id="asset-submit-btn" pButton pRipple type="submit" label="Assign Asset"
                            class="p-button-raised p-button-primary" [disabled]="fbAssetAllotment.invalid"
                            (click)="onSubmitAsset()"></button>
                    </div>
                </ng-template>
            </p-dialog>

            <!-- P-Dialog for Unassigning the assets -->
            <p-dialog header="Unassign Asset" [(visible)]="showUnassignAsset" [modal]="true" showEffect="fade"
                (onHide)="onCloseUnAssignAsset()">
                <div class="flex flex-column align-items-center justify-content-center">
                    <form [formGroup]="fbUnAssignAsset">
                        <div class="col-12 roles-container">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label class="required">Revoked On:</label>
                                    <p-calendar id="revoked-on" [showIcon]="true" placeholder="Select Revoked Date"
                                        formControlName="revokedOn" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': fcUnAssignAsset['revokedOn'].touched && fcUnAssignAsset['revokedOn'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="fcUnAssignAsset['revokedOn'].touched && fcUnAssignAsset['revokedOn'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="fcUnAssignAsset['revokedOn'].errors?.['required']">
                                            Please Select Revoked Date.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label class="required">Reason For Revoke:</label>
                                    <textarea id="reason-for-revoke" #reasonForRevoke rows="5" cols="30"
                                        placeholder="Enter Reason For Revoke" formControlName="reasonForRevoke"
                                        pInputTextarea class="freeze_text-area" [maxLength]="256"
                                        [ngClass]="{ 'is-invalid ng-dirty': fcUnAssignAsset['reasonForRevoke'].touched && fcUnAssignAsset['reasonForRevoke'].errors }">
                                    </textarea>
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="fcUnAssignAsset['reasonForRevoke'].touched && fcUnAssignAsset['reasonForRevoke'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="fcUnAssignAsset['reasonForRevoke'].errors?.['required']">
                                                    Please Select Reason For Revoke.</div>
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="fcUnAssignAsset['reasonForRevoke'].errors?.['minlength']">
                                                    Reason Must Be At Least 2 Characters.</div>
                                            </span>
                                        </div>
                                        <div class="align-right w-40" style="width:30%; text-align:right;">
                                            <small>{{reasonForRevoke.value.length}}/256</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <ng-template pTemplate="footer">
                    <div class="col-4" style="float:right">
                        <button id="unassign-submit-btn" pButton pRipple type="submit" label="Submit"
                            class="p-button-raised p-button-primary" [disabled]="fbUnAssignAsset.invalid"
                            (click)="onSubmitUnAssignedAsset()"></button>
                    </div>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
