<div class="grid">
    <p-toast key="tst"></p-toast>

    <div class="col-12">
        <div class="card">
            <p-dataView #dv [value]="employees" [paginator]="true" [rows]="12" filterBy="empname,empcode"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search by Name or Id"
                                (input)="onFilter(dv, $event)" />
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        <p-button class="p-element p-ripple p-button p-component p-2 pt-0 pb-0"
                            (click)="addAssestAllotment()" icon="pi pi-plus" label="Assign Asset"></p-button>
                    </div>
                </ng-template>
                <ng-template let-employee pTemplate="listItem">
                    <div class="col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <img [src]="'assets/demo/images/employee/' + employee.image" [alt]="employee.empname"
                                class="my-4 md:my-0 w-10 md:w-10rem shadow-2 mr-2" />
                            <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                <div class="font-bold text-sm">{{ employee.empname }}</div>
                                <div class="mb-2">{{ employee.empcode }}</div>
                                <div class="mb-2">{{ employee.designation }}</div>
                                <div class="mb-2">{{ employee.email }}</div>
                                <div class="mb-2">{{ employee.phoneno }}</div>
                            </div>
                            <div class="mb-3 col-3 p-0">
                                <button pbutton="" pripple="" type="button" label="Primary" (click)="viewAssetAllotments(employee.id)"
                                    class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                    ng-reflect-label="Primary">
                                    <span class="p-button-label pi pi-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-employee pTemplate="gridItem">
                    <div class="col-12 md:col-4 lg:col-3 sm:col-6">
                        <div class="card m-2 border-1 surface-border">
                            <div class=" mb-3 grid">
                                <div class="col-4 p-1 employee_profile_pic_div">
                                    <img [src]="'assets/demo/images/employee/' + employee.image"
                                        [alt]="employee.empname" class=" shadow-2 my-1 mx-0 employee_profile_pic"
                                        style="width:70%;" />
                                </div>
                                <div class="col-8 p-1 px-2 employee_info">
                                    <div class="text-xl font-bold">{{ employee.empname }}</div>
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-id-card text-300 text-primary text-1xl pb-1"></i>
                                        :{{employee.empcode}}
                                    </span>
                                    <br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-star text-500 text-primary text-1xl  pb-1"></i> :
                                        {{employee.designation}}
                                    </span>
                                    <br />
                                </div>
                            </div>
                            <div class="grid">
                                <div class="relative col-8 p-0 mb-3  employee_info">
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-at text-500 text-primary text-1xl pb-1"></i> :
                                        {{employee.email}}
                                    </span>
                                    <br />
                                    <span class="text-600 font-medium text-md">
                                        <i class="pi pi-phone text-500 text-primary text-1xl pb-1"></i> :
                                        {{employee.phoneno}}
                                    </span>
                                    <br />
                                </div>
                                <div class="mb-3 flex col-4 p-0">
                                    <button pbutton="" pripple="" type="button" label="Primary"
                                        (click)="viewAssetAllotments(employee.id)"
                                        class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                        ng-reflect-label="Primary">
                                        <span class="p-button-label pi pi-chevron-right"></span>
                                    </button>
                                    <button pbutton="" pripple="" type="button" label="Primary"
                                        (click)="viewAssetAllotments(employee.id)"
                                        class="p-element p-ripple p-button-text p-button p-component view_profile_button"
                                        ng-reflect-label="Primary">
                                        <span class="p-button-label pi pi-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>

            <!-- P-Dialog for Assets Details -->
            <p-dialog header="Assets Details" [(visible)]="showAssetDetails" [modal]="true" showEffect="fade"
                [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '60%'}" (onHide)="onClose()">
                <div class="col-12 text-right align-items-right">
                    <div class="gri align-items-right text-right">
                        <p-button class="p-element align-items-right text-right p-button p-component p-2 pt-0 pb-0"
                            (click)="addAssestAllotment()" icon="pi pi-plus"></p-button>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="grid">
                        <div class="col-4" *ngFor="let assetAllotment of assetAllotments">
                            <div class="m-2 card border-1 surface-border">
                                <div class="text-xl font-bold">{{assetAllotment.assetName}}</div>
                                <span class="text-600 font-medium text-sm"> Assigned On : {{assetAllotment.assignedOn | date: 'MM-dd-yyyy'}} </span>
                                <button pButton pRipple type="submit" label="Unassign"
                                    class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"
                                    (click)="unAssignedAssetDialog(assetAllotment)"></button>
                            </div>
                        </div>
                        <!-- <div class="col-4">
                            <div class="m-2 card border-1 surface-border">
                                <div class="text-xl font-bold">CPU</div>
                                <span class="text-600 font-medium text-sm"> Assigned On : 29-07-2021 </span>
                                <br />
                                <span class="text-600 font-medium text-sm"> Comment : Since one and half-year i am using
                                    this monitor and it has some scratches. </span>
                                <br />
                                <br />
                                <button pButton pRipple type="submit" label="Unassign"
                                    class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"></button>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="m-2 card border-1 surface-border">
                                <div class="text-xl font-bold">KeyBoard</div>
                                <span class="text-600 font-medium text-sm"> Assigned On : 12-06-2021 </span>
                                <br />
                                <span class="text-600 font-medium text-sm"> Comment : Since one and half-year i am using
                                    this monitor and it has some scratches. </span>
                                <br />
                                <br />
                                <button pButton pRipple type="submit" label="Unassign"
                                    class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"></button>

                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-12 ">
                    <div class="grid">
                        <div class="col-4">
                            <div class="m-2 card border-1 surface-border">
                                <div class="text-xl font-bold">Mouse</div>
                                <span class="text-600 font-medium text-sm"> Assigned On : 29-07-2021 </span>
                                <br />
                                <span class="text-600 font-medium text-sm"> Comment : Since one and half-year i am using
                                    this monitor and it has some scratches. </span>
                                <br />
                                <br />
                                <button pButton pRipple type="submit" label="Unassign"
                                    class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"></button>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="m-2 card border-1 surface-border">
                                <div class="text-xl font-bold">HeadSet</div>
                                <span class="text-600 font-medium text-sm"> Assigned On : 29-07-2021 </span>
                                <br />
                                <span class="text-600 font-medium text-sm"> Comment : Since one and half-year i am using
                                    this monitor and it has some scratches. </span>
                                <br />
                                <br />
                                <button pButton pRipple type="submit" label="Unassign"
                                    class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"></button>

                            </div>
                        </div>
                    </div>
                </div> -->
            </p-dialog>

            <!-- P-Dialog for Assigned Assets -->
            <p-dialog header="Asset Allotment" [(visible)]="showAssetAllotment" [modal]="true" showEffect="fade"
                [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '60%'}" (onHide)="onClose()">
                <div class="flex flex-column align-items-center justify-content-center">
                    <form [formGroup]="fbAssetAllotment">
                        <div class="col-12 roles-container">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-4">
                                    <label class="required">Employee Id:</label>
                                    <p-dropdown [options]="employees" formControlName="employeeId" optionLabel="empcode"
                                        [filter]="true" filterBy="empcode,empname" [showClear]="true"
                                        placeholder="Select Employee" optionValue="empcode" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['employeeId'].touched && FormControls['employeeId'].errors }">
                                        <ng-template let-employee pTemplate="item">
                                            <div class="country-item">
                                                <div>{{ employee.empcode }}</div>
                                                <div>{{ employee.empname }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <span
                                        *ngIf="FormControls['employeeId'].touched && FormControls['employeeId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['employeeId'].errors?.['required']">
                                            Please Select Employee.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Enter Asset Category:</label>
                                    <p-dropdown [options]="assetCategories" optionLabel="name" [filter]="true"
                                        filterBy="name" placeholder="Select Asset Category"
                                        formControlName="assetCategoryId" optionValue="lookupDetailId" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetCategoryId'].touched && FormControls['assetCategoryId'].errors }">
                                    </p-dropdown>
                                    <span
                                        *ngIf="FormControls['assetCategoryId'].touched && FormControls['assetCategoryId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assetCategoryId'].errors?.['required']">
                                            Please Select Asset Category.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Enter AssetType:</label>
                                    <p-dropdown [options]="assetTypes" optionLabel="name" [filter]="true"
                                        filterBy="name" placeholder="Select Asset Type" formControlName="assetTypeId"
                                        optionValue="lookupDetailId" appendTo="body"
                                        (onChange)="getAssetsByAssetType($event.value)"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetTypeId'].touched && FormControls['assetTypeId'].errors }">
                                    </p-dropdown>
                                    <span
                                        *ngIf="FormControls['assetTypeId'].touched && FormControls['assetTypeId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assetTypeId'].errors?.['required']">
                                            Please Select Asset Type.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Enter Asset Name:</label>
                                    <!-- <p-dropdown [options]="assetsName" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Asset  Name"
                                  formControlName="assetName" optionValue="code"><ng-template let-asset pTemplate="item"><div class="country-item"><div>{{ asset.name }}</div></div></ng-template></p-dropdown> -->
                                    <!-- <p-multiSelect [options]="assetsList" formControlName="assetId" optionLabel="name"
                                        placeholder="Select Asset Name" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetId'].touched && FormControls['assetId'].errors }">
                                    </p-multiSelect> -->
                                    <p-dropdown [options]="assets" optionLabel="name" [filter]="true" filterBy="name"
                                        placeholder="Select Asset" formControlName="assetId" optionValue="assetId"
                                        appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assetId'].touched && FormControls['assetId'].errors }">
                                    </p-dropdown>
                                    <span *ngIf="FormControls['assetId'].touched && FormControls['assetId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assetId'].errors?.['required']">
                                            Please Select Asset.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Assigned On:</label>
                                    <p-calendar [showIcon]="true" placeholder="Select Assigned On"
                                        formControlName="assignedOn" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['assignedOn'].touched && FormControls['assignedOn'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="FormControls['assignedOn'].touched && FormControls['assignedOn'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['assignedOn'].errors?.['required']">
                                            Please Select Assigned Date.</div>
                                    </span>
                                </div>
                                <!-- <div class="field col-12 md:col-4">
                                    <label class="required">Comment:</label>
                                    <textarea rows="5" cols="30" placeholder="Enter Comment" formControlName="comment"
                                        pInputTextarea
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['comment'].touched && FormControls['comment'].errors }">
                                    </textarea>
                                    <span *ngIf="FormControls['comment'].touched && FormControls['comment'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['comment'].errors?.['required']">
                                            Please Select Comment.</div>
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </div>
                <ng-template pTemplate="footer">
                    <div class="col-4" style="float:right">
                        <button pButton pRipple type="submit" label="Assign Asset"
                            class="p-button-raised p-button-primary" [disabled]="fbAssetAllotment.invalid"
                            (click)="onSubmit()"></button>
                    </div>
                </ng-template>
            </p-dialog>

            <!-- P-Dialog for Unassigning the assets -->
            <p-dialog header="Unassign Asset" [(visible)]="showUnassignAsset" [modal]="true" showEffect="fade"
                (onHide)="onCloseUnAssignAsset()">
                <div class="flex flex-column align-items-center justify-content-center">
                    <form [formGroup]="fbUnAssignAsset">
                        <div class="col-12 roles-container">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label class="required">Revoked On:</label>
                                    <p-calendar [showIcon]="true" placeholder="Select Revoked Date"
                                        formControlName="revokedOn" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': fcUnAssignAsset['revokedOn'].touched && fcUnAssignAsset['revokedOn'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="fcUnAssignAsset['revokedOn'].touched && fcUnAssignAsset['revokedOn'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="fcUnAssignAsset['revokedOn'].errors?.['required']">
                                            Please Select Revoked Date.</div>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label class="required">Reason For Revoke:</label>
                                    <textarea rows="5" cols="30" placeholder="Enter Reason For Revoke"
                                        formControlName="reasonForRevoke" pInputTextarea
                                        [ngClass]="{ 'is-invalid ng-dirty': fcUnAssignAsset['reasonForRevoke'].touched && fcUnAssignAsset['reasonForRevoke'].errors }">
                                    </textarea>
                                    <span
                                        *ngIf="fcUnAssignAsset['reasonForRevoke'].touched && fcUnAssignAsset['reasonForRevoke'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="fcUnAssignAsset['reasonForRevoke'].errors?.['required']">
                                            Please Select Reason For Revoke.</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <ng-template pTemplate="footer">
                    <div class="col-4" style="float:right">
                        <button pButton pRipple type="submit" label="Submit" class="p-button-raised p-button-primary"
                            [disabled]="fbUnAssignAsset.invalid" (click)="unAssignedAssetAllotment()"></button>
                    </div>
                </ng-template>
            </p-dialog>

        </div>
    </div>
</div>
