<form [formGroup]="fbbankDetails">
    <div class="grid mt-3">
        <div class="col-12 roles-container">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="bank_Name" pInputText formControlName="name" #bankname alphaOnly
                            [maxlength]="50" (keydown)="restrictSpaces($event)"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }" />
                        <label class="required">Bank Name</label>
                    </span>
                    <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                            <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['name'].errors?.['required']">
                                    Please Enter Bank Name.</div>
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['name'].errors?.['minlength']">
                                    Name Min Length Is 2.</div>
                            </span>
                        </div>
                        <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{bankname.value.length}}/{{maxLength.name}} </small>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="branch_Name" pInputText formControlName="branchName" #branchname
                            alphaOnly [maxlength]="50" (keydown)="restrictSpaces($event)"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['branchName'].touched && FormControls['branchName'].errors }" />
                        <label>Branch Name</label>
                    </span>
                    <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                            <span *ngIf="FormControls['branchName'].touched && FormControls['branchName'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['branchName'].errors?.['minlength']">
                                    Name Min Length Is 2.</div>
                            </span>
                        </div>
                        <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{branchname.value.length}}/{{maxLength.name}} </small>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="ifsc_Code" pInputText formControlName="ifsc" #ifscCode [maxlength]="11"
                            [minlength]="11" (keydown)="restrictSpaces($event)"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['ifsc'].touched && FormControls['ifsc'].errors }" />
                        <label class="required">IFSC Code</label>
                    </span>
                    <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                            <span *ngIf="FormControls['ifsc'].touched && FormControls['ifsc'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['ifsc'].errors?.['required']">
                                    Please Enter IFSC Code</div>
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['ifsc'].errors?.['pattern']">
                                    Invalid Ifsc Eg:SBIN0123456.</div>
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['ifsc'].errors?.['minlength']">
                                    Ifsc Min Length Is 11.</div>
                            </span>
                        </div>
                        <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{ifscCode.value.length}}/{{maxLength.ifscCode}} </small>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="account_Number" pInputText formControlName="accountNumber" #accountnumber
                            numericOnly [maxlength]="18" (keydown)="restrictSpaces($event)"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['accountNumber'].touched && FormControls['accountNumber'].errors }" />
                        <label class="required">Account Number</label>
                    </span>
                    <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                            <span
                                *ngIf="FormControls['accountNumber'].touched && FormControls['accountNumber'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['accountNumber'].errors?.['required']">
                                    Please Enter Account Number</div>
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['accountNumber'].errors?.['minlength']">
                                    Account Number Min Length is 8.</div>
                            </span>
                        </div>
                        <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{accountnumber.value.length}}/{{maxLength.accountNo}} </small>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Is Active:</label>
                    <br>
                    <p-inputSwitch formControlName="isActive" id="BankDetails_IsActive"></p-inputSwitch>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="grid mt-5">
    <div class="field col-4">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100 text-right"
            (click)="navigateToPrev()">Family Details</button>
    </div>
    <div class=" col-4">
        <button p-button class="p-element p-ripple p-button-info p-button p-component w-100"[disabled]="fbbankDetails.invalid" (click)="onSubmit()">Save as Draft</button>
    </div>
    <div class=" col-4">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100"
            (click)="navigateToNext()">Final Submission </button>
    </div>
</div>