/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?bzihbd');
    src:  url('../../fonts/icomoon.eot?bzihbd#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?bzihbd') format('truetype'),
      url('../../fonts/icomoon.woff?bzihbd') format('woff'),
      url('../../fonts/icomoon.svg?bzihbd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .pdf_group .pi-chevron-down:before{
    content: "\e917";
  }
  .icon-birthday-cake:before {
    content: "\e926";
  }
  .icon-dateofjoining:before {
    content: "\e924";
  }
  .icon-experiance:before {
    content: "\e925";
  }
  .icon-calendar:before {
    content: "\e921";
  }
  .icon-approve:before {
    content: "\e91f";
  }
  .icon-accept:before {
    content: "\e920";
  }
  .icon-start_time:before {
    content: "\e91a";
  }
  .icon-stop_time:before {
    content: "\e91b";
  }
  .icon-add_leave:before {
    content: "\e919";
  }
  .icon-POC:before {
    content: "\e918";
  }
  .icon-csv-svgrepo-com-1:before {
    content: "\e916";
  }
  .icon-pdf-svgrepo-com-2:before {
    content: "\e917";
  }
  .icon-recru:before {
    content: "\e912";
  }
  .icon-projects:before {
    content: "\e90f";
  }
  .icon-employe:before {
    content: "\e910";
  }
  .icon-admin_icon:before {
    content: "\e911";
  }
  .icon-leave-request:before {
    content: "\e915";
  }
  .icon-job:before {
    content: "\e914";
  }
  .icon-hr:before {
    content: "\e913";
  }
  .icon-id:before {
    content: "\e90e";
  }
  .icon-process:before {
    content: "\e90d";
  }
  .icon-expertise:before {
    content: "\e90c";
  }
  .icon-user_skills:before {
    content: "\e90a";
  }
  .icon-adderss:before {
    content: "\e909";
  }
  .icon-office_details:before {
    content: "\e901";
  }
  .icon-basic_details:before {
    content: "\e902";
  }
  .icon-bank_details:before {
    content: "\e903";
  }
  .icon-barcode:before {
    content: "\e91e";
  }
  .icon-user-tie:before {
    content: "\e976";
  }
  .icon-bookmarks:before {
    content: "\e9d3";
  }
  .icon-settings_display:before {
    content: "\e922";
  }
  .icon-redeem:before {
    content: "\e91d";
  }
  .icon-cake:before {
    content: "\e91c";
  }
  .icon-family_restroom:before {
    content: "\e904";
  }
  .icon-upload_file:before {
    content: "\e905";
  }
  .icon-study:before {
    content: "\e908";
  }
  .icon-document-certificate:before {
    content: "\e907";
  }
  .icon-language:before {
    content: "\e90b";
  }
  .icon-graduation-cap:before {
    content: "\e906";
  }
  .icon-mortar-board:before {
    content: "\e906";
  }
  .icon-intersex:before {
    content: "\e900";
  }
  .icon-address-card-o:before {
    content: "\e923";
  }
  