<div class="flex flex-column align-items-center justify-content-center">
    <form [formGroup]="fbFeedBackForm">

        <div class="p-fluid p-formgrid">
            <div style="margin-bottom: 15px;">
                <label class="required mb-5">Rating:</label>&nbsp;
                &nbsp;
                <app-star-rating [control]="getRating()" [ngClass]="{ 'is-invalid ng-dirty': FormControls['rating'].touched &&
                    FormControls['rating'].errors }">
                </app-star-rating>
                <div class="flex">
                    <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['rating'].touched && FormControls['rating'].invalid">
                            <div class="ng-invalid ng-touched p-error"
                                *ngIf="FormControls['rating'].errors?.['required']">
                                Please Select Rating.</div>
                        </span>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 15px;">
                <label class="required">Comment:</label>&nbsp;
                <textarea rows="5" cols="30" pInputTextarea formControlName="comment" #note
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['comment'].touched && FormControls['comment'].errors }"
                    [maxlength]="256" placeholder="Enter Comment" id="comment"></textarea>
                <div class="flex">
                    <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['comment'].touched && FormControls['comment'].invalid">
                            <div class="ng-invalid ng-touched p-error"
                                *ngIf="FormControls['comment'].errors?.['required']">
                                Please Enter CommentP.</div>
                        </span>
                    </div>
                    <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{note.value.length}}/256</small>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<ng-template pTemplate="footer">
    <div class="flex justify-content-center p-3" style="float:right">
        <button pButton pRipple type="submit" class="p-button-raised p-button-primary" id="save_feedBack"
            (click)="save()" [disabled]="!this.fbFeedBackForm.valid" label="Save"></button>
    </div>
</ng-template>