<form [formGroup]="fbEducationDetails" autocomplete="off">
    <div class="grid mt-3">
        <div class="col-12 roles-container">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="Courses"
                            formControlName="course" optionLabel="name"></p-dropdown>
                        <label for="inputtext">Course<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="States"
                            formControlName="state" optionLabel="name"></p-dropdown>
                        <label for="dropdown">State<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="school" />
                        <label for="inputtext">School/College Name<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="board">
                        <label for="inputtext">Board/University Name<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="stream">
                        <label for="inputtext">Stream<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-calendar [yearNavigator]="true" [yearRange]="'1996:2025'" [readonlyInput]="true"
                            [showIcon]="true" dateFormat="yy" formControlName="yearofpass">
                        </p-calendar>
                        <label for="inputtext">Year of pass<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="gradingsystem">
                        <label for="inputtext">Grading System<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="cgpa">
                        <label for="inputtext">CGPA/Percentage System<sup class="p-error">*</sup></label>
                    </span>

                </div>
                <div class="field col-12 md:col-4">
                    <span>
                        <button pButton pRipple (click)="saveEducationDetails()">Save Education Details</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- table -->
<div class="col-12 scrolling_content" *ngIf="ShowlookupDetails">
    <p-table dataKey="id" [rows]="10" [rowHover]="true" [value]="educationDetails"
        styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="false" [autoLayout]="true"
        responsiveLayout="scroll" [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Course</th>
                <th>State</th>
                <th>School/College Name</th>
                <th>Board/University Name</th>
                <th>Stream</th>
                <th>Year of pass</th>
                <th>Grading System</th>
                <th>CGPA/Percentage System</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-educationData let-i="index">
            <tr>
                <td>{{ educationData.course }}</td>
                <td>{{ educationData.state }}</td>
                <td>{{ educationData.school }}</td>
                <td>{{ educationData.board }}</td>
                <td>{{ educationData.stream }}</td>
                <td>{{ educationData.yearofpass | date:'yyyy' }}</td>
                <td>{{ educationData.gradingsystem }}</td>
                <td>{{ educationData.cgpa }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="grid mt-5">
    <div class="field col-4">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100 text-right"  (click)="navigateToPrev()">Personal Details</button>
    </div>
    <div class=" col-4">
        <button p-button class="p-element p-ripple p-button-info p-button p-component w-100">Save as Draft</button>
    </div>
    <div class=" col-4">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100" (click)="navigateToNext()">Experience Details </button>
    </div>
</div>