<div class="layout-container layout-light-topbar layout-static layout-sidebar-active layout-sidebar-anchored"
    [ngClass]="containerClass">
    <div class="progress-spinner" *ngIf="isLoading | async">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <app-topbar></app-topbar>
    <!-- <app-config></app-config> -->
    <div class="layout-content-wrapper">
        <div class="layout-content">
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-profilemenu></app-profilemenu>
    <!-- <div class="text-center align-items-center pb-5 px-2">
      
        <h6 class="m-0 font-medium text-500 " style="line-height: 17px">HRMS Copyright Ⓒ 2024 Calibrage Info Pvt. Ltd.</h6>
      </div> -->
    <div class="layout-mask"></div>
</div>
