<div class="layout-topbar">
    <div class="topbar-start">
        <button #menubutton type="button" class="topbar-menubutton p-link p-trigger transition-duration-300"
            (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>
    </div>
    <div class="layout-topbar-menu-section">
        <app-sidebar></app-sidebar>
        <h3 class="topbar_title ShowOnDesktop">Human Resource Managment Services</h3>
        <h3 class="topbar_title ShowOnMobile">HRMS</h3>
    </div>
    <div class="topbar-end">

        <ul class="topbar-menu">

            <button pButton pRipple (click)="feedBackDialog()"
                class="p-element p-ripple p-button-help p-button-text p-button p-component"> <i
                    class="pi pi-fw pi-info-circle"></i> &nbsp; Feedback</button>
            <button pButton pRipple (click)="showHelp()"
                class="p-element p-ripple p-button-help p-button-text p-button p-component"> <i
                    class="pi pi-fw pi-info-circle"></i> &nbsp; Help</button>
            <h6 class="m-2" *ngIf="!this.EmployeeId">{{loggedInUser}}</h6>
            <h6 class="m-2">{{employeeDtls?.employeeName}}</h6>
            <li class="topbar-item">
                <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden"
                    leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple class="cursor-pointer">
                    <img [src]="employeeDtls?.employeePhoto ? employeeDtls?.employeePhoto : employeeDtls?.employeeGender == 'Male' ?  './assets/layout/images/men-emp.jpg' : './assets/layout/images/women-emp.jpg'"
                        [alt]="employeeDtls?.employeeName" class="border-round-xl" />
                </a>
                <ul [class]="'topbar-menu active-topbar-menu p-4 w-15rem   z-5 ng-hidden'">
                    <li role="menuitem" class="m-0 mb-3">
                        <a class="flex align-items-center hover:text-primary-500 transition-duration-200"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                            <i class="pi pi-fw pi-lock mr-2"></i>
                            <span>Privacy</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a [routerLink]="['settings']"
                            class="flex align-items-center hover:text-primary-500 transition-duration-200"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                            <i class="pi pi-fw pi-cog mr-2"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a class="flex align-items-center hover:text-primary-500 transition-duration-200 topbar-menu-item"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout"
                            (click)="openHRComponentDialog(hrNotificationsComponent, null, ActionTypes.save)"
                            *ngIf="permissions?.CanManageNotification">
                            <i class="pi pi-fw pi-circle mr-2"></i>
                            <span>HR Notifications</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a class="flex align-items-center hover:text-primary-500 transition-duration-200 topbar-menu-item"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout"
                            (click)="openAdminSettingsComponentDialog(adminSettingsDialogComponent, null, ActionTypes.save)"
                            *ngIf="permissions?.CanManageAdminSetting">
                            <i class="pi pi-fw pi-circle mr-2"></i>
                            <span>Admin Settings</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a class="flex align-items-center hover:text-primary-500 transition-duration-200 topbar-menu-item"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout"
                            (click)="openComponentDialog(lookupDialogComponent, null, ActionTypes.save)"
                            *ngIf="permissions?.CanManageLookups">
                            <i class="pi pi-fw pi-circle mr-2"></i>
                            <span>Lookup</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a class="flex align-items-center hover:text-primary-500 transition-duration-200 topbar-menu-item"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout"
                            (click)="openComponentDialogforRecruitmentAttributes(recruitmentattributeDialogComponent, null, ActionTypes.save)"
                            *ngIf="permissions?.CanManageRecruitmentAttribute">
                            <i class="pi font-semibold icon-hr mr-2"></i>
                            <span>Recruitment Attributes</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a class="flex align-items-center hover:text-primary-500 transition-duration-200 topbar-menu-item"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout"
                            (click)="openComponentDialogforLeaveConfiguration(leaveConfigurationDialogComponent, null, ActionTypes.save)"
                            *ngIf="permissions?.CanViewLeaveConfigurations">
                            <i class="pi pi-calendar-plus mr-2"></i>
                            <span>Leave Configuration</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0">
                        <a (click)="logOut()"
                            class="flex align-items-center hover:text-primary-500 transition-duration-200 topbar-menu-item"
                            pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-scalein"
                            leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                            <i class="pi pi-fw pi-sign-out mr-2"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<p-dialog header="HRMS how to use" [(visible)]="Help" [modal]="true" showEffect="fade"
    [breakpoints]="{'960px': '90%', '640px': '80%'}" [style]="{ width: '75%' }">
    <p-tabView>
        <p-tabPanel header="Document">

            <iframe src="assets/layout/HTU_HRMS_DOC.pdf" style="width:100%; height:400px;" frameborder="0"></iframe>

        </p-tabPanel>
        <p-tabPanel header="Video">
            <video width="100%" height="400px" controls>
                <source src="assets/layout/HRMS_how_to_use.mp4" type="video/mp4">
                <source src="assets/layout/HRMS_how_to_use.mp4" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </p-tabPanel>

    </p-tabView>




    <!-- <iframe src="assets/layout/HTA_HRMS_DOC_V!.pptx" width="800" height="600"></iframe> -->

</p-dialog>
<p-dialog header="Feedback" [(visible)]="feedBack" [modal]="true" showEffect="fade"
    [breakpoints]="{'960px': '70%', '640px': '80%'}">
    <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbFeedBackForm">

            <div class="p-fluid p-formgrid">
                <div style="margin-bottom: 15px;">
                    <label class="required mb-5">Rating:</label>&nbsp;
                    &nbsp;
                    <!-- <br/> <app-star-rating [control]="getRating()"></app-star-rating> -->
                    <app-star-rating [control]="getRating()" [ngClass]="{ 'is-invalid ng-dirty': FormControls['rating'].touched &&
                    FormControls['rating'].errors }">
                    </app-star-rating>
                    <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                            <span *ngIf="FormControls['rating'].touched && FormControls['rating'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['rating'].errors?.['required']">
                                    Please Select Rating.</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="required">Comment:</label>&nbsp;
                    <textarea rows="5" cols="30" pInputTextarea formControlName="comment" #note
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['comment'].touched && FormControls['comment'].errors }"
                        [maxlength]="256" placeholder="Enter Comment" id="comment"></textarea>
                    <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                            <span *ngIf="FormControls['comment'].touched && FormControls['comment'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['comment'].errors?.['required']">
                                    Please Enter CommentP.</div>
                            </span>
                        </div>
                        <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{note.value.length}}/256</small>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center p-3" style="float:right">
            <button pButton pRipple type="submit" class="p-button-raised p-button-primary" id="save_feedBack"
                (click)="logOut()" [disabled]="!this.fbFeedBackForm.valid" label="Save"></button>
        </div>
    </ng-template>
</p-dialog>
