
<div class="flex flex-column align-items-center justify-content-center">
	<form [formGroup]="fbAddressDetails">
		<div class="grid mt-3 p-5">
			<div class="col-12 roles-container">
				<div class="p-fluid p-formgrid grid">
					<div class="field col-12 md:col-4">
						<span class="p-float-label">
							<input type="text" id="Address_address1" pInputText
								formControlName="addressLine1" #address1
								[ngClass]="{ 'is-invalid ng-dirty': FormControls['addressLine1'].touched && FormControls['addressLine1'].errors }"
								[maxlength]="maxLength.description">
							<label class="required">AddressLine1</label>
						</span>
						<div class="flex">
							<div class="align-left w-60" style="width:70%">
								<span
									*ngIf="FormControls['addressLine1'].touched && FormControls['addressLine1'].invalid">
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['addressLine1'].errors?.['required']">
										Please Enter AddressLine.</div>
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['addressLine1'].errors?.['minlength']">
										AddressLine1 Min Characters Is 2.</div>
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['addressLine1'].errors?.['maxlength']">
										AddressLine1 Max Characters Is 256.</div>
								</span>
							</div>
							<div class="align-right w-40" style="width:30%; text-align:right;">
								<small>{{address1.value.length}}/256</small>
							</div>
						</div>
					</div>
					<div class="field col-12 md:col-4">
						<span class="p-float-label">
							<input type="text" id="Address_address2" pInputText
								formControlName="addressLine2" #address2
								[maxlength]="maxLength.description">
							<label for="inputtext">AddressLine2</label>
						</span>
						<div class="flex">
							<div class="align-left w-60" style="width:70%">
							</div>
							<div class="align-right w-40" style="width:30%; text-align:right;">
								<small>{{address2.value.length}}/256</small>
							</div>
						</div>
					</div>
					<div class="field col-12 md:col-4">
						<span class="p-float-label">
							<input type="text" id="Address_landmark" pInputText formControlName="landmark"
								#Landmark [maxlength]="maxLength.description">
							<label for="inputtext">Landmark</label>
						</span>
						<div class="flex">
							<div class="align-left w-60" style="width:70%">
							</div>
							<div class="align-right w-40" style="width:30%; text-align:right;">
								<small>{{Landmark.value.length}}/256</small>
							</div>
						</div>
					</div>
					<div class="field col-12 md:col-4">
						<span class="p-float-label">
							<input type="text" id="Address_ZIPCode" pInputText formControlName="zipcode"
								[ngClass]="{ 'is-invalid ng-dirty': FormControls['zipcode'].touched && FormControls['zipcode'].errors }"
								[maxlength]="maxLength.pinCode" #zip />
							<label class="required">ZIP Code</label>
						</span>
						<div class="flex">
							<div class="align-left w-60" style="width:70%">
								<span
									*ngIf="FormControls['zipcode'].touched && FormControls['zipcode'].invalid">
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['zipcode'].errors?.['required']">
										Please Enter ZIPCode.</div>
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['zipcode'].errors?.['pattern']">
										Invalid Pan No Eg:524005.</div>
								</span>
							</div>
							<div class="align-right w-40" style="width:30%; text-align:right;">
								<small>{{zip.value.length}}/6</small>
							</div>
						</div>
					</div>
					<div class="field col-12 md:col-4">
						<span class="p-float-label">
							<input type="text" id="Address_city" pInputText formControlName="city"
								alphaOnly
								[ngClass]="{ 'is-invalid ng-dirty': FormControls['city'].touched && FormControls['city'].errors }"
								[maxlength]="maxLength.name" #city />
							<label class="required">City</label>
						</span>
						<div class="flex">
							<div class="align-left w-60" style="width:70%">
								<span
									*ngIf="FormControls['city'].touched && FormControls['city'].invalid">
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['city'].errors?.['required']">
										Please Enter City.</div>
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['city'].errors?.['minlength']">
										City Min Characters Is 2.</div>
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['City'].errors?.['maxlength']">
										City Max Characters Is 50.</div>
								</span>
							</div>
							<div class="align-right w-40" style="width:30%; text-align:right;">
								<small>{{city.value.length}}/50</small>
							</div>
						</div>
					</div>

					<div class="field col-12 md:col-4">
						<span class="p-float-label">
							<p-dropdown inputId="dropdown" id="Address_country" [autoDisplayFirst]="false"
								[ngClass]="{ 'is-invalid ng-dirty': FormControls['countryId'].touched && FormControls['countryId'].errors }"
								formControlName="countryId" [options]="countries"
								optionValue="lookupDetailId" optionLabel="name"
								(onChange)="getStatesByCountryId($event.value)">
							</p-dropdown>
							<label class="required">Country</label>
						</span>
						<div class="flex">
							<div class="align-left w-60" style="width:70%">
								<span
									*ngIf="FormControls['countryId'].touched && FormControls['countryId'].invalid">
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['countryId'].errors?.['required']">
										Please Select Country.</div>
								</span>
							</div>
						</div>
					</div>
					<div class="field col-12 md:col-4">
						<span class="p-float-label">
							<p-dropdown inputId="dropdown" id="Address_state" [autoDisplayFirst]="false"
								[ngClass]="{ 'is-invalid ng-dirty': FormControls['stateId'].touched && FormControls['stateId'].errors }"
								formControlName="stateId" [options]="states" appendTo="body"
								optionValue="lookupDetailId" optionLabel="name"></p-dropdown>
							<label class="required">State</label>
						</span>
						<div class="flex">
							<div class="align-left w-60" style="width:70%">
								<span
									*ngIf="FormControls['stateId'].touched && FormControls['stateId'].invalid">
									<div class="ng-invalid ng-touched p-error"
										*ngIf="FormControls['stateId'].errors?.['required']">
										Please Select state.</div>
								</span>
							</div>
						</div>
					</div>
					<div class="field col-12 md:col-8">
						<label class="required">Address Type:</label>
						<div class="flex flex-wrap gap-3">
							<div class="flex align-items-center">
								<p-radioButton [disabled]="hasPermanentAddress" value="Permanent Address" id="Address_addressType1"
									formControlName="addressType" [pTooltip]="hasPermanentAddress ? 'Every Employee Can Have Only One Permanent Address Please Select Other Type' : null"
									tooltipPosition="left"></p-radioButton>
								<label class="ml-2" >Permanent Address</label>
							</div>
						
						
							<div class="flex align-items-center">
								<p-radioButton value="Temporary Address" id="Address_addressType2"
									formControlName="addressType"></p-radioButton>
								<label class="ml-2">Temporary Address</label>
							</div>
					
							<div class="flex align-items-center">
								<p-radioButton [disabled]="hasCurrentAddress" 
								[pTooltip]="hasCurrentAddress ? 'Every Employee Can Have Only One Current Address Please Select Other Type' : null"
									tooltipPosition="right"value="Current Address" id="Address_addressType3"
									formControlName="addressType"></p-radioButton>
								<label class="ml-2">Current Address</label>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</form>
</div>


<div  class=" footer dialog-footer">
	<p-button type="button" (click)="saveAddress()" [disabled]="!fbAddressDetails.valid" label="Submit"
		class="p-element p-ripple p-button-primary  p-component"></p-button>
		
</div>
