<div class="col-12">
    <div class="card" id="main-card">
        <!-- Toolbar -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Leave Configuration</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="Add Leave" id="addLeaveButton" icon="pi pi-plus"
                    class="p-button-primary p-mr-2"
                    (click)="openComponentDialog(leaveDialogComponent, null, ActionTypes.save)"></button>
            </ng-template>
        </p-toolbar>
        <!-- p-table -->
        <p-table id="table" #dtleave [value]="leaves" dataKey="id" [rows]="10" [rowHover]="true"
            [alwaysShowPaginator]="false" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" [globalFilterFields]="globalFilterFields" paginatorDropdownAppendTo="body"
            [autoLayout]="true" responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [style]="{width: 'auto'}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dtleave)" id="clear-btn"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" id="search-input" #filter
                            (input)="onGlobalFilter(dtleave, $event)" placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of headers" [pSortableColumn]="col.header">
                        {{col?.label}}
                        <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
                        <p-sortIcon [field]="col.header"></p-sortIcon>
                    </th>
                    <th> Actions </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-leave>
                <tr>
                    <td *ngFor="let col of headers" [ngClass]="col?.field == 'status'  ? 'text-center' : ''">
                        <span
                            *ngIf=" col?.field == 'employeeName' || col?.field == 'note'||col?.field == 'acceptedBy'  || col?.field == 'approvedBy'||col?.field =='createdAt' || col?.field == 'createdBy'">
                            {{leave[col.field]}}
                        </span>
                        <span 
                            *ngIf="col?.field == 'fromDate' || col?.field == 'toDate'|| col?.field == 'acceptedAt' || col?.field == 'approvedAt'">
                            {{leave[col.field] | date: mediumDate}}
                        </span>
                        <span *ngIf=" col?.field == 'leaveTypeId'">
                            {{ leaveTypeMap[leave.leaveTypeId] }}
                        </span>
                        <span *ngIf="col?.field == 'status'">
                            <ng-container *ngIf="leave.status === 'Approved'; else falseBlock">
                                <i class="pi pi-check text-green-500"></i>
                            </ng-container>
                            <ng-template #falseBlock>
                                <ng-container *ngIf="leave.status === 'Rejected'; else nullBlock">
                                    <i class="pi pi-times text-red-500"></i>
                                </ng-container>
                                <ng-template #nullBlock>
                                    <i class="pi pi-spin pi-spinner text-primary"></i>
                                </ng-template>
                            </ng-template>
                        </span>
                    </td>
                    <td>
                        <div class="flex" *ngIf="leave.rejected === null">
                            <button pButton pRipple icon="pi pi-check"
                                class="p-element p-ripple  p-button  p-button-outlined p-button-success mr-3 p-0" (click)="confirmationDialog('approve')"></button>
                            <button pButton pRipple icon="pi pi-times"
                                class="p-element p-ripple p-button-outlined p-button-danger p-button col-2 p-0" 
                                (click)="confirmationDialog('reject')"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="md:text-center m-5" colspan="50%">No Holidays Found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Confirmation Dialog -->
<p-dialog [(visible)]="dialog" [modal]="true" showEffect="fade" [breakpoints]="{'960px': '70%', '640px': '80%'}">
    <div class="flex flex-column justify-content-center">
        <form [formGroup]="fbLeave">
            <div class="p-fluid p-formgrid grid">
                Are you sure you want to Approve this Leave.
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="col-4" style="float:right">
            <button pButton pRipple label="Yes" class="p-button-primary p-mr-2" (click)="onYesButtonClick()"></button>
        </div>
    </ng-template>
</p-dialog>