<div class="content_scroll" id="hrms">
    <div class="grid m-0 mt-3 p-0">
        <div class=" flex justify-content-center p-1">
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton name="experienceDetails" value="Fresher" [(ngModel)]="this.selectedOption"
                        id="Experience_isFresher" inputId="fresher" seleted
                        [disabled]="this.empExperienceDetails[0]?.isAFresher===false"></p-radioButton>
                    <label for="fresher" class="ml-2">Fresher</label>
                </div>

                <div class="flex align-items-center">
                    <p-radioButton name="experienceDetails" id="Experience_isexperirenced" value="Experience"
                        [(ngModel)]="this.selectedOption" [disabled]="this.empExperienceDetails[0]?.isAFresher===true"
                        inputId="experience"></p-radioButton>
                    <label for="experience" class="ml-2">Experience</label>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf="selectedOption=='Experience'">
            <div>
                <div class="text-right">
                    <button pButton pRipple (click)="toggleTab()" class="mb-3 pi pi-plus"></button>
                </div>
                <form [formGroup]="fbexperience">
                    <div p-overlayPanel class="fadeinup animation-duration-1000 grid  m-0 mt-3 p-0"
                        *ngIf="addexperiencedetailsshowForm">
                        <div class="col-12 roles-container">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12  m-0 md:col-4">
                                    <label class="required">Company Name:</label>&nbsp;
                                    <input pInputText id="Experience_companyname" type="text" #company alphaNumeric
                                        formControlName="companyName" (keydown)="restrictSpaces($event)"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['companyName'].touched && FormControls['companyName'].errors }"
                                        placeholder="Enter Company Name" [maxlength]="maxLength.name" />
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['companyName'].touched && FormControls['companyName'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyName'].errors?.['required']">
                                                    Please Enter Company Name.</div>
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyName'].errors?.['minlength']">
                                                    companyName Min Characters Is 2.</div>
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyName'].errors?.['maxlength']">
                                                    companyName Max Characters Is 50.</div>
                                            </span>
                                        </div>
                                        <div class="align-right w-40" style="width:30%; text-align:right;">
                                            <small>{{company.value.length}}/50</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Location:</label>&nbsp;
                                    <input pInputText id="Experience_Location" type="text" #location
                                        formControlName="companyLocation" alphaOnly (keydown)="restrictSpaces($event)"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['companyLocation'].touched && FormControls['companyLocation'].errors }"
                                        placeholder="Enter Location" [maxlength]="maxLength.name" />
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['companyLocation'].touched && FormControls['companyLocation'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyLocation'].errors?.['required']">
                                                    Please Enter Location.</div>
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyLocation'].errors?.['minlength']">
                                                    CompanyLocation Min Characters Is 2.</div>
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyLocation'].errors?.['maxlength']">
                                                    CompanyLocation Max Characters Is 50.</div>
                                            </span>
                                        </div>
                                        <div class="align-right w-40" style="width:30%; text-align:right;">
                                            <small>{{location.value.length}}/50</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="field col-12 md:col-4">
                                    <label>Company EmpId:</label>&nbsp;
                                    <input pInputText id="Experience_EmpId" type="text" #empId alphaNumeric
                                        (keydown)="restrictSpaces($event)" formControlName="companyEmployeeId"
                                        placeholder="Enter Company Employee Id" [maxlength]="maxLength.code" />
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['companyEmployeeId'].touched && FormControls['companyEmployeeId'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyEmployeeId'].errors?.['minlength']">
                                                    CompanyEmpId Min Characters Is 2.</div>
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['companyEmployeeId'].errors?.['maxlength']">
                                                    CompanyEmpId Max Characters Is 20.</div>
                                            </span>
                                        </div>
                                        <div class="align-right w-40" style="width:30%; text-align:right;">
                                            <small>{{empId.value.length}}/20</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Country:</label>&nbsp;
                                    <p-dropdown inputId="dropdown" id="Experience_stateId" [autoDisplayFirst]="false"
                                        placeholder="Select Country" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['countryId'].touched && FormControls['countryId'].errors }"
                                        formControlName="countryId" [options]="countries" optionValue="lookupDetailId"
                                        optionLabel="name" (onChange)="getStatesByCountryId($event.value)">
                                    </p-dropdown>
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['countryId'].touched && FormControls['countryId'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['countryId'].errors?.['required']">
                                                    Please Select Country.</div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">State:</label>&nbsp;
                                    <p-dropdown inputId="dropdown" id="Experience_stateId" [autoDisplayFirst]="false"
                                        placeholder="Select State" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['stateId'].touched && FormControls['stateId'].errors }"
                                        formControlName="stateId" [options]="states" optionValue="lookupDetailId"
                                        optionLabel="name">
                                    </p-dropdown>
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['stateId'].touched && FormControls['stateId'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['countryId'].untouched && FormControls['stateId'].touched ||
                                                     FormControls['countryId'].invalid&& FormControls['stateId'].touched">
                                                    Please Select Country First.</div>
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['countryId'].touched &&FormControls['stateId'].errors?.['required']&&FormControls['countryId'].valid">
                                                    Please Select State.</div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Designation:</label>&nbsp;
                                    <p-dropdown inputId="dropdown" id="Experience_designationId"
                                        [autoDisplayFirst]="false" formControlName="designationId"
                                        [options]="designation" optionValue="lookupDetailId" appendTo="body"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['designationId'].touched && FormControls['designationId'].errors }"
                                        optionLabel="name" placeholder="Select Designation" [options]="designation"
                                        optionLabel="name">
                                    </p-dropdown>
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['designationId'].touched && FormControls['designationId'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['designationId'].errors?.['required']">
                                                    Please Select Designation.</div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Skill Areas:</label>&nbsp;
                                    <p-multiSelect placeholder="Select Skill Areas" id="Experience_skillArea"
                                        [options]="skills" optionLabel="name" [filter]="true" filterBy="name"
                                        #multiSelect formControlName="skills" optionValue="lookupDetailId"
                                        (keydown)="restrictSpaces($event)" (onChange)="onSelectSkill($event)"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['skills'].touched && FormControls['skills'].errors }"
                                        appendTo="body">
                                        <ng-template let-skill pTemplate="selectedItem">
                                            <div class="block align-items-center gap-3">
                                                <div>{{skill.name}}</div>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['skills'].touched && FormControls['skills'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['skills'].errors?.['required']">
                                                    Please Select Skill Areas.</div>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="field col-12 md:col-4">
                                    <label class="required">Date of Joining:</label>&nbsp;
                                    <p-calendar [showIcon]="true" formControlName="dateOfJoining"
                                        id="Experience_dateOfJoining" appendTo="body" (keydown)="restrictSpaces($event)"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['dateOfJoining'].touched && FormControls['dateOfJoining'].errors }"
                                        placeholder="Select Date Of Joining">
                                    </p-calendar>
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['dateOfJoining'].touched && FormControls['dateOfJoining'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['dateOfJoining'].errors?.['required']">
                                                    Please Select Date Of Joining.</div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="required">Date of Reliving:</label>&nbsp;
                                    <p-calendar [showIcon]="true" formControlName="dateOfReliving"
                                        (keydown)="restrictSpaces($event)" id="Experience_dateOfReliving"
                                        appendTo="body" [maxDate]="currentDate"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['dateOfReliving'].touched && FormControls['dateOfReliving'].errors }"
                                        placeholder="Select Date of Reliving">
                                    </p-calendar>
                                    <div class="flex">
                                        <div class="align-left w-60" style="width:70%">
                                            <span
                                                *ngIf="FormControls['dateOfReliving'].touched && FormControls['dateOfReliving'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['dateOfReliving'].errors?.['required']">
                                                    Please Select Date Of Reliving.</div>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class=" col-12 md:col-4 pt-4">
                                    <div class=" button-container">
                                        <p-button type="button" label="Add Experience Details" id="Experience_addExp"
                                            [disabled]="fbexperience.invalid" (click)="addexperienceDetails()">
                                        </p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-12 scrolling_content" *ngIf="selectedOption=='Experience'">
        <div class="col-12 scrolling_content fadeinup animation-duration-1000" *ngIf="ShowexperienceDetails">
            <p-table #dt2 [value]="empExperienceDetails" dataKey="id" [rows]="10" [rowHover]="true"
                [alwaysShowPaginator]="false" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true" [autoLayout]="true" responsiveLayout="scroll"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:5px" *ngIf="permissions?.CanManageEmployee">Actions</th>
                        <th *ngFor="let col of headers"
                            [ngClass]="col?.field == 'action'||col?.field == 'companyName' || col?.field == 'companyLocation' || col?.field == 'companyEmployeeId'  ||col?.field == 'stateId'  ||  col?.field == 'designationId'
                        ||col?.field == 'dateOfJoining'|| col?.field == 'dateOfReliving' ||col?.field == 'workExperienceXrefs' ? 'text-center' : ''">
                            {{col?.label}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-experienceDetail let-experienceDetailsIndex="rowIndex">
                    <tr>
                        <td *ngIf="permissions?.CanManageEmployee">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" (click)="editForm(experienceDetail)" *ngIf="experienceDetail.workExperienceId"
                                    class="p-element p-ripple p-button-text p-button p-component col-2 p-0 "></button>
                                <button pButton pRipple icon="pi pi-trash" id="AddressDetailsRemove-Btn"
                                    *ngIf="!experienceDetail.workExperienceId"
                                    class="p-element p-ripple p-button-text p-button p-component col-2 p-0"
                                    (click)="removeItem(experienceDetailsIndex)">
                                </button>
                            </div>
                        </td>
                        <td *ngFor="let col of headers"
                            [ngClass]="col?.field == 'companyName' || col?.field == 'companyLocation' || col?.field == 'companyEmployeeId'  ||col?.field == 'stateId'  ||  col?.field == 'designationId'
                    ||col?.field == 'dateOfJoining'|| col?.field == 'dateOfReliving'|| col?.field == 'workExperienceXrefs' ? 'text-center' : ''">
                            <span
                                *ngIf="col?.field == 'companyName' || col?.field == 'companyLocation' || col?.field == 'companyEmployeeId'">
                                {{experienceDetail[col.field]}}
                            </span>
                            <span *ngIf="col?.field == 'stateId'">
                                {{experienceDetail.state}}
                            </span>
                            <span *ngIf="col?.field == 'designationId'">
                                {{experienceDetail.designation}}
                            </span>
                            <span *ngIf="col?.field == 'dateOfReliving'||col?.field == 'dateOfJoining'">
                                {{experienceDetail[col.field]|date:mediumDate}}
                            </span>
                            <span *ngIf="col?.field == 'workExperienceXrefs'">
                                {{experienceDetail.workExperienceId?experienceDetail.skillAreaNames:
                                this.viewSelectedSkills}}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<div class="grid mt-5">
    <div class="field col-4">
        <button p-button id="ExperiencetoEducation-Btn"
            class="p-element p-ripple p-button-primary p-button p-component w-100 text-right"
            (click)="navigateToPrev()">Educational Details</button>
    </div>
    <div class=" col-4">
        <button p-button id="ExperienceSave-Btn" class="p-element p-ripple p-button-info p-button p-component w-100"
            [disabled]="this.empExperienceDetails.length == 0 && this.selectedOption=='Experience'"
            (click)="onSubmit()">Save
            as Draft</button>
    </div>
    <div class=" col-4">
        <button p-button id="ExperiencetoAddress-Btn"
            class="p-element p-ripple p-button-primary p-button p-component w-100" (click)="navigateToNext()">Address
            Details </button>
    </div>
</div>