<div class="grid" >
    <div class=" flex justify-content-center p-5">
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-radioButton name="experienceDetails" value="Fresher" [(ngModel)]="selectedOption" inputId="fresher"
                    seleted></p-radioButton>
                <label for="fresher" class="ml-2">Fresher</label>
            </div>

            <div class="flex align-items-center">
                <p-radioButton name="experienceDetails" value="Experience" [(ngModel)]="selectedOption"
                    inputId="experience"></p-radioButton>
                <label for="experience" class="ml-2">Experience</label>
            </div>
        </div>
    </div>
    <br>

    <div *ngIf="selectedOption=='Experience'">
        <div>
            <form [formGroup]="fbexperience">
                <div class="grid">
                    <div class="col-12 roles-container">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label>Company Name:<sup class="p-error">*</sup></label>&nbsp;
                                <input pInputText id="companyname" type="text" formControlName="companyName"
                                    placeholder="Enter Company Name" />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label>From Date:<sup class="p-error">*</sup></label>&nbsp;
                                <p-calendar [showIcon]="true" formControlName="fromDate" placeholder="Enter From Date">
                                </p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label>To Date:<sup class="p-error">*</sup></label>&nbsp;
                                <p-calendar [showIcon]="true" formControlName="toDate" placeholder="Enter To Date">
                                </p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label>Designation:<sup class="p-error">*</sup></label>&nbsp;
                                <input pInputText id="designation" type="text" formControlName="designation"
                                    placeholder="Enter Designation" />
                            </div>
                            <div class=" col-12 md:col-4 mt-2">
                                <div class=" button-container">
                                    <p-button type="button" label="Add Experience Details"
                                        (click)="addexperienceDetails()">
                                    </p-button>
                                </div>
                            </div>
                            <div class="col-12 scrolling_content" formArrayName="experienceDetails"
                                *ngIf="ShowexperienceDetails">
                                <p-table #dt2 [value]="faexperienceDetail().controls" dataKey="id" [rows]="10"
                                    [rowHover]="true" *ngIf="ShowexperienceDetails"
                                    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                                    [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                                    [rowsPerPageOptions]="[10,25,50]">>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Company Name<sup class="p-error">*</sup> </th>
                                            <th>From Date <sup class="p-error">*</sup></th>
                                            <th>To Date <sup class="p-error">*</sup></th>
                                            <th>Designation<sup class="p-error">*</sup></th>
                                            <th *ngIf="fbexperience.controls['experienceDetails'].value.length > 1">
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-experience let-experienceDetailsIndex="rowIndex">
                                        <tr [formGroupName]="experienceDetailsIndex">
                                            <td class="vertical-align-top">
                                                <input pInputText class="form-control" formControlName="companyName">
                                            </td>
                                            <td class="vertical-align-top">
                                                <input pInputText class="form-control" formControlName="fromDate"
                                                    placeholder="Enter Date">
                                            </td>
                                            <td class="vertical-align-top">
                                                <input pInputText class="form-control" formControlName="toDate"
                                                    placeholder="Enter Date">
                                            </td>
                                            <td class="vertical-align-top">
                                                <input pInputText class="form-control" formControlName="designation"
                                                    placeholder="Enter Designation">
                                            </td>
                                            <td *ngIf="fbexperience.controls['experienceDetails'].value.length > 1">
                                                <i class="pi pi-fw pi-times-circle text-3xl cursor-pointer"
                                                    *ngIf="!this.faexperienceDetail().controls[experienceDetailsIndex].get('id')?.value"
                                                    (click)="faexperienceDetail().removeAt(experienceDetailsIndex)"></i>
                                                <i class="pi pi-fw pi-verified text-3xl"
                                                    *ngIf="this.faexperienceDetail().controls[experienceDetailsIndex].get('id')?.value"></i>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="grid mt-5">
    <div class="field col-4">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100 text-right"  (click)="navigateToPrev()">Educational Details</button>
    </div>
    <div class=" col-4">
        <button p-button class="p-element p-ripple p-button-info p-button p-component w-100">Save as Draft</button>
    </div>
    <div class=" col-4">
        <button p-button class="p-element p-ripple p-button-primary p-button p-component w-100" (click)="navigateToNext()">Family Details </button>
    </div>
</div>