<!-- p-dialog -->
<p-dialog [(visible)]="dialog" [modal]="true" showEffect="fade" [breakpoints]="{'960px': '70%', '640px': '80%'}">
    <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbleave">
            <div class="p-fluid p-formgrid">
                <div style="margin-bottom: 15px;">
                    <label class="required">Employee:</label>&nbsp;
                    <p-dropdown [options]="employeesList" [readonly]="FormControls['employeeId'].value!== null"
                        id="Attendance_employeeId" formControlName="employeeId" optionLabel="employeeName"
                        [filter]="true" filterBy="employeeCode,employeeName" placeholder="Select Employee"
                        optionValue="employeeId">
                        <ng-template let-employee pTemplate="item">
                            <div class="country-item">
                                <div>{{ employee.employeeCode }}</div>
                                <div>{{ employee.employeeName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="required">Leave Type:</label>&nbsp;
                    <p-dropdown formControlName="leaveTypeId" [options]="LeaveTypes" optionLabel="name"
                        (onChange)="checkLeaveType()" id="Attendance_leaveType" optionValue="lookupDetailId"
                        placeholder="Select Leave Type"></p-dropdown>
                    <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                            <span *ngIf="FormControls['leaveTypeId'].touched && FormControls['leaveTypeId'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                    *ngIf="FormControls['leaveTypeId'].errors?.['required']">
                                    Please Select Leave Type.</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="required">From Date:</label>&nbsp;
                    <p-calendar formControlName="fromDate" [readonlyInput]="FormControls['employeeId'].value!== null"
                        id="Attendance_fromDate" appendTo="body" placeholder="Enter From Date" [showIcon]="true">
                    </p-calendar>
                </div>

                <div style="margin-bottom: 15px;">
                    <label>Leave Narration:</label>&nbsp;
                    <textarea rows="5" cols="30" pInputTextarea formControlName="note"
                        id="Attendance_leaveNarration"></textarea>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center">
            <button pButton pRipple type="submit" class="p-button-raised p-button-primary" id="Attendance_saveLeave"
                (click)="addAttendance()" [disabled]="!this.fbleave.valid" label="Add Attendance"></button>
        </div>
    </ng-template>
</p-dialog>

<p-table [rowHover]="true" styleClass="p-datatable-striped p-datatable-gridlines top_note_bar" responsiveLayout="scroll"
    [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <td class="woff"> WO </td>
            <td colspan="2">Weekoff </td>
            <td class="pt"> PT </td>
            <td colspan="2"> Present </td>
            <td class="nu"> NU</td>
            <td colspan="2">Not Updated</td>
            <td class="hd">HD</td>
            <td colspan="2">Holiday</td>
            <td class="at"> AT </td>
            <td colspan="2">Absent</td>
            <td class="cl">CL</td>
            <td colspan="2">Casual Leave</td>
            <td class="pl">PL</td>
            <td colspan="2">Privilege Leave</td>
            <td class="el">EL</td>
            <td colspan="2">Earned Leave</td>
            <td class="sl">SL</td>
            <td colspan="2">Sick leave </td>

        </tr>
    </ng-template>
</p-table>
<!-- Toolbar -->
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <h4>Attendance</h4>
    </ng-template>

    <ng-template pTemplate="center">
        <div class="pr-2">
            <p-button icon="pi pi-angle-left mr-2" (click)="gotoPreviousMonth()" id="Attendance_previousMonth">
            </p-button>
        </div>
        <div>
            <p-calendar styleClass="only-icon" [(ngModel)]="selectedMonth" [showIcon]="true" view="month" 
                dateFormat="mm/yy" id="Attendance_selectMonth" [yearNavigator]="true" yearRange="2000:2030"
                [readonlyInput]="true" inputId="monthpicker" (onSelect)="onMonthSelect($event)">
            </p-calendar>
        </div>
        <div class="pl-2">
            <p-button icon="pi pi-angle-right ml-2" (click)="gotoNextMonth()" id="Attendance_nextMonth"></p-button>
        </div>
        <div class="pl-2">
            {{this.month}}/{{this.year}}
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <div class="pr-2">
            <input pInputText type="text" class="w-full" placeholder="Employee Name" #filter
                id="Attendance_globalSearch" (input)="onGlobalFilter(dt1, $event)" />
        </div>
        <div>
            <button pButton pRipple label="Add Attendance" id="AddressDetails-Btn" icon="pi pi-plus"
                id="Attendance_addAttendance" class="p-button-primary p-mr-2"
                (click)="showConfirmationDialog()"></button>
        </div>
    </ng-template>
</p-toolbar>
<!-- p-table -->


<p-table #dt1 [value]="employeeAttendanceList" [rowHover]="true"
    styleClass="p-datatable-striped p-datatable-gridlines attendance_table" responsiveLayout="scroll"
    [globalFilterFields]="globalFilterFields" [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="header">
        <tr>
            <th>Employee</th>
            <th *ngFor="let i of days">{{i}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>

        <tr>
            <td>{{employee.EmployeeName}}</td>
            <td *ngFor="let i of days" [ngClass]="{'woff': getAttendance(employee, i) === 'WOff',
                        'pt': employee[getFormattedDate(i)] === 'PT',
                        'nu': employee[getFormattedDate(i)] === 'NU',
                        'hd': employee[getFormattedDate(i)] === 'HD',
                        'at': employee[getFormattedDate(i)] === 'AT',
                        'cl': employee[getFormattedDate(i)] === 'CL',
                        'pl': employee[getFormattedDate(i)] === 'PL',
                        'el': employee[getFormattedDate(i)] === 'EL',
                        'sl': employee[getFormattedDate(i)] === 'SL'                        
                       }">
                <ng-container *ngIf="getAttendance(employee, i)">
                    <span [ngClass]="{'pt': employee[getFormattedDate(i)] === 'PT',}"
                        (click)="openDialog(employee.EmployeeId,getFormattedDate(i),employee[getFormattedDate(i)])"
                        *ngIf="getAttendance(employee, i) === 'PT'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span (click)="openDialog(employee.EmployeeId, getFormattedDate(i),employee[getFormattedDate(i)])"
                        *ngIf="getAttendance(employee, i) === 'AT'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span (click)="openDialog(employee.EmployeeId, getFormattedDate(i),employee[getFormattedDate(i)])"
                        *ngIf="getAttendance(employee, i) === 'CL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span (click)="openDialog(employee.EmployeeId, getFormattedDate(i),employee[getFormattedDate(i)])"
                        *ngIf="getAttendance(employee, i) === 'PL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span (click)="openDialog(employee.EmployeeId, getFormattedDate(i),employee[getFormattedDate(i)])"
                        *ngIf="getAttendance(employee, i) === 'EL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span (click)="openDialog(employee.EmployeeId, getFormattedDate(i),employee[getFormattedDate(i)])"
                        *ngIf="getAttendance(employee, i) === 'SL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span *ngIf="getAttendance(employee, i) === 'WOff'">
                        WO
                    </span>
                    <span *ngIf="getAttendance(employee, i) === 'HD'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span (click)="openDialog(employee.EmployeeId, getFormattedDate(i),employee[getFormattedDate(i)])"
                        *ngIf="getAttendance(employee, i) === 'NU'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                </ng-container>

            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Confirmation" [(visible)]="display">
    <p>Do you want to modify the status of {{this.NotUpdatedEmployees.length}} records to Present on
        {{this.notUpdatedDates| date:'MMM dd YYYY'}}? </p>
    <button pButton type="button" class="btn btn-primary" label="Yes" (click)="addPresent()"
        id="Attendance_addPresent"></button>
    <button pButton type="button" class="btn btn-danger" label="Cancel" (click)="onReject()"
        id="Attendance_onReject"></button>
</p-dialog>