<div class="flex flex-column">
    <div class="grid">
        <div class="col-12 roles-container">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-6 md:col-3">
                    <input pInputText type="text" class="w-full" placeholder="Employee Name"
                        (input)="onGlobalFilter(dt1, $event)" />
                </div>
                <div class="field col-6 md:col-3">
                    <p-calendar styleClass="only-icon" [showIcon]="true" view="month" s dateFormat="mm/yy"
                        [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" inputId="monthpicker">
                    </p-calendar>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- p-dialog -->
<p-dialog [(visible)]="dialog" [modal]="true" showEffect="fade" [breakpoints]="{'960px': '70%', '640px': '80%'}">
    <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbleave">
            <div class="p-fluid p-formgrid">
                <div style="margin-bottom: 15px;">
                    <label>Employee:<sup class="p-error">*</sup></label>&nbsp;
                    <p-dropdown [options]="employees" [readonly]="FormControls['employeeId'].value!== null"
                        formControlName="employeeId" optionLabel="employeeName" [filter]="true"
                        filterBy="employeeCode,employeeName" placeholder="Select Employee" optionValue="employeeId">
                        <ng-template let-employee pTemplate="item">
                            <div class="country-item">
                                <div>{{ employee.employeeCode }}</div>
                                <div>{{ employee.employeeName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div style="margin-bottom: 15px;">
                    <label>Leave Type:<sup class="p-error">*</sup></label>&nbsp;
                    <p-dropdown formControlName="dayWorkStatusId" [options]="LeaveType" optionLabel="name"
                        optionValue="lookupDetailId" placeholder="Select Leave Type"></p-dropdown>
                </div>
                <div style="margin-bottom: 15px;">
                    <label>From Date:<sup class="p-error">*</sup></label>&nbsp;
                    <p-calendar formControlName="date" [readonlyInput]="FormControls['employeeId'].value!== null"
                        appendTo="body" placeholder="Enter From Date" [showIcon]="true"></p-calendar>
                </div>
                <div style="margin-bottom: 15px;">
                    <label>To Date:<sup class="p-error">*</sup></label>&nbsp;
                    <p-calendar [showIcon]="true" formControlName="toDate" placeholder="Enter To Date" appendTo="body">
                    </p-calendar>
                </div>
                <div style="margin-bottom: 15px;">
                    <label>Leave Narration:<sup class="p-error">*</sup></label>&nbsp;
                    <textarea rows="5" cols="30" pInputTextarea formControlName="leaveDescription"></textarea>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center">
            <button pButton pRipple type="submit" class="p-button-raised p-button-primary"
                label="Add Attendance"></button>
        </div>
    </ng-template>
</p-dialog>
<p-button type="button" label="Add Attendence" id="AddressDetails-Btn"
                                (click)="addPresent()" >
                            </p-button>

<!-- p-table -->
<p-table #dt1 [value]="employeeAttendenceList" [rowHover]="true" styleClass="p-datatable-striped"
    responsiveLayout="scroll" [globalFilterFields]="globalFilterFields" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Employee</th>
            <th *ngFor="let i of days">{{i}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
        <tr>
            <td>{{employee.EmployeeName}}</td>
            <td *ngFor="let i of days" [ngStyle]="{'background-color':isEligibleForLeave(employee, i)==='WOff'?'grey':'','border-left':isEligibleForLeave(employee, i)==='WOff'?'0.5px solid white':''}">
                <ng-container *ngIf="isEligibleForLeave(employee, i)">
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'PT' ? 'green' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'PT'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'AT' ? 'green' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'AT'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'CL' ? 'orange' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'CL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'PL' ? 'pink' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'PL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'EL' ? 'black' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'EL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'SL' ? 'red' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'SL'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'WOff' ? 'white' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'WOff'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'HD' ? 'blue' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'HD'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                    <span
                        [ngStyle]="{'font-size': '1rem','color': employee[getFormattedDate(i)] === 'NU' ? 'blue' : ''}"
                        (click)="showDialog(employee.EmployeeId, getFormattedDate(i))"
                        *ngIf="isEligibleForLeave(employee, i) === 'NU'">
                        {{ employee[getFormattedDate(i)] }}
                    </span>
                </ng-container>

            </td>
        </tr>
    </ng-template>
</p-table>