<p-confirmDialog [style]="{width: '30%'}"></p-confirmDialog>
<div class="col-12">
  <div class="card">
    <!-- Toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Projects</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <div *ngIf="permission?.CanDownloadProjects">
          <p-dropdown [options]="this.ProjectstatuesReportType" optionLabel="name"
            placeholder="Select Project Report Type" (onChange)="downloadProjectReport($event.value)"
            optionValue="eProjectStatusesId" class="att_dropdown">
          </p-dropdown>

        </div>
        <div *ngIf="permission?.CanDownloadProjects">
          <button type="button " pButton icon="icon-csv-svgrepo-com-1"
            class=" mr-2 doc_button doc_button att_report_button" pTooltip="Download Attendance Report"
            tooltipPosition="left"></button>
        </div>
        <button pButton pRipple label="Add New Project" icon="pi pi-plus" class="p-button-primary p-mr-2"
          id="Project_addProject" *ngIf="permission?.CanManageProjects" (click)="onEditProject(null)"></button>
      </ng-template>
    </p-toolbar>


    <!-- dialog -->
    <p-dialog header="Project" [(visible)]="editProject" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '70%', '640px': '60%'}" [style]="{width: '70%'}">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbproject" (ngSubmit)="onSubmit()" id="Role_roleForm">
          <div class="grid">
            <div class="col-12 ">
              <p-fieldset legend="Project Details" [toggleable]="true">
                <!-- <h5>Project Details</h5> -->
                <div class=" grid">
                  <div class=" col-12 md:col-7">
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-6 p-2 mb-1">
                        <label class="required">Code: </label>&nbsp; <input pInputText id="Project_code" type="text"
                          formControlName="code"
                          [ngClass]="{ 'is-invalid ng-dirty': projectFormControls['code'].touched &&projectFormControls['code'].errors }"
                          (keydown)="restrictSpaces($event)"
                          [readonly]="projectFormControls['projectId'].value!== null && projectFormControls['projectId'].value!== 0"
                          [maxlength]="maxLength.code" placeholder="Enter Code" #code alphaNumeric />
                        <div class="flex">
                          <div class="align-left w-60" style="width:70%">
                            <span *ngIf="projectFormControls['code'].touched && projectFormControls['code'].invalid">
                              <div class="ng-invalid ng-touched p-error"
                                *ngIf="projectFormControls['code'].errors?.['required']"> Please Enter Code.</div>
                              <div class="ng-invalid ng-touched p-error"
                                *ngIf="projectFormControls['code'].errors?.['minlength'] || projectFormControls['code'].errors?.['maxlength']">
                                Code should be minimun of 4 and maximum of 20 Characters.</div>
                            </span>
                          </div>
                          <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{code.value.length}}/20</small>
                          </div>
                        </div>
                      </div>
                      <div class="field col-12 md:col-6 p-2 mb-1">
                        <label class="required">Name: </label>&nbsp; <input pInputText id="Project_name" type="text"
                          formControlName="name"
                          [ngClass]="{ 'is-invalid ng-dirty': projectFormControls['name'].touched &&projectFormControls['name'].errors }"
                          (keydown)="restrictSpaces($event)"
                          [readonly]="projectFormControls['projectId'].value!== null && projectFormControls['projectId'].value!== 0"
                          [maxlength]="maxLength.name" placeholder="Enter Name" #name alphaNumeric />
                        <div class="flex">
                          <div class="align-left w-60" style="width:70%">
                            <span *ngIf="projectFormControls['name'].touched && projectFormControls['name'].invalid">
                              <div class="ng-invalid ng-touched p-error"
                                *ngIf="projectFormControls['name'].errors?.['required']"> Please Enter Name.</div>
                              <div class="ng-invalid ng-touched p-error"
                                *ngIf="projectFormControls['name'].errors?.['minlength'] || projectFormControls['name'].errors?.['maxlength']">
                                Name should be minimun of 2 and maximum of 50 Characters.</div>
                            </span>
                          </div>
                          <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{name.value.length}}/50</small>
                          </div>
                        </div>
                      </div>
                      <div class=" col-12 md:col-6 p-2">
                        <label for="textarea">Description: <sup class="p-error">*</sup>
                        </label>&nbsp; <textarea inputId="textarea" pInputTextarea rows="4" cols="30"
                          [ngClass]="{ 'is-invalid ng-dirty': projectFormControls['description'].touched &&projectFormControls['description'].errors }"
                          (keydown)="restrictSpaces($event)" [maxlength]="maxLength.description"
                          id="Project_description" #description placeholder="Enter Description"
                          formControlName="description"></textarea>
                        <div class="flex">
                          <div class="align-left w-60" style="width:70%">
                            <span
                              *ngIf="projectFormControls['description'].touched && projectFormControls['description'].invalid">
                              <div class="ng-invalid ng-touched p-error"
                                *ngIf="projectFormControls['description'].errors?.['required']"> Please Enter
                                Description.</div>
                              <div class="ng-invalid ng-touched p-error"
                                *ngIf="projectFormControls['description'].errors?.['minlength'] || projectFormControls['description'].errors?.['maxlength']">
                                Description should be minimun of 2 and maximum of 256 Characters.</div>
                            </span>
                          </div>
                          <div class="align-right w-40" style="width:30%; text-align:right;">
                            <small>{{description.value.length}}/256</small>
                          </div>
                        </div>
                      </div>
                      <div class="field col-12 md:col-6 p-2 mb-1">
                        <label>Upload Project Logo: </label>
                        <br />
                        <div class="div1">
                          <img
                            [src]="this.fbproject.get('logo').value  ? this.fbproject.get('logo').value : 'https://t3.ftcdn.net/jpg/02/18/21/86/360_F_218218632_jF6XAkcrlBjv1mAg9Ow0UBMLBaJrhygH.jpg'"
                            onerror="this.onerror=null" alt="photo" width="100px" class="up_logo ">
                          <button *ngIf="this.fbproject.get('logo').value" class="cancel-button"
                            (click)="cancelSelection($event)"><i class="pi pi-times"></i></button>
                        </div>
                        <br />
                        <br />
                        <label for="singleFile"
                          class="p-element p-ripple p-button-raised p-button-primary p-button p-component"
                          style="width:auto !important; white-space: nowrap;">
                          <i class="pi pi-paperclip"></i> Choose Logo: </label>
                        <input id="singleFile" #fileUpload name="myFile" type="file" [accept]="fileTypes" hidden
                          (change)="fileChangeEvent($event)" />
                        <app-image-cropper [imageChangedEvent]="imageToCrop" (done)="onCrop($event)">
                        </app-image-cropper>
                      </div>
                    </div>
                  </div>
                  <div class=" col-12 md:col-5 pt-2 pl-0">
                    <div class="field col-12 md:col-12 pt-0 mb-1">
                      <label class="required">Project Status: </label>
                      <div *ngFor="let item of this.projectStatues;let i=index;"
                        class="field-checkbox flex project_status_checkbox">
                        <div>
                          <p-radioButton [value]="item.eProjectStatusesId" id="ProjectStatus{{item.name}}"
                            formControlName="eProjectStatusesId" (onClick)="onRadioButtonChange(item)"
                            [ngClass]="{'disabled-radio': shouldDisableRadioButton(item)}"></p-radioButton>
                          <label class="ml-2 mr-3">{{ item.name }}</label>
                        </div>
                        <input id="ProjectStatusInput" type="text" *ngIf="projectDetails[item.name.toLowerCase()]!==null&&projectDetails[item.name.toLowerCase()]!==undefined
                            && item.eProjectStatusesId!==this.fbproject.get('eProjectStatusesId').value" pInputText
                          [value]="getFormattedDate(projectDetails[item.name.toLowerCase()])" />
                        <p-calendar id="ProjectStatusCalendar" [readonlyInput]="true" [showIcon]="true"
                          formControlName="Date" appendTo="body" [minDate]="this.minDate" [class.disabled-calendar]="projectDetails[item.name.toLowerCase()] !== null &&
                             projectDetails[item.name.toLowerCase()] !== undefined"
                          *ngIf="item.eProjectStatusesId===this.fbproject.get('eProjectStatusesId').value"
                          yearRange="2000:2030" placeholder="Select Date" mask="99/99/9999"></p-calendar>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>
              <br />
              <p-fieldset legend="Client Details" class="mt-2" [toggleable]="true">
                <div class="p-fluid p-formgrid grid" formGroupName="clients">
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label class="required">Company Full Name: </label>&nbsp; <p-autoComplete
                      formControlName="companyName" [suggestions]="this.filteredClients"
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['companyName'].touched && fcClientDetails.controls['companyName'].errors }"
                      (keydown)="restrictSpaces($event)" [maxlength]="maxLength.name"
                      [readonly]="projectFormControls['projectId'].value!== null && projectFormControls['projectId'].value!== 0"
                      placeholder="Enter Company Full Name" #CompanyName (completeMethod)="filterClients($event)"
                      (onSelect)="onAutocompleteSelect($event)" [field]="'companyName'" [dataKey]="null"
                      id="Project_fullName"></p-autoComplete>
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['companyName'].touched && fcClientDetails.controls['companyName'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['companyName'].errors?.['required']"> Please Enter Company
                            Full Name.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['companyName'].errors?.['minlength'] || fcClientDetails.controls['companyName'].errors?.['maxlength']">
                            CompanyName should be minimun of 2 and maximum of 50 Characters.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['companyName'].errors?.['pattern']"> Company Name Should
                            Contain AlphaNumerics Only.</div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label class="required">Name: </label>&nbsp; <input pInputText id="Project_clientName" type="text"
                      placeholder="Enter Name" alphaOnly
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['name'].touched && fcClientDetails.controls['name'].errors }"
                      (keydown)="restrictSpaces($event)" [maxlength]="maxLength.name" #clientName
                      formControlName="name" />
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['name'].touched && fcClientDetails.controls['name'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['name'].errors?.['required']"> Please Enter Name.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['name'].errors?.['minlength'] || fcClientDetails.controls['name'].errors?.['maxlength']">
                            Name should be minimun of 2 and maximum of 50 Characters.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{clientName.value.length}}/50</small>
                      </div>
                    </div>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label class="required">Email Id: </label>&nbsp; <input pInputText id="Project_clientEmail"
                      placeholder="Enter Email Id" formControlName="email"
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['email'].touched && fcClientDetails.controls['email'].errors }"
                      (keydown)="restrictSpaces($event)" />
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['email'].touched && fcClientDetails.controls['email'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['email'].errors?.['required']"> Please Enter Email Id.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['email'].errors?.['pattern']"> Please Enter Valid Email Id.
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label>Mobile No: </label>&nbsp; <input pInputText id="Project_clientMobileNo" type="text"
                      placeholder="Enter Mobile No"
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['mobileNumber'].touched && fcClientDetails.controls['mobileNumber'].errors }"
                      #clientNo [maxlength]="maxLength.phoneNo" formControlName="mobileNumber" numericOnly />
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['mobileNumber'].touched && fcClientDetails.controls['mobileNumber'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['mobileNumber'].errors?.['pattern']"> Please Enter Valid
                            Client Mobile No.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{clientNo.value.length}}/10</small>
                      </div>
                    </div>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label class="required">CIN/GST No: </label>&nbsp; <input pInputText id="Project_cinNo" type="text"
                      placeholder="Enter CIN/GST No" #cinno
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['cinno'].touched && fcClientDetails.controls['cinno'].errors }"
                      (keydown)="restrictSpaces($event)" alphaNumeric [maxlength]="maxLength.cinNo"
                      formControlName="cinno" />
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['cinno'].touched && fcClientDetails.controls['cinno'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['cinno'].errors?.['required']"> Please Enter CIN/GST No.
                          </div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['cinno'].errors?.['minlength'] || fcClientDetails.controls['cinno'].errors?.['maxlength']">
                            CIN/GST No Must Be In 21 Digits.</div>

                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{cinno.value.length}}/21</small>
                      </div>
                    </div>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label class="required">Is Active: </label>
                    <br> &nbsp; <p-inputSwitch formControlName="isActive" id="Project_clientIsActive"
                      [readonly]="projectFormControls['projectId'].value== null"></p-inputSwitch>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label class="required">POC Name: </label>&nbsp; <input pInputText id="Project_pocName" type="text"
                      placeholder="Enter POC Name"
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['pocName'].touched && fcClientDetails.controls['pocName'].errors }"
                      (keydown)="restrictSpaces($event)" #pocName [maxlength]="maxLength.name" alphaOnly
                      formControlName="pocName" />
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['pocName'].touched && fcClientDetails.controls['pocName'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['pocName'].errors?.['required']"> Please Enter POC Name.
                          </div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['pocName'].errors?.['minlength'] || fcClientDetails.controls['pocName'].errors?.['maxlength']">
                            POC Name should be minimun of 2 and maximum of 50 Characters.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{pocName.value.length}}/50</small>
                      </div>
                    </div>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label class="required">POC Ph.no: </label>&nbsp; <input pInputText id="Project_pocMobileNo"
                      type="text" #pocNo numericOnly
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['pocMobileNumber'].touched && fcClientDetails.controls['pocMobileNumber'].errors }"
                      [maxlength]="maxLength.phoneNo" placeholder="Enter POC Ph.no" formControlName="pocMobileNumber" />
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['pocMobileNumber'].touched && fcClientDetails.controls['pocMobileNumber'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['pocMobileNumber'].errors?.['required']"> Please Enter POC
                            Ph.no.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['pocMobileNumber'].errors?.['pattern']"> Please Enter Valid
                            Client MobileNo.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{pocNo.value.length}}/10</small>
                      </div>
                    </div>
                  </div>
                  <div class="field  col-12 md:col-4 p-2 mb-1">
                    <label>Address: </label>&nbsp; <textarea inputId="textarea" rows="3" cols="30"
                      id="Project_clientAddress" pInputTextarea #address
                      [ngClass]="{ 'is-invalid ng-dirty': fcClientDetails.controls['address'].touched && fcClientDetails.controls['address'].errors }"
                      (keydown)="restrictSpaces($event)" [maxlength]="maxLength.address" formControlName="address"
                      placeholder="Enter Address" class="freeze_text-area"></textarea>
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="fcClientDetails.controls['address'].touched && fcClientDetails.controls['address'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['address'].errors?.['minlength']"> Address Min Characters Is
                            2.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="fcClientDetails.controls['address'].errors?.['maxlength']"> Address Max Characters Is
                            256.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{address.value.length}}/256</small>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>
              <p-fieldset legend="Allott Empolyee(s):" class="mt-2 allott-employee" [toggleable]="true">
                <div class="p-fluid p-formgrid grid">
                  <div class="field col-12 md:col-4" style=" padding: 0 20px;  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;">
                    <p-tabView id="rolesTabView">
                      <p-tabPanel [header]="role.Name" *ngFor="let role of Roles" [disabled]="!role.EnableLink">

                        <div class="p-inputgroup col-12" *ngIf="EmployeesLengthBasedOnRole[role.Name]?.length >= 10">
                          <input pInputText type="text" class="w-full" placeholder="Search Employee"
                            #filterEmployeesInput id="Project_Employee_Search_{{role.Name}}" 
                            (keyup)="employeeSearch(role.Name, filterEmployeesInput.value)" />
                          <span class="p-inputgroup-addon" (click)="clearInput(role.Name)"><i class="pi pi-undo"></i></span>
                        </div>
                        
                        <div class="col-12 drag-column">
                          <div *ngFor="let employee of getRoleEmployees(role.Name)">
                            <div class="card border-1 surface-border card-height project_employee_card mb-5"
                              pDraggable="allottedEmployee" draggable (onDragStart)="onEmployeeDragStart(employee)"
                              (onDragEnd)="onEmployeeDragEnd()">
                              <div class="image-container">

                              </div>
                              <div class="project-employee-detail">
                                <!-- <h5 class="mb-2">{{employee.fullName}}</h5> -->
                                <p-tag styleClass="mr-2 hrms-tag-employees" icon="pi pi-user"
                                  [value]="employee.fullName"></p-tag>
                                <!-- <i class="pi pi-tag product-category-icon"></i> -->
                                <div class="product-category">{{employee.code}}</div>
                                <div class="product-category">{{employee.dateofJoin | date :
                                  'longDate' }}</div>
                                <div>{{employee.designation}}</div>
                                <!-- <div class="mb-2">{{employee.reportingTo}}</div> -->
                              </div>
                              <div class="hrms-project-list-detail" style="display: grid;">
                                <span class="title">Allotted Projects</span>
                                <p-tag styleClass="mr-2 hrms-tag-allotted-projects" icon="pi pi-user-plus"
                                  [value]="employee.reportingTo"></p-tag>
                                <!-- <p-tag [value]="employee.reportingTo" ></p-tag> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </p-tabPanel>
                    </p-tabView>
                  </div>
                  <div class="field col-8 md:col-8" style="border:1px solid #cccccc; border-top-left-radius: 10px;
                  border-top-right-radius: 10px;padding:unset">
                    <div class="allotted-employees">Allotted Employee of the Project <span class="project_name">{{
                        projectFormControls['name'].value }}</span>
                      <div style="float:right">
                        <i class="fa fa-refresh" (click)="refreshChartView()"></i>
                        <i class="fa-solid fa-trash" (click)="clearAllotments()"></i>
                      </div>
                    </div>

                    <div style="border-top: 1px solid #ccc">
                      <ng-template #allottEmployees></ng-template>
                    </div>

                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-12 lg:col-4 md:col-4 sm:col-6" style="float:right">
          <button pButton pRipple type="submit" label="SaveProject" class="p-button-raised p-button-primary"
            (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>
    <!-- Projects View -->
    <div class="card" id="projectsview">
      <p-toast key="myToast"></p-toast>
      <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Project View">
          <div class="grid mb-5 p-0">
            <div class="col-12 md:col-4 lg:col-3 sm:col-6" *ngFor="let project of visibleProjects; let i = index ">
              <div class="card border-1 surface-border project_card">
                <button pButton pRipple icon="pi pi-pencil" *ngIf="permission?.CanManageProjects"
                  class="p-element p-ripple p-button-text p-button-primary p-component project_edit_button"
                  (click)="onEditProject(project)" id="project_edit_button"></button>
                <div class="list-none m-0 p-0 text-center" (click)="showProjectDetails(project.projectId)">
                  <!-- <div class="w-10rem h-10rem align-items-center"> -->
                  <div class="avatar_projects">
                    <img [src]="project.logo" alt="img" [alt]="project.name" onerror="this.onerror=null;"
                      class="project_img avatar_projects">
                  </div>
                  <!-- <img [src]="project.logo" alt="img" [alt]="project.name" onerror="this.onerror=null;"
                    class="inline-flex w-10rem h-10rem align-items-center w-10rem justify-content-center border-black-alpha-70 mb-5"> -->

                  <!-- </div> -->
                  <div class="text-2xl mb-3 font-medium">
                    <a class="cursor-pointer" id="Project_viewDetails">{{project.name}} </a>
                  </div>
                  <!-- <p class="line-height-3 mb-3">{{project.description}}</p> -->
                  <div class="project_details p-2">
                    <p>
                      <span class="text-primary">Status</span>: <span
                        class="text-color">{{this.getActiveStatus(project)}}</span>
                    </p>
                    <p>
                      <span class="text-primary">Start Date</span>: <span class="text-color">{{project?.initial| date:
                        'dd MMM, yyyy'}}</span>
                    </p>
                    <p>
                      <span class="text-primary">POC Number </span>: <span
                        class="text-color">{{project?.pocMobileNumber}}</span>
                    </p>
                    <p>
                      <span class="text-primary">POC Name</span>: <span class="text-color">{{project?.pocName}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p-paginator (onPageChange)="onPageChange($event)" *ngIf="projects.length>12" [first]="first" [rows]="rows"
            [totalRecords]="projects.length" [rowsPerPageOptions]="[12, 24, 36]"></p-paginator>
        </p-tabPanel>
        <p-tabPanel header="Org/Project Chart View">
          <div style="float:right;padding: 20px;">
            <p-button appendTo="body" id="download-chart" [style]="{'margin-right':'20px'}"
              (onClick)="emitEventToChild()">Download Chart</p-button>
            <p-dropdown appendTo="body" id="Project_dropdown" placeholder="Select Project Name"
              [options]="ProjectWithCharts()" optionValue="projectId" optionLabel="name" [(ngModel)]="selectedProjectId"
              (ngModelChange)="onProjectChange($event)"></p-dropdown>
          </div>
          <div id="hrms" class="scroll_div scroll  pb-5">
            <ng-template #orgProjectChart></ng-template>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <!-- Project Details Dialog -->
    <p-dialog header="Project Details" [(visible)]="projectDetailsDialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '50%', '640px': '60%'}" [style]="{width: '50%'}">
      <div class="card">
        <div class="grid">
          <div class="col-12 lg:col-3">
            <div class="fex">
              <div class="avatar_projects">
                <img [src]="this.projectDetails.logo" alt="img" class="project_img avatar_projects">
              </div>
              <div class="text-2xl mb-3 font-medium text-left">
                <a class="cursor-pointer " id="Project_viewDetails">{{this.projectDetails.name}}</a>
              </div>

            </div>
          </div>
          <div class="col-12 lg:col-9">
            <div class="grid" style="text-align: left;">

              <div class="col-12 lg:col-10">


                <div class="">
                  <span class="label text-primary font-bold text-900">Project Description:</span><br />
                  <span class="value mt-2 ">{{this.projectDetails.description}}</span>
                </div>
              </div>
              <div class="col-12 lg:col-2" *ngIf="permission?.CanDownloadProjects" style="text-align:right">
                <button pButton class="p-button doc_button"
                  (click)="downloadProjectAllotmentsReport(this.projectDetails.projectId)" icon="icon-csv-svgrepo-com-1"
                  pTooltip="Download CSV" tooltipPosition="left"></button>
              </div>
            </div>
          </div>
        </div>
        <p-tabView>
          <p-tabPanel header="Client Details ">
            <div class="card">
              <div class="grid">
                <div class="col-12 md-4 lg-3 sm-6">
                  <div class="pair">
                    <span class="label font-semibold">Company Full Name</span>
                    <span class="value">: {{this.projectDetails.companyName}}</span>
                  </div>
                  <div class="pair">
                    <span class="label font-semibold">CIN/GST No</span>
                    <span class="value">: {{this.projectDetails.cinno}}</span>
                  </div>
                  <div class="pair">
                    <span class="label font-semibold">POC Name</span>
                    <span class="value">: {{this.projectDetails.pocName}}</span>
                  </div>
                  <div class="pair">
                    <span class="label font-semibold">POC Ph.No</span>
                    <span class="value">: {{this.projectDetails.pocMobileNumber}}</span>
                  </div>
                  <div class="pair">
                    <span class="label font-semibold">Address</span>
                    <span class="value">: {{this.projectDetails.address}}</span>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Team Members ">
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-4" *ngFor="let employee of this.projectDetails.expandEmployees">
                <div class="card border-1 surface-border">
                  <div class="project_employye_card">
                    <div class="text-xl font-bold">{{employee.employeeName}}</div>
                    <div class="text-600 font-medium text-sm">EmpId: {{employee.employeeId}}</div>
                  </div>

                  <br />
                  <div style=" text-align:center;">
                    <button pButton pRipple type="submit" label="Unassign"
                      class="p-element p-ripple p-button-text p-button p-component p-button-primary w-100"
                      (click)="showConfirmationDialog(employee)"></button>
                  </div>

                </div>
              </div>
            </div>

          </p-tabPanel>
        </p-tabView>
      </div>
    </p-dialog>

  </div>
</div>